article[class*="type-"] {
  margin-bottom: 50px;
  display: inline-block;
  width: 100%; }
  article[class*="type-"]:last-of-type {
    margin-bottom: 0; }
  article[class*="type-"] .entry-cover {
    display: inline-block;
    width: 100%; }
    article[class*="type-"] .entry-cover a {
      display: inline-block;
      position: relative; }
    article[class*="type-"] .entry-cover a::before {
      transition: all 1s ease 0s; }
    article[class*="type-"] .entry-cover a::after {
      transition: all 1s ease 0s; }
    article[class*="type-"] .entry-cover > a::before {
      color: #fff;
      content: "\e67b";
      font-family: Stroke-Gap-Icons;
      font-size: 25px;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0; }
    article[class*="type-"] .entry-cover > a::after {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      content: "";
      display: inline-block;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transform: scale(0); }
    article[class*="type-"] .entry-cover > a:hover::before {
      opacity: 1; }
    article[class*="type-"] .entry-cover > a:hover::after {
      transform: scale(1); }
  article[class*="type-"] .entry-content {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 110px;
    margin-top: 30px;
    min-height: 85px;
    margin-bottom: 10px; }
    article[class*="type-"] .entry-content .entry-meta {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px; }
      article[class*="type-"] .entry-content .entry-meta span {
        color: #666;
        display: inline-block;
        font-size: 13px;
        letter-spacing: 0.52px;
        margin-bottom: 5px;
        font-weight: 400; }
        article[class*="type-"] .entry-content .entry-meta span i {
          margin-right: 13px; }
        article[class*="type-"] .entry-content .entry-meta span a {
          color: #666; }
          article[class*="type-"] .entry-content .entry-meta span a:hover {
            color: #c00; }
    article[class*="type-"] .entry-content .entry-title {
      color: #222222;
      font-family: Raleway sans-serif, sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.72px;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 26px; }
      article[class*="type-"] .entry-content .entry-title a {
        transition: all 1s ease 0s;
        color: #222222;
        text-decoration: none;
        text-transform: uppercase; }
        article[class*="type-"] .entry-content .entry-title a:hover {
          color: #c00; }
    article[class*="type-"] .entry-content > a {
      transition: all 1s ease 0s;
      color: #222222;
      font-family: Raleway sans-serif, sans-serif;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.72px;
      text-transform: uppercase;
      text-decoration: none; }
      article[class*="type-"] .entry-content > a:hover {
        color: #c00; }
    article[class*="type-"] .entry-content p {
      color: #777777;
      font-size: 13px;
      line-height: 26px;
      letter-spacing: 0.52px;
      margin-bottom: 16px;
      margin-bottom: 10px; }
    article[class*="type-"] .entry-content > .post-date {
      position: absolute;
      left: 0;
      top: 0; }
      article[class*="type-"] .entry-content > .post-date a:hover {
        background-color: #e7d3b4;
        color: #fff; }
      article[class*="type-"] .entry-content > .post-date a span {
        display: block;
        font-size: 16px;
        letter-spacing: 0.64px;
        line-height: 22px;
        text-transform: capitalize; }
  article[class*="type-"] .entry-footer {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    padding: 13px 24px 3px 127px;
    z-index: 1; }
    article[class*="type-"] .entry-footer .tags-links {
      color: #222222;
      font-family: Raleway sans-serif, sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      display: inline-block;
      width: 100%; }
      article[class*="type-"] .entry-footer .tags-links > a {
        border: 1px solid rgba(200, 200, 200, 0.5);
        color: #777777;
        padding: 10px 22px;
        font-size: 13px;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        letter-spacing: 0.546px;
        text-decoration: none; }
        article[class*="type-"] .entry-footer .tags-links > a:first-child {
          margin-left: 25px; }
        article[class*="type-"] .entry-footer .tags-links > a:hover {
          background-color: #c00;
          border-color: transparent;
          color: #fff; }
    article[class*="type-"] .entry-footer .share-this {
      float: right; }
      article[class*="type-"] .entry-footer .share-this > a {
        color: #222222;
        text-transform: capitalize;
        letter-spacing: 0.588px;
        margin: 10px 0;
        display: inline-block;
        text-decoration: none; }
        article[class*="type-"] .entry-footer .share-this > a:hover {
          color: #c00; }
  article[class*="type-"] .entry-footer::before {
    border: 1px solid #efefef;
    content: "";
    display: inline-block;
    position: absolute;
    left: 110px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1; }
  article[class*="type-"] .about-author {
    padding-left: 110px;
    display: inline-block;
    width: 100%; }
    article[class*="type-"] .about-author .author-details {
      display: inline-block;
      width: 100%;
      padding: 30px 30px 30px 130px;
      border: 1px solid #ececec;
      position: relative;
      min-height: 134px; }
      article[class*="type-"] .about-author .author-details i {
        position: absolute;
        left: 30px;
        top: 22px; }
        article[class*="type-"] .about-author .author-details i img {
          border: 1px solid #c00; }
      article[class*="type-"] .about-author .author-details p {
        color: #777777;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
        margin-bottom: 0; }
  article[class*="type-"].no-post-thumbnail .entry-content {
    margin-top: 0; }
  article[class*="type-"].format-gallery .entry-content {
    margin-top: 25px; }

footer .header-search {
  display: none; }

footer .widget {
  margin-bottom: 30px;
  font-family: Raleway sans-serif, sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.65px; }
  footer .widget.widget_recent_comments a {
    text-transform: capitalize; }
  footer .widget.widget_recent_comments ul li a::before {
    content: "";
    display: none; }
  footer .widget .footer-social {
    padding-left: 0; }
    footer .widget .footer-social li {
      display: inline-block;
      margin-top: 5px;
      margin-right: 10px;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      width: auto; }
      footer .widget .footer-social li:last-of-type {
        margin-right: 0; }
      footer .widget .footer-social li a {
        border: 1px solid #6f6f6f;
        float: left;
        width: 41px;
        height: 41px;
        color: #6f6f6f;
        padding: 0;
        text-align: center;
        line-height: 41px;
        transition: all 1s ease 0s;
        font-size: 15px; }
        footer .widget .footer-social li a:hover {
          border-color: #c00;
          color: #c00; }
  footer .widget.widget_recent_entries a {
    text-transform: capitalize; }
  footer .widget.widget_recent_entries ul li a::before {
    top: 6px; }
  footer .widget.woocommerce.widget_product_categories ul li a {
    border-bottom: none;
    padding-bottom: 0; }
  footer .widget.woocommerce ul.product_list_widget li a::before {
    background-image: none;
    height: 0;
    width: 0; }
  footer .widget.woocommerce ul.product_list_widget li a {
    font-weight: 700; }
  footer .widget.tribe-events-list-widget ol {
    padding-left: 0; }
  footer .widget.tribe-events-list-widget .tribe-events-list-widget-events {
    padding: 0; }
  footer .widget.tribe-events-list-widget .tribe-event-date-start,
  footer .widget.tribe-events-list-widget .tribe-event-time {
    color: inherit; }
  footer .widget.tribe-events-list-widget .tribe-events-widget-link {
    display: none; }
  footer .widget ul li,
  footer .widget ol li {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 15px;
    color: #7a7a7a; }
    footer .widget ul li:last-child,
    footer .widget ol li:last-child {
      margin-bottom: 0; }
    footer .widget ul li a::before,
    footer .widget ol li a::before {
      background-image: url(../images/ftr-link-ic.png);
      content: "";
      display: inline-block;
      width: 19px;
      height: 9px;
      margin-right: 15px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 6px; }
    footer .widget ul li a,
    footer .widget ol li a {
      border-bottom: none;
      font-family: Raleway sans-serif, sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.65px;
      color: #6f6f6f;
      text-decoration: none;
      transition: all 0.5s ease 0s;
      position: relative;
      padding-left: 30px;
      display: block;
      word-wrap: break-word;
      white-space: normal; }
  footer .widget.widget_about ul li a::before {
    content: "";
    display: none; }
  footer .widget.widget_archive ul li a {
    display: inline; }
  footer .widget.widget_archive ul li a::before {
    background-image: url(../images/ftr-cat-ic.png);
    height: 19px;
    width: 11px; }
  footer .widget.widget_categories ul li a {
    display: inline; }
  footer .widget.widget_categories ul li a::before {
    background-image: url(../images/ftr-cat-ic.png);
    height: 19px;
    width: 11px; }
  footer .widget.widget_nav_menu ul li {
    margin-bottom: 0; }
    footer .widget.widget_nav_menu ul li a {
      margin-bottom: 15px; }

footer .widget-title {
  padding-bottom: 12px;
  text-align: left; }

footer .widget-title::before {
  background-color: #c00;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 37px; }

footer.footer-main-2 .widget_mc4wp_form_widget .mc4wp-form-fields .form-control {
  color: #aaaaaa;
  min-height: 45px;
  background-color: #fff;
  min-height: 45px;
  border: none;
  color: #555;
  font-weight: 500; }

footer.footer-main-2 .widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"] {
  min-height: 45px; }

footer.footer-main-2 .widget_mc4wp_form_widget .mc4wp-alert.mc4wp-error p {
  color: #fff; }

footer.footer-main-2 .woocommerce.widget_shopping_cart .amount {
  color: #aaaaaa; }

footer.footer-main-2 .woocommerce.widget_shopping_cart .total {
  color: #aaaaaa; }

footer.footer-main-2 .woocommerce select {
  color: #aaaaaa;
  color: #aaaaaa !important; }

footer.footer-main-2 .breadcrumbs {
  color: #aaaaaa; }

footer.footer-main-2 .widget_calendar td {
  color: #aaaaaa; }

footer.footer-main-2 .widget_calendar th {
  color: #aaaaaa; }

footer.footer-main-2 .widget_calendar caption {
  color: #aaaaaa; }

footer.footer-main-2 .widget_calendar #next a {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_calendar #next a:hover {
    color: #c00; }

footer.footer-main-2 .widget_calendar #prev a {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_calendar #prev a:hover {
    color: #c00; }

footer.footer-main-2 .widget a {
  color: #aaaaaa; }
  footer.footer-main-2 .widget a:hover {
    color: #c00; }

footer.footer-main-2 .widget select {
  color: #aaaaaa !important; }

footer.footer-main-2 .widget .select_box select {
  color: #aaaaaa; }

footer.footer-main-2 .widget ul li a {
  color: #aaaaaa; }
  footer.footer-main-2 .widget ul li a:hover {
    color: #c00; }

footer.footer-main-2 .widget.woocommerce .buttons a {
  color: #fff;
  font-weight: 700; }

footer.footer-main-2 .widget_instagram {
  color: #aaaaaa; }

footer.footer-main-2 .widget_rss ul li cite {
  color: #aaaaaa; }

footer.footer-main-2 .widget_rss ul li .rss-date {
  color: #aaaaaa; }

footer.footer-main-2 .widget_text .textwidget {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_text .textwidget p {
    color: #aaaaaa; }
    footer.footer-main-2 .widget_text .textwidget p strong {
      color: #aaaaaa; }

footer.footer-main-2 .widget_recentposts .recent-content span {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_recentposts .recent-content span a {
    color: #aaaaaa; }
    footer.footer-main-2 .widget_recentposts .recent-content span a:hover {
      color: #c00; }

footer.footer-main-2 .widget_recentposts .recent-content h5 > a {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_recentposts .recent-content h5 > a:hover {
    color: #c00; }

footer.footer-main-2 .page_search .searchform .btn.btn-default {
  color: #aaaaaa; }

footer.footer-main-2 .widget_about p {
  color: #aaaaaa; }

footer.footer-main-2 .widget-area a {
  color: #aaaaaa; }

footer.footer-main-2 .widget_workingtime td {
  color: #aaaaaa; }

footer.footer-main-2 .widget_search .input-group .form-control {
  color: #aaaaaa; }
  footer.footer-main-2 .widget_search .input-group .form-control:-moz-placeholder {
    color: #aaaaaa; }
  footer.footer-main-2 .widget_search .input-group .form-control:-ms-input-placeholder {
    color: #aaaaaa; }

footer.footer-main-2 .widget_search .input-group .form-control::-webkit-input-placeholder {
  color: #aaaaaa; }

footer.footer-main-2 .widget_search .input-group .form-control::-moz-placeholder {
  color: #aaaaaa; }

footer.footer-main-2 .tagcloud a {
  color: #fff; }
  footer.footer-main-2 .tagcloud a:hover {
    background-color: #fff;
    color: #000; }

footer .widget_text .textwidget {
  font-weight: 700;
  font-size: 13px; }
  footer .widget_text .textwidget p {
    font-weight: 700;
    font-size: 13px; }
    footer .widget_text .textwidget p strong {
      font-weight: 700;
      font-size: 13px; }

footer .widget_mc4wp_form_widget .mc4wp-form-fields .form-control {
  font-weight: 700;
  font-size: 13px; }

footer .widget_search .input-group .form-control {
  font-weight: 700;
  font-size: 13px; }

footer .widget_recentposts .recent-content h5 > a {
  font-weight: 700;
  color: #6f6f6f; }

footer .widget_breadcrumb_navxt .breadcrumbs > span::after {
  content: ""; }

.top-footer {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 40px; }

.bottom-footer {
  background-color: #222222;
  padding: 15px 0;
  text-align: center; }
  .bottom-footer p {
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 0;
    text-transform: capitalize; }

.footer-main-1 .widget_instagram {
  color: #6f6f6f; }

.footer-main-1 .widget_calendar caption {
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px; }

.footer-main-1 .widget_calendar td {
  color: #6f6f6f;
  font-weight: 700; }

.footer-main-1 .widget_calendar th {
  color: #6f6f6f;
  font-weight: 700; }

.footer-main-1 .widget_calendar #next a {
  color: #6f6f6f;
  font-weight: 700;
  border-color: #6f6f6f; }

.footer-main-1 .widget_calendar #prev a {
  color: #6f6f6f;
  font-weight: 700;
  border-color: #6f6f6f; }

.footer-main-1 .widget_about p {
  color: #6f6f6f;
  letter-spacing: 0.65px;
  line-height: 26px;
  font-family: Lato, sans-serif;
  font-weight: 500; }

.footer-main-2 .widget_calendar #next a {
  border-color: #aaaaaa; }

.footer-main-2 .widget_calendar #prev a {
  border-color: #aaaaaa; }

.footer-main-2 .top-footer {
  background-color: #222222; }
  .footer-main-2 .top-footer .widget-title {
    color: #fff; }
  .footer-main-2 .top-footer .widget_about {
    padding-right: 0; }
  .footer-main-2 .top-footer .widget_subscribe {
    padding-right: 20px;
    margin-top: 20px; }
    .footer-main-2 .top-footer .widget_subscribe .form-control {
      box-shadow: none;
      border: none;
      border-radius: 0;
      outline: none;
      height: 45px;
      padding-left: 20px;
      padding-right: 20px; }
    .footer-main-2 .top-footer .widget_subscribe .btn {
      box-shadow: none;
      background-color: #c00;
      color: #fff;
      height: 45px;
      border: none;
      font-family: Raleway sans-serif, sans-serif;
      font-weight: bold;
      letter-spacing: 0.7px;
      border-radius: 0;
      outline: none;
      text-transform: uppercase;
      padding-left: 23px;
      padding-right: 23px;
      transition: all 0.5s ease 0s; }
      .footer-main-2 .top-footer .widget_subscribe .btn:hover {
        background-color: #000;
        color: #c00; }
  .footer-main-2 .top-footer .widget_instagram .instafeed a {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 3px; }

.footer-main-2 .bottom-footer {
  background-color: #0a0a0a; }

.header_s .top-header1 {
  background-color: #0a0a0a; }
  .header_s .top-header1 .top-left {
    margin: 8px 0; }
    .header_s .top-header1 .top-left span {
      font-family: Raleway sans-serif;
      font-size: 13px;
      letter-spacing: 0.24px;
      font-weight: 500;
      color: #ddd; }
      .header_s .top-header1 .top-left span + span {
        margin-left: 25px; }
      .header_s .top-header1 .top-left span a {
        color: #ddd;
        text-decoration: none; }
        .header_s .top-header1 .top-left span a i {
          margin-right: 10px; }
        .header_s .top-header1 .top-left span a:hover {
          color: #93723e; }
  .header_s .top-header1 .top-right {
    text-align: right;
    vertical-align: middle; }
    .header_s .top-header1 .top-right .top-social {
      padding-left: 0;
      margin-bottom: 0;
      margin-right: 31px;
      vertical-align: middle;
      display: inline-block; }
      .header_s .top-header1 .top-right .top-social li {
        float: left;
        list-style: none;
        margin: 8px 13px; }
        .header_s .top-header1 .top-right .top-social li:first-child {
          margin-left: 0; }
        .header_s .top-header1 .top-right .top-social li a {
          color: #ddd;
          font-size: 13px; }
          .header_s .top-header1 .top-right .top-social li a:hover {
            color: #93723e; }
    .header_s .top-header1 .top-right .search-block {
      background-color: #2c2c2c;
      width: 172px;
      height: 39.5px;
      padding-left: 10px;
      padding-right: 10px; }
      .header_s .top-header1 .top-right .search-block .form-control {
        box-shadow: none;
        background-color: transparent;
        height: 36px;
        border: none;
        color: #ddd;
        letter-spacing: 0.24px;
        font-weight: 500;
        outline: none; }
        .header_s .top-header1 .top-right .search-block .form-control:-moz-placeholder {
          color: #a4a4a4; }
        .header_s .top-header1 .top-right .search-block .form-control:-ms-input-placeholder {
          color: #a4a4a4; }
      .header_s .top-header1 .top-right .search-block .btn {
        box-shadow: none;
        background-color: transparent;
        border: none;
        color: #fff;
        outline: none;
        padding: 1px; }
      .header_s .top-header1 .top-right .search-block .form-control::-webkit-input-placeholder {
        color: #a4a4a4; }
      .header_s .top-header1 .top-right .search-block .form-control::-moz-placeholder {
        color: #a4a4a4; }
    .header_s .top-header1 .top-right.searchform-full {
      float: right; }

.header_s .ownavigation {
  background-color: rgba(0, 0, 0, 0.8); }
  .header_s .ownavigation .navbar-nav li a {
    color: #fff;
    font-family: Raleway sans-serif, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.24px;
    text-transform: uppercase; }
    .header_s .ownavigation .navbar-nav li a:hover {
      color: #c00; }
  .header_s .ownavigation .navbar-nav li:hover > a {
    color: #c00; }
  .header_s .ownavigation .navbar-nav li .dropdown-menu > li > a:hover {
    color: #c00; }
  .header_s .ownavigation .navbar-nav > li:last-child {
    margin-right: 0; }
  .header_s .ownavigation .navbar-nav > .active > a {
    color: #c00; }
    .header_s .ownavigation .navbar-nav > .active > a:focus {
      color: #c00; }
    .header_s .ownavigation .navbar-nav > .active > a:hover {
      color: #c00; }

.header_s.header_s2 .ownavigation {
  background-color: #fff; }
  .header_s.header_s2 .ownavigation.navbar-fixed-top {
    border-bottom: 1px solid #f0f0f0; }

#rev_slider1 {
  margin-bottom: 75px; }
  #rev_slider1 .tp-bullets.zeus .tp-bullet {
    background-color: #fff;
    border: 2px solid transparent;
    width: 10px;
    height: 10px; }
    #rev_slider1 .tp-bullets.zeus .tp-bullet:hover::after {
      background-color: #c00; }
    #rev_slider1 .tp-bullets.zeus .tp-bullet.selected::after {
      background-color: #c00; }
    #rev_slider1 .tp-bullets.zeus .tp-bullet.selected {
      background-color: transparent;
      border: 2px solid #efce9b;
      width: 12px;
      height: 12px;
      position: relative;
      margin-left: -2px; }

#rev_slider2 .tp-bullets.zeus .tp-bullet {
  background-color: #fff;
  height: 10px;
  width: 10px; }
  #rev_slider2 .tp-bullets.zeus .tp-bullet:hover::after {
    background-color: #c00; }
  #rev_slider2 .tp-bullets.zeus .tp-bullet.selected::after {
    background-color: #c00; }

#rev_slider2 .slotholder:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); }

.about-section {
  padding-top: 100px;
  padding-bottom: 100px; }

.about-detail > p {
  color: #777777;
  letter-spacing: 0.35px;
  line-height: 26px;
  margin-bottom: 27px; }

.about-detail .chef-detail i {
  display: inline-block; }
  .about-detail .chef-detail i img {
    border-radius: 100%; }

.about-detail .chef-detail span {
  display: inline-block;
  margin-left: 30px; }

.about-detail .chef-detail .cnt {
  display: inline-block;
  margin-left: 30px; }
  .about-detail .chef-detail .cnt h4 {
    color: #222222;
    font-family: Raleway sans-serif, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.64px;
    margin-top: 6px; }
  .about-detail .chef-detail .cnt ul {
    padding-left: 0;
    margin-bottom: 0; }
    .about-detail .chef-detail .cnt ul li {
      display: inline-block; }
      .about-detail .chef-detail .cnt ul li + li {
        margin-left: 20px; }
      .about-detail .chef-detail .cnt ul li a {
        color: #222222; }
        .about-detail .chef-detail .cnt ul li a:hover {
          color: #c00; }

.about-img-block {
  text-align: right; }
  .about-img-block div {
    margin-bottom: 30px; }
    .about-img-block div:last-of-type {
      margin-bottom: 0; }

.about-section2 {
  position: relative;
  padding-bottom: 50px; }
  .about-section2 .about-detail {
    margin-bottom: 80px; }
    .about-section2 .about-detail > a {
      background-color: #c00;
      display: inline-block;
      color: #fff;
      font-size: 13px;
      padding: 13px 20px;
      letter-spacing: 0.52px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.5s ease 0s; }
      .about-section2 .about-detail > a:hover {
        background-color: #222222; }
  .about-section2 .about-img {
    position: absolute;
    right: 0;
    width: 33.125%;
    top: 0; }

.book-table-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  overflow: hidden;
  max-width: 1920px; }
  .book-table-section .section-header {
    padding-bottom: 0; }
    .book-table-section .section-header h4 {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 0; }
  .book-table-section .section-header::before {
    display: none; }
  .book-table-section .form-group {
    margin-bottom: 30px; }
  .book-table-section .input-group {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 0;
    width: 100%; }
    .book-table-section .input-group .input-group-addon {
      box-shadow: none;
      background-color: transparent;
      border: none;
      color: #989898;
      outline: none; }
    .book-table-section .input-group .form-control {
      box-shadow: none; }
  .book-table-section .wpcf7-form .wpcf7-form-control {
    background-color: #fff;
    border: none;
    letter-spacing: 2.1px;
    outline: none;
    min-height: 46px;
    width: 100%;
    color: #777777;
    padding: 6px 10px;
    font-family: Lato, sans-serif;
    font-size: 14px; }
    .book-table-section .wpcf7-form .wpcf7-form-control option {
      margin-bottom: 5px;
      letter-spacing: 0;
      line-height: 30px; }
    .book-table-section .wpcf7-form .wpcf7-form-control:-moz-placeholder {
      color: #777777; }
    .book-table-section .wpcf7-form .wpcf7-form-control:-ms-input-placeholder {
      color: #777777; }
    .book-table-section .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
      background-color: #fff;
      color: #c00; }
  .book-table-section .wpcf7-form .select_box::-ms-expand {
    display: none; }
  .book-table-section .wpcf7-form .select_box option {
    outline: none !important; }
  .book-table-section .wpcf7-form .select_box:active {
    outline: none !important; }
  .book-table-section .wpcf7-form .select_box:focus {
    outline: none !important; }
  .book-table-section .wpcf7-form .wpcf7-form-control::-webkit-input-placeholder {
    color: #777777; }
  .book-table-section .wpcf7-form .wpcf7-form-control::-moz-placeholder {
    color: #777777; }
  .book-table-section .wpcf7-form div.wpcf7-mail-sent-ng {
    position: relative;
    z-index: 1;
    color: #fff;
    border-color: #fff; }
  .book-table-section .wpcf7-form div.wpcf7-validation-errors {
    position: relative;
    z-index: 1;
    color: #fff;
    border-color: #fff; }
  .book-table-section .wpcf7-form .wpcf7-select.wpcf7-form-control {
    line-height: 35px;
    padding-bottom: 6px;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    outline: none;
    color: #777777;
    height: 40px; }
  .book-table-section form .send-btn {
    text-align: center; }
  .book-table-section .wpcf7-form-control.wpcf7-submit {
    background-color: #c00;
    font-family: Raleway sans-serif, sans-serif;
    font-weight: bold;
    border-radius: 0;
    width: auto;
    border: none;
    padding: 13px 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.56px;
    transition: all 0.7s ease 0s; }
    .book-table-section .wpcf7-form-control.wpcf7-submit:hover {
      background-color: #fff;
      color: #c00; }

.book-table-section::before {
  background-color: rgba(34, 34, 34, 0.6);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.counter-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 100px;
  position: relative; }
  .counter-section .section-header h3 {
    color: #fff; }
  .counter-section .section-header h4 {
    color: #c00; }
  .counter-section .counter-box {
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%; }
    .counter-section .counter-box > i {
      width: 63px;
      height: 62px;
      display: inline-block;
      line-height: 62px;
      margin-bottom: 14px; }
    .counter-section .counter-box span {
      color: #fff;
      font-size: 65px;
      display: block; }
    .counter-section .counter-box h6 {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 1.6px;
      line-height: 24px;
      margin-top: 14px;
      margin-bottom: 0; }

.counter-section::before {
  background-color: rgba(34, 34, 34, 0.7);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.latest-events-section {
  margin-top: 80px;
  margin-bottom: 45px; }
  .latest-events-section .row {
    margin: 0; }

.events-item {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 30px; }
  .events-item .event-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 60px 50px 19px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease 0s; }
    .events-item .event-content h4 {
      font-weight: bold;
      font-size: 18px;
      font-style: italic;
      letter-spacing: 0.72px;
      margin-top: 0;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 19px;
      line-height: 26px;
      color: #fff; }
    .events-item .event-content h4::before {
      background-color: #c00;
      bottom: 0;
      content: "";
      height: 3px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      width: 63px; }
    .events-item .event-content p {
      font-size: 14px;
      color: #ddd;
      letter-spacing: 0.52px;
      line-height: 21px; }
    .events-item .event-content > a {
      background-color: #c00;
      color: #fff;
      display: inline-block;
      padding: 0;
      font-size: 0;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.52px;
      transition: all 0.5s ease 0s;
      opacity: 0;
      height: 0; }
  .events-item .event-date {
    color: #c00;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.52px;
    margin-top: 12px;
    margin-bottom: 17px;
    font-weight: bold; }
  .events-item .event-price {
    font-weight: bold;
    color: #c00;
    margin-bottom: 10px; }
  .events-item:hover .event-content {
    background-color: rgba(0, 0, 0, 0.95);
    padding-bottom: 49px; }
    .events-item:hover .event-content > a {
      opacity: 1;
      padding: 12px 20px;
      font-size: 13px;
      height: auto; }
      .events-item:hover .event-content > a:hover {
        background-color: #fff;
        color: #c00; }

.gallery-section {
  background-color: #222222;
  margin-bottom: 25px;
  padding-bottom: 80px;
  padding-top: 100px;
  position: relative; }
  .gallery-section .section-header {
    margin-bottom: 40px; }
    .gallery-section .section-header h4 {
      color: #fff; }
  .gallery-section .row {
    margin: 0; }

.gallery-section::before {
  background-repeat: repeat-y;
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.gallery-category {
  text-align: center;
  position: relative; }
  .gallery-category ul {
    padding-left: 0;
    margin-bottom: 48px;
    display: inline-block; }
    .gallery-category ul li {
      display: inline-block;
      margin: 0 12px 6px; }
      .gallery-category ul li a {
        color: #fff;
        font-family: Raleway sans-serif, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.56px;
        text-decoration: none;
        transition: all 1s ease 0s; }
        .gallery-category ul li a:hover {
          color: #c00; }
        .gallery-category ul li a.active {
          color: #c00; }

.gallery-box {
  margin-bottom: 30px;
  text-align: center; }
  .gallery-box a {
    display: inline-block;
    position: relative; }
    .gallery-box a:hover::before {
      opacity: 1; }
    .gallery-box a:hover::after {
      top: 50%;
      opacity: 1; }
  .gallery-box a::before {
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0; }
  .gallery-box a::after {
    transition: all 0.5s ease 0s;
    background-color: #fff;
    border-radius: 50%;
    content: "\e681";
    font-family: Stroke-Gap-Icons;
    font-size: 24px;
    height: 59px;
    width: 59px;
    color: #c00;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    transform: translate(0%, -50%);
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 59px; }

.gallery-page {
  background-color: transparent;
  margin-top: 75px;
  margin-bottom: 45px; }
  .gallery-page .section-header h4 {
    color: #222222; }
  .gallery-page .gallery-category ul li a {
    color: #222222; }
    .gallery-page .gallery-category ul li a:hover {
      color: #c00; }
    .gallery-page .gallery-category ul li a.active {
      color: #c00; }

.gallery-page::before {
  display: none; }

.menu-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }
  .menu-section .top-img {
    position: absolute;
    left: 10px;
    top: 0;
    width: 22.9687%; }
  .menu-section .bottom-img {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 22.9687%;
    text-align: right; }
  .menu-section .menu-item {
    display: inline-block;
    width: 100%;
    min-height: 89px; }
    .menu-section .menu-item .item-thumb {
      float: left;
      width: 15%; }
      .menu-section .menu-item .item-thumb i img {
        border-radius: 100%;
        border: 1px solid #c00; }
    .menu-section .menu-item h3 {
      font-family: Raleway sans-serif, sans-serif;
      font-size: 16px;
      font-weight: bold;
      width: 53%;
      float: left;
      color: #c00;
      margin-left: 15px;
      margin-bottom: 0;
      margin-top: 17px;
      letter-spacing: 0.64px;
      line-height: 26px;
      text-transform: uppercase; }
      .menu-section .menu-item h3 > span {
        color: #777777;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.48px;
        text-transform: none;
        display: block; }
    .menu-section .menu-item > span {
      color: #c00;
      float: right;
      width: 28%;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      margin-top: 10px; }
      .menu-section .menu-item > span sup {
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 20px;
        font-weight: bold;
        margin-right: 5px; }
    .menu-section .menu-item > span::before {
      border-top: 1px dashed #222222;
      content: "";
      display: inline-block;
      height: 1px;
      width: 58%;
      margin-right: 15px;
      vertical-align: middle; }

.menu_popupform.modal {
  padding-right: 0 !important;
  text-align: center; }
  .menu_popupform.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0; }
  .menu_popupform.modal .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none; }

.menu_popupform .modal-body {
  padding: 30px 15px; }
  .menu_popupform .modal-body ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }

.menu_popupform .wpcf7-form {
  margin-bottom: 0; }
  .menu_popupform .wpcf7-form .input-group .wpcf7-form-control {
    display: inline-block;
    padding-left: 60px;
    padding-right: 10px;
    width: 100%;
    color: #000;
    background-color: #fff;
    letter-spacing: 0; }
    .menu_popupform .wpcf7-form .input-group .wpcf7-form-control.wpcf7-select {
      color: #777777;
      padding-top: 10px;
      position: relative;
      z-index: 2;
      height: 41px; }
    .menu_popupform .wpcf7-form .input-group .wpcf7-form-control:-ms-input-placeholder {
      color: #000; }
  .menu_popupform .wpcf7-form .input-group .wpcf7-form-control::-webkit-input-placeholder {
    color: #000; }
  .menu_popupform .wpcf7-form .input-group .wpcf7-form-control::-moz-placeholder {
    color: #000; }
  .menu_popupform .wpcf7-form.input-group .wpcf7-form-control:-moz-placeholder {
    color: #000; }
  .menu_popupform .wpcf7-form .wpcf7-form-control.wpcf7-submit {
    width: auto; }

.menu_popupform .modal-title {
  line-height: 24px; }

.menu_popupform .modal-dialog {
  display: inline-block;
  margin: 45px auto;
  max-width: 600px;
  text-align: left;
  vertical-align: middle;
  width: 100%; }

.menu_popupform .input-group {
  min-height: 40px;
  display: inline-block;
  width: 100%; }

.menu_popupform .input-group-addon {
  height: 40px;
  width: 40px;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border: none;
  border-radius: 0;
  z-index: 3; }
  .menu_popupform .input-group-addon i.icon {
    margin-left: 0;
    height: auto;
    width: auto;
    vertical-align: middle;
    line-height: normal; }

.menupopup_btn {
  background-color: transparent;
  border-radius: 0;
  color: #ddd;
  font-size: 13px;
  padding: 0;
  margin-left: 15px;
  display: inline-block;
  box-shadow: none; }
  .menupopup_btn:focus {
    color: #c00; }
  .menupopup_btn:hover {
    color: #c00; }
  .menupopup_btn i {
    margin-right: 15px; }

.newsletter-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 28px;
  padding-top: 28px;
  margin-bottom: 75px;
  max-width: 1920px;
  overflow: hidden !important; }
  .newsletter-section .container {
    position: relative; }
    .newsletter-section .container > h3 {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-family: Raleway sans-serif, sans-serif;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 1.12px;
      margin-bottom: 7px;
      margin-top: 7px;
      text-transform: uppercase;
      margin-right: 80px;
      line-height: 37px; }
    .newsletter-section .container > p {
      display: inline-block;
      vertical-align: middle;
      color: #d8d8d8;
      margin-bottom: 0; }
  .newsletter-section .newsletter-form {
    float: right; }
    .newsletter-section .newsletter-form .input-group {
      background-color: #fff;
      max-width: 360px;
      width: 100%;
      padding: 4px 8px; }
      .newsletter-section .newsletter-form .input-group .form-control {
        box-shadow: none;
        height: 37px;
        border: none;
        border-radius: 0;
        outline: none;
        z-index: 4; }
      .newsletter-section .newsletter-form .input-group .btn {
        box-shadow: none;
        padding: 0 25px;
        height: 37px;
        background-color: #c00;
        color: #fff;
        text-transform: uppercase;
        font-family: Raleway sans-serif, sans-serif;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border-radius: 0;
        outline: none; }
        .newsletter-section .newsletter-form .input-group .btn:hover {
          background-color: #222222; }
  .newsletter-section form.mc4wp-form {
    float: right; }
  .newsletter-section .mc4wp-alert.mc4wp-error p {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 5px; }

.newsletter-section::before {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.services-section {
  padding-top: 100px;
  padding-bottom: 70px; }
  .services-section .srv-box {
    text-align: center;
    margin-bottom: 30px; }
    .services-section .srv-box .img-box {
      display: inline-block;
      width: 100%;
      border: 1px solid #c00;
      position: relative;
      overflow: hidden;
      margin-bottom: 4px; }
      .services-section .srv-box .img-box .srv-content {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        text-align: center;
        color: #fff;
        padding: 38px 70px;
        opacity: 0;
        transition: all 0.5s ease 0s; }
        .services-section .srv-box .img-box .srv-content span {
          text-transform: uppercase;
          font-family: Raleway sans-serif, sans-serif;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.64px;
          line-height: 26px;
          color: #fff; }
          .services-section .srv-box .img-box .srv-content span > a {
            color: #c00;
            display: block;
            text-decoration: none; }
            .services-section .srv-box .img-box .srv-content span > a:hover {
              color: #fff;
              text-decoration: none; }
    .services-section .srv-box > h4 {
      font-family: Raleway sans-serif, sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.45px;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 26px;
      margin-top: 6px; }
    .services-section .srv-box:hover .img-box .srv-content {
      bottom: 0;
      opacity: 1; }

.surprise-section {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  background-size: cover; }

.surprise-section::before {
  background-color: rgba(34, 34, 34, 0.6);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.surprise-content {
  position: relative; }
  .surprise-content h3 {
    color: #fff;
    text-transform: capitalize;
    font-family: Great Vibes, cursive;
    font-size: 65px;
    letter-spacing: 1.3px;
    line-height: 85px;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 40px; }
  .surprise-content h3::before {
    background-image: url(../images/section-header-sep2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: inline-block;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 24px; }

.team-section {
  padding-top: 100px;
  padding-bottom: 60px; }

.team-box {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
  width: 100%; }
  .team-box:hover::before {
    opacity: 1; }
  .team-box:hover .team-content {
    background-color: transparent;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    bottom: auto; }
    .team-box:hover .team-content h4 {
      color: #c00; }
    .team-box:hover .team-content h6 {
      color: #fff; }

.team-box::before {
  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid #eacc9e;
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 1s ease 0s; }

.team-content {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  text-align: center;
  padding-top: 18px;
  transform: translate(0, 0);
  transition: all 1s ease 0s;
  max-height: 150px;
  overflow: hidden; }
  .team-content > h4 {
    color: #222222;
    font-family: Raleway sans-serif, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    line-height: 21px; }
  .team-content > h6 {
    color: #777777;
    font-size: 13px;
    letter-spacing: 0.52px;
    line-height: 18px;
    text-transform: capitalize;
    padding-bottom: 14px;
    position: relative; }
  .team-content > h6::before {
    background-color: #c00;
    content: "";
    width: 41px;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block; }
  .team-content > ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 15px; }
    .team-content > ul li {
      display: inline-block;
      margin: 0 4px; }
      .team-content > ul li a {
        background-color: #424242;
        font-size: 12px;
        width: 25px;
        height: 25px;
        float: left;
        line-height: 25px;
        color: #fff;
        transition: all 0.5s ease 0s; }
        .team-content > ul li a:hover {
          background-color: #c00; }

.testimonial-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px; }
  .testimonial-section .item > p {
    color: #ddd;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.52px; }
  .testimonial-section .item > i {
    display: block;
    margin-top: 26px;
    color: #c00;
    font-size: 35px; }
  .testimonial-section .item > h5 {
    color: #fff;
    font-family: Great Vibes, cursive;
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 42px;
    margin-bottom: 0;
    margin-top: 30px; }
  .testimonial-section .carousel-indicators {
    position: relative;
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-top: 50px; }
    .testimonial-section .carousel-indicators li {
      background-color: #8e7346;
      border: none;
      margin: 0 9px;
      width: 12px;
      height: 12px; }
      .testimonial-section .carousel-indicators li.active {
        background-color: #c00; }
  .testimonial-section .section-header h4 {
    color: #fff; }

.testimonial-section::before {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.section-header {
  margin-bottom: 60px;
  padding-bottom: 27px;
  position: relative; }
  .section-header h3 {
    color: #c00;
    font-family: Great Vibes, cursive;
    font-size: 65px;
    line-height: 84px;
    letter-spacing: 2.6px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize; }
  .section-header h4 {
    color: #222222;
    font-family: Raleway sans-serif, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px; }
  .section-header.text-center::before {
    margin: 0 auto;
    right: 0; }

.section-header2 {
  padding-bottom: 10px;
  margin-bottom: 32px; }

.section-header2::before {
  background-color: #C00;
  bottom: 0;
  width: 70px;
  height: 2px;
  left: 0; }

.section-header2 h3 {
  /*color: #f5b654;*/ }

.vc_row-has-fill .wpb_text_column p {
  color: #fff; }

.event-single-content .event-details {
  display: block;
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.52px;
  line-height: 26px;
  position: relative; }
  .event-single-content .event-details span {
    color: #777777; }
  .event-single-content .event-details .tribe-event-date-start {
    margin-left: 10px; }

.event-single-content p {
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.52px;
  line-height: 21px; }

.event-single-content li {
  color: #777777; }

.event-single-content blockquote {
  border-left: none;
  padding-left: 63px;
  padding-right: 0;
  color: #292929;
  position: relative;
  z-index: 0;
  margin-bottom: 25px; }
  .event-single-content blockquote p {
    margin-bottom: 0;
    color: #292929;
    font-style: italic;
    letter-spacing: 0.52px; }

.event-single-content blockquote::before {
  content: "\f10d";
  font-family: FontAwesome;
  position: absolute;
  left: 15px;
  top: 15px;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  color: #c00;
  font-size: 26px; }

.event-single-content .ticket-button {
  background-color: #c00;
  border: 1px solid #c00;
  border-radius: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 1s ease 0s;
  padding: 12px 30px; }

.event-single-content .tribe-events-meta-group dt {
  float: left;
  margin-right: 8px; }

.event-single-content .tribe-events-gmap {
  margin-top: 8px;
  display: block;
  color: #c00; }

.tribe-events-tickets tr:first-child td {
  border-bottom: 1px solid #dfdfdf !important; }

.tribe-events-tickets {
  border: 1px solid #eee !important; }

.event-address {
  margin-top: 1em;
  font-style: italic; }

.event-quantity {
  display: flex; }

.badge--default {
  color: #c00;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #c00;
  background-color: white; }
  .badge--default.is-rotated {
    transform: rotateZ(20deg) translate3d(50%, 0, 0);
    transform-origin: center center;
    position: absolute;
    top: 10%;
    right: 50%; }

article[class*="type-"] .entry-content > .post-date a, .single-post article[class*="type-"] .entry-content > .post-date {
  color: #222222;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1.4px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 80px;
  vertical-align: middle;
  border: 3px solid #e7d3b4;
  padding: 10px 4px 6px;
  transition: all 0.5s ease 0s; }

#eo-bookings input[type=text], #eo-bookings input[type=email] {
  border: 1px solid #e0e0e0;
  border-radius: 0;
  color: #777777;
  font-size: 13px;
  font-weight: 600;
  min-height: 41px;
  outline: none;
  padding: 6px 18px;
  letter-spacing: 0.26px;
  box-shadow: none;
  display: inline-block;
  width: 100%; }

#eo-bookings [type="radio"]:checked + label:before, #eo-bookings [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

#eo-bookings [type="radio"]:checked + label:after, #eo-bookings [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #c00;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.2s ease; }

.row-eq-height {
  display: flex; }

.info-widget-set {
  text-align: center;
  margin: 0 0 40px; }
  .info-widget-set a {
    color: #fff;
    text-decoration: none; }

.widget_workingtime td {
  color: #6f6f6f;
  padding: 0;
  padding-bottom: 7px;
  text-transform: capitalize;
  letter-spacing: 0.56px;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
  border: none; }
  .widget_workingtime td + td {
    padding-left: 0; }

.widget_workingtime tr {
  border: none; }

.widget_workingtime table {
  border: none; }
  .widget_workingtime table tbody tr:last-child td {
    padding-bottom: 0; }

.select_box::before {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  width: 22px;
  line-height: 40px;
  text-align: center;
  background-color: #c00;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff; }

.select_box select {
  appearance: none;
  border: 1px solid #c00;
  border-radius: 0;
  font-size: 1em;
  width: 100%; }

.select_box select::-ms-expand {
  display: none; }

.widget_offer {
  text-align: center; }
  .widget_offer .offer-box {
    display: inline-block;
    position: relative; }
    .widget_offer .offer-box .ofr-cnt {
      position: absolute;
      left: 30px;
      right: 30px;
      top: 50%;
      transform: translate(0%, -50%); }
      .widget_offer .offer-box .ofr-cnt h5 {
        font-family: Great Vibes, cursive;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.6px;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0; }
      .widget_offer .offer-box .ofr-cnt span {
        display: block;
        font-size: 25px;
        color: #c00;
        font-weight: bold;
        letter-spacing: 0.6px; }
        .widget_offer .offer-box .ofr-cnt span sup {
          color: #fff;
          font-size: 18px;
          font-weight: 400; }
        .widget_offer .offer-box .ofr-cnt span del {
          color: #fff;
          font-family: Great Vibes, cursive;
          font-size: 30px;
          font-style: italic;
          font-weight: 400; }
      .widget_offer .offer-box .ofr-cnt a {
        background-color: #c00;
        font-family: Raleway sans-serif, sans-serif;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
        letter-spacing: 0.26px;
        padding: 12px 22px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 0; }
        .widget_offer .offer-box .ofr-cnt a:hover {
          background-color: #fff;
          color: #c00; }
  .widget_offer .offer-box::before {
    background-color: rgba(34, 34, 34, 0.8);
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.entry-content blockquote {
  border-left: none;
  padding-left: 63px;
  padding-right: 0;
  color: #292929;
  position: relative;
  z-index: 0;
  margin-bottom: 25px; }
  .entry-content blockquote p {
    margin-bottom: 0;
    color: #292929;
    font-style: italic;
    letter-spacing: 0.52px; }

.entry-content blockquote::before {
  content: "\f10d";
  font-family: FontAwesome;
  position: absolute;
  left: 15px;
  top: 15px;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  color: #c00;
  font-size: 26px; }

.latest-post {
  margin-top: 75px;
  margin-bottom: 75px; }
  .latest-post [class*="col-"]:nth-child(n + 3) {
    margin-top: 30px; }
  .latest-post article[class*="type-"] .entry-content .entry-title a {
    color: #c00; }
    .latest-post article[class*="type-"] .entry-content .entry-title a:hover {
      color: #000; }

.reservation-block {
  margin-top: 85px;
  padding-bottom: 120px;
  position: relative; }

.reservation-form .form-group {
  margin-bottom: 30px; }

.reservation-form .wpcf7-form .wpcf7-form-control {
  border: 1px solid #c00;
  border-radius: 0;
  color: #c7c7c7;
  font-size: 13px;
  box-shadow: none;
  outline: none;
  letter-spacing: 0.26px;
  min-height: 38px;
  padding-left: 20px;
  padding-right: 20px; }
  .reservation-form .wpcf7-form .wpcf7-form-control.wpcf7-submit {
    background-color: #c00;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-family: Raleway sans-serif, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 28px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    width: auto; }
    .reservation-form .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
      background-color: #000; }

.reservation-form .wpcf7-form .wpcf7-select.wpcf7-form-control {
  height: 38px; }

.reservation-form .form-control::-webkit-input-placeholder {
  color: #c7c7c7; }

.reservation-form .form-control:-moz-placeholder {
  color: #c7c7c7; }

.reservation-form .form-control:-ms-input-placeholder {
  color: #c7c7c7; }

.reservation-form .form-control::-moz-placeholder {
  color: #c7c7c7; }

.contact-section {
  margin-bottom: 65px; }

.contact-form {
  margin-top: 75px; }
  .contact-form .title-center {
    text-align: center; }
  .contact-form .title-center::before {
    right: 0;
    left: 0;
    margin: 0 auto; }
  .contact-form .title-right {
    text-align: right; }
  .contact-form .title-right::before {
    right: 0;
    left: auto; }
  .contact-form h3 {
    font-family: Raleway sans-serif, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 27px;
    position: relative;
    text-transform: uppercase; }
  .contact-form h3::before {
    background-color: #c00;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 71px;
    height: 1px; }
  .contact-form .form-control::-webkit-input-placeholder {
    color: #bdbdbd; }
  .contact-form .form-control:-moz-placeholder {
    color: #bdbdbd; }
  .contact-form .form-control:-ms-input-placeholder {
    color: #bdbdbd; }
  .contact-form .form-control::-moz-placeholder {
    color: #bdbdbd; }
  .contact-form input[type="submit"] {
    background-color: #c00;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-family: Raleway sans-serif, sans-serif;
    font-weight: bold;
    letter-spacing: 0.56px;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: all 0.7s ease 0s; }
    .contact-form input[type="submit"]:hover {
      background-color: #000; }
  .contact-form .text-center h3::before {
    left: 0;
    right: 0;
    margin: 0 auto; }

.contact-details {
  margin-top: 75px;
  margin-bottom: 45px; }

.cnt-detail-box {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative; }
  .cnt-detail-box i {
    width: 55px;
    height: 63px;
    line-height: 63px;
    display: block;
    margin: 0 auto 29px;
    text-align: center; }
  .cnt-detail-box h4 {
    font-family: Raleway sans-serif, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 35px; }
  .cnt-detail-box p {
    margin-bottom: 0;
    letter-spacing: 0.28px;
    line-height: 27px;
    color: #777777; }
    .cnt-detail-box p a {
      color: #777777;
      text-decoration: none; }
      .cnt-detail-box p a:hover {
        color: #c00; }

.contact-form-section {
  margin-bottom: 30px;
  margin-top: 90px; }

.map-section {
  position: relative;
  margin-top: 75px;
  margin-bottom: 75px; }

.map-section2 {
  margin-top: 75px;
  margin-bottom: 0; }

.error-block {
  margin: 80px 0 0;
  display: inline-block;
  width: 100%; }
  .error-block h2 {
    color: #c00;
    font-family: Great Vibes, cursive;
    font-size: 250px;
    font-style: italic;
    line-height: 181px;
    margin-bottom: 21px; }
  .error-block h3 {
    font-family: Raleway sans-serif, sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 33px; }
  .error-block .searh-block {
    display: block;
    max-width: 554px;
    margin: 0 auto; }
    .error-block .searh-block .form-control {
      height: 42px;
      border: 1px solid #e6e6e6;
      border-radius: 0;
      color: #000;
      box-shadow: none;
      outline: none;
      font-size: 13px;
      padding-left: 20px;
      padding-right: 20px; }
      .error-block .searh-block .form-control:-moz-placeholder {
        color: #d2d2d2; }
      .error-block .searh-block .form-control:-ms-input-placeholder {
        color: #d2d2d2; }
    .error-block .searh-block .form-control::-webkit-input-placeholder {
      color: #d2d2d2; }
    .error-block .searh-block .form-control::-moz-placeholder {
      color: #d2d2d2; }
  .error-block .page_search .searchform .btn.btn-default {
    font-family: Raleway sans-serif, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    height: 42px;
    border: none;
    border-radius: 0;
    background-color: #c00;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px; }
    .error-block .page_search .searchform .btn.btn-default :hover {
      background-color: #000; }

#eo-bookings {
  margin-top: 50px;
  padding: 1.5em 2em;
  border: 1px solid #efefef; }
  #eo-bookings h3 {
    font-family: Raleway sans-serif, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase; }
  #eo-bookings .eo-booking-field {
    margin-bottom: 10px; }
  #eo-bookings .eo-booking-field-name-subfields {
    display: flex;
    margin: -10px; }
  #eo-bookings .eo-booking-field-name-subfield {
    width: 50%;
    padding: 10px;
    display: block; }
  #eo-bookings .eo-booking-form-element-ticketpicker {
    margin-top: 30px; }
  #eo-bookings .eo-booking-button {
    background-color: #c00;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-family: Raleway sans-serif, sans-serif;
    font-weight: bold;
    letter-spacing: 0.56px;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: all 0.7s ease 0s;
    box-shadow: none;
    font-size: 14px;
    width: auto; }
  #eo-bookings [type="radio"]:checked {
    position: absolute;
    left: -9999px; }
    #eo-bookings [type="radio"]:checked + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666; }
      #eo-bookings [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1); }
  #eo-bookings [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
    #eo-bookings [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666; }
      #eo-bookings [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0); }
  #eo-bookings .eo-booking-offline-description {
    padding: 1.5em 1em;
    border: 1px solid #efefef;
    background: #efefef;
    margin: 2em 0; }
  #eo-bookings select {
    height: 40px;
    min-width: 100px; }

@media (min-width: 1200px) {
  .content-area {
    padding-right: 34px; }
  .widget-area {
    padding-left: 10px; }
  .reservation-form {
    padding-right: 120px; }
  .cnt-detail-box {
    padding: 0 25%; }
  .menu-section .menu-item {
    padding-right: 10px; }
  article[class*="type-"] .entry-content blockquote {
    padding-right: 70px; }
  .latest-post .row {
    margin: 0; } }

@media (min-width: 992px) {
  .header_s .ownavigation .navbar-header {
    margin: 26px 0; }
  .header_s .ownavigation.navbar-fixed-top {
    position: fixed;
    top: 0; }
    .header_s .ownavigation.navbar-fixed-top .navbar-right {
      margin-right: 0; }
  .header_s .ownavigation .navbar-nav > li > a {
    margin-top: 36px;
    margin-bottom: 37px; }
  .header_s .ownavigation ul li > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 4px;
    padding-bottom: 4px; }
  .header_s.header_s1 .ownavigation .navbar-nav > li > a span {
    color: #fff; }
  .header_s2 .navbar-brand.image-logo {
    margin-top: 4px;
    margin-bottom: 0; }
  .header_s2 .ownavigation ul li > .dropdown-menu {
    background-color: #fff; }
  .comments-area .comment-form-author {
    padding-right: 15px; }
  .comments-area .comment-form-email {
    padding-left: 15px; }
  .reservation-img {
    position: absolute;
    left: 0;
    bottom: 0; }
  .reservation-form-block {
    float: right; }
  .contact-details [class*="col-md-"]:nth-child(3n + 1) {
    clear: both; }
  .contact-details .row [class*="col-md-"] .cnt-detail-box:nth-child(n + 3) {
    margin-top: 30px; }
  body .menu-setting-info a {
    margin-right: -15px; }
  .header_s1 .ownavigation {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 17; }
  .top-footer .row > [class*="col-md-"]:nth-child(4n + 1) {
    clear: both; }
  .services-section .row > [class*="col-md-"]:nth-child(4n + 1) {
    clear: both; }
  .menu-section .row [class*="col-md-"]:nth-child(n + 3) .menu-item {
    margin-top: 18px; }
  .menu-section .row > [class*="col-md-"]:nth-child(2n + 1) {
    clear: both; }
  article[class*="type-"] .entry-content .entry-meta span + span {
    margin-left: 15px; } }

@media (min-width: 768px) {
  .header_s .top-header1 .top-right .search-block {
    float: right; }
  .header_s .ownavigation.navbar > .container .navbar-brand {
    margin-left: 0; }
  .contact-details [class*="col-md-"]::after {
    border-left: 2px dashed #c00;
    content: "";
    position: absolute;
    left: -1px;
    bottom: 30px;
    height: 60px;
    width: 3px; }
  .contact-details [class*="col-md-"]:nth-child(3n + 1)::after {
    display: none; }
  .counter-section .row > [class*="col-md-"]:nth-child(4n + 1) {
    clear: both; }
  .latest-post .row > [class*="col-md-"]:nth-child(2n + 1) {
    clear: both; } }

@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  .menu-section .top-img {
    width: 16%; }
  .menu-section .bottom-img {
    width: 16%; }
  .menu-cards.menu-section .top-img {
    top: -15px; } }

@media (max-width: 1366px) {
  .menu-section .top-img {
    width: 14%; }
  .menu-section .bottom-img {
    width: 14%; }
  .menu-cards.menu-section .top-img {
    top: -15px; } }

@media (max-width: 1200px) {
  .services-section .srv-box .img-box .srv-content {
    padding-left: 40px;
    padding-right: 40px; }
  article[class*="type-"] .entry-content .entry-title {
    line-height: 24px; }
  .latest-post article[class*="type-"] .entry-content .entry-meta span {
    width: 100%;
    display: inline-block; }
    .latest-post article[class*="type-"] .entry-content .entry-meta span + span {
      margin-left: 0; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .newsletter-section .container > h3 {
    margin-bottom: 15px;
    margin-right: 80px; }
  .newsletter-section .container > p {
    margin-bottom: 20px;
    width: 31%; }
  .newsletter-section .newsletter-form .input-group {
    margin: 0 auto; }
  .menu-section .menu-item > span::before {
    width: 45%; }
  .menu-section.menu-cards .top-img {
    top: 0; }
  .cnt-detail-box {
    padding: 0 18%; }
  .footer-main-2 .top-footer .widget_subscribe .btn {
    padding-left: 15px;
    padding-right: 15px; }
  .widget.widget_instagram ul li {
    width: 30.95%; }
  .menu-cards span.bottom-img {
    bottom: -150px; }
  .events-item .event-content {
    padding-left: 30px;
    padding-right: 30px; }
  article[class*="type-"] .about-author .author-details {
    padding-bottom: 22px;
    padding-top: 22px; }
  .comment-list .children {
    margin-left: 0; }
  .widget_offer .offer-box .ofr-cnt a {
    padding: 8px 16px; } }

@media (max-width: 991px) {
  .menu-setting-info {
    margin: 5px auto 15px; }
  .header_s #slidepanel {
    border-bottom: none; }
  .header_s .ownavigation.nav_absolute {
    position: relative; }
  .header_s .ownavigation .navbar-toggle {
    background-color: #fff; }
    .header_s .ownavigation .navbar-toggle .icon-bar {
      background-color: #93723e; }
  .header_s .ownavigation .ddl-switch {
    background-color: #93723e;
    top: 8px; }
  .header_s .ownavigation > .container {
    position: relative; }
  .header_s .ownavigation.navbar > .container .navbar-brand {
    margin: 12px 0; }
  .header_s #slideit:hover {
    color: #93723e; }
  .header_s #closeit:hover {
    color: #93723e; }
  .header_s .top-header1 .top-right .top-social {
    margin-right: 15px; }
    .header_s .top-header1 .top-right .top-social li {
      margin-left: 5px;
      margin-right: 5px; }
  .header_s1 #slideit {
    color: #fff; }
  .header_s1 #closeit {
    color: #fff; }
  .header_s1 .ownavigation .navbar-nav li .dropdown-menu > li > a {
    color: #fff; }
  .header_s2 #slideit {
    color: #93723e; }
    .header_s2 #slideit:hover {
      color: #0a0a0a; }
  .header_s2 #closeit {
    color: #93723e; }
    .header_s2 #closeit:hover {
      color: #0a0a0a; }
  .page-banner {
    padding-bottom: 100px;
    padding-top: 100px; }
  .newsletter-section {
    text-align: center; }
    .newsletter-section .newsletter-form {
      float: none;
      width: 100%; }
      .newsletter-section .newsletter-form .input-group {
        margin: 0 auto; }
    .newsletter-section .container > h3 {
      width: 100%;
      margin-bottom: 15px;
      margin-bottom: 3px;
      margin-right: 0;
      margin-top: 0; }
    .newsletter-section .container > p {
      width: 100%;
      margin-bottom: 15px; }
    .newsletter-section form.mc4wp-form {
      float: none; }
  .about-img-block {
    margin-top: 30px; }
  .menu-section .top-img {
    display: none; }
  .menu-section .bottom-img {
    display: none; }
  .menu-section .row [class*="col-md-"]:nth-child(n + 2) .menu-item {
    margin-top: 18px; }
  article[class*="type-"] .entry-content {
    padding-left: 100px; }
    article[class*="type-"] .entry-content .entry-title {
      line-height: 23px; }
    article[class*="type-"] .entry-content blockquote {
      padding-left: 40px; }
    article[class*="type-"] .entry-content .entry-meta span {
      display: block; }
    article[class*="type-"] .entry-content > .post-date a {
      font-size: 26px; }
      article[class*="type-"] .entry-content > .post-date a span {
        font-size: 15px; }
  article[class*="type-"] .about-author .author-details {
    padding: 15px 15px 15px 110px; }
    article[class*="type-"] .about-author .author-details i {
      left: 15px; }
  .reservation-img {
    float: none;
    margin: 0 auto 30px;
    max-width: 767px; }
  .cnt-detail-box {
    padding: 0 9%; }
  .top-footer .row > [class*="col-md-"]:nth-child(2n + 1) {
    clear: both; }
  .about-section2 .about-img {
    width: 100%;
    text-align: center;
    position: relative; }
  .counter-section .counter-box span {
    font-size: 45px; }
  .single-post article[class*="type-"] .entry-content > .post-date {
    font-size: 26px; }
    .single-post article[class*="type-"] .entry-content > .post-date span {
      font-size: 15px; }
  .widget_offer .offer-box .ofr-cnt a {
    padding: 8px 16px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  article[class*="type-"] .entry-footer::before {
    left: 90px; }
  article[class*="type-"] .entry-footer {
    padding-left: 110px;
    padding-right: 20px; }
    article[class*="type-"] .entry-footer .tags-links {
      display: inline-block;
      width: 100%; }
      article[class*="type-"] .entry-footer .tags-links > a {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px; }
        article[class*="type-"] .entry-footer .tags-links > a:first-child {
          margin-left: 10px; }
    article[class*="type-"] .entry-footer .share-this {
      float: left; }
  article[class*="type-"] .about-author {
    padding-left: 90px; }
  .services-section .row > [class*="col-sm-"]:nth-child(3n + 1) {
    clear: both; } }

@media (max-width: 767px) {
  .header_s #slideit {
    right: -65px; }
  .header_s #closeit {
    right: -65px; }
  .header_s .top-header1 .top-left {
    text-align: center; }
  .header_s .top-header1 .top-right {
    text-align: center; }
    .header_s .top-header1 .top-right .top-social {
      margin-top: -22px;
      display: inline-block; }
      .header_s .top-header1 .top-right .top-social li {
        margin-top: 0; }
    .header_s .top-header1 .top-right .search-block {
      display: inline-block; }
  .section-header h3 {
    font-size: 45px;
    line-height: 55px; }
  .section-header h4 {
    font-size: 23px;
    line-height: 36px; }
  .page-banner {
    padding-bottom: 60px;
    padding-top: 60px; }
  .newsletter-section {
    margin-top: 45px; }
  .slider-section {
    margin-bottom: 40px; }
  .about-section {
    margin-top: 45px; }
  .surprise-section {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-top: 110px;
    padding-bottom: 110px; }
  .services-section {
    margin-top: 45px; }
    .services-section .srv-box {
      max-width: 268px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .services-section .row > [class*="col-xs-"]:nth-child(2n + 1) {
      clear: both; }
  .counter-section {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 110px;
    padding-top: 110px; }
    .counter-section .row > [class*="col-md-"]:nth-child(2n + 1) {
      clear: both; }
  .menu-section {
    padding-bottom: 45px;
    padding-top: 45px; }
  .book-table-section {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 110px;
    padding-top: 110px; }
  .latest-events-section {
    margin-top: 45px; }
  .testimonial-section {
    margin-bottom: 45px;
    margin-top: 45px;
    padding: 100px 0; }
  .gallery-section {
    margin-bottom: 45px;
    padding-top: 100px;
    padding-bottom: 70px; }
  .team-section {
    margin-top: 45px;
    margin-bottom: 15px; }
  article[class*="type-"] .entry-footer::before {
    left: 0; }
  article[class*="type-"] .entry-footer {
    padding-left: 20px;
    padding-right: 20px; }
    article[class*="type-"] .entry-footer .tags-links {
      display: inline-block;
      width: 100%; }
      article[class*="type-"] .entry-footer .tags-links > a {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px; }
        article[class*="type-"] .entry-footer .tags-links > a:first-child {
          margin-left: 10px; }
    article[class*="type-"] .entry-footer .share-this {
      float: left; }
  article[class*="type-"] .about-author {
    padding-left: 0; }
  .comments-area {
    padding-left: 0; }
  .latest-post {
    margin-top: 45px; }
    .latest-post article[class*="type-"] {
      width: 555px;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px; }
    .latest-post .row [class*="col-md-"]:last-of-type article[class*="type-"] {
      margin-bottom: 0; }
  .contact-details {
    margin-top: 45px; }
  .contact-form {
    margin-top: 45px; }
  .events-item .event-content {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 639px) {
  .events-item {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .gallery-box {
    width: 50%; }
  .comment-body {
    padding-left: 110px;
    padding-right: 10px; }
  .top-footer .row > [class*="col-xs-"] {
    width: 100%; }
  .surprise-content h3 {
    font-size: 50px; }
  .menu-section .menu-item > span::before {
    width: 35%; }
  .book-table-section .form-group {
    width: 100%; }
  .latest-events-section .row > [class*="col-xs-"] {
    width: 100%; }
  .team-section .row > [class*="col-xs-"] {
    width: 50%; }
  .contact-form .form-group {
    width: 100%; }
  .error-block h2 {
    font-size: 180px; }
  .event-single-content .eventcontent-block [class*="col-xs-"] {
    width: 100%; }
  .event-single-content .eventcontent-block img {
    margin-bottom: 20px; }
  .event-single-content .eventcontent-block > .col-md-4 {
    width: 100%;
    margin: 0 auto;
    max-width: 360px;
    float: none; } }

@media (max-width: 479px) {
  .section-header h3 {
    font-size: 36px;
    line-height: 46px; }
  .section-header h4 {
    font-size: 18px;
    line-height: 30px; }
  .gallery-box {
    width: 100%; }
  .team-section .team-box {
    max-width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .team-section .row > [class*="col-xs-"] {
    width: 100%; }
  .menupopup_btn {
    display: block;
    margin: 10px auto 7px;
    text-align: center; }
  .header_s .top-header1 .top-left {
    margin: 8px 0 3px; }
  .header_s .top-header1 .top-right .top-social {
    margin-top: -30px;
    margin: 0 auto;
    width: 100%; }
    .header_s .top-header1 .top-right .top-social li {
      float: none;
      display: inline-block; }
  .about-detail .chef-detail .cnt {
    width: 100%;
    margin-top: 30px;
    margin-left: 0; }
  .about-img-block div {
    width: 100%; }
  .services-section .row > [class*="col-xs-"] {
    width: 100%; }
  .counter-section .row > [class*="col-xs-"] {
    width: 100%; }
  .menu-section .menu-item {
    margin-bottom: 30px; }
    .menu-section .menu-item > h3 {
      width: 100%;
      text-align: center;
      margin-left: 0; }
    .menu-section .menu-item > span {
      width: 100%;
      text-align: center; }
    .menu-section .menu-item > .item-thumb {
      width: 100%;
      text-align: center; }
  article[class*="type-"] .entry-content {
    padding-left: 75px; }
    article[class*="type-"] .entry-content > .post-date a {
      font-size: 24px;
      width: 60px; }
      article[class*="type-"] .entry-content > .post-date a span {
        font-size: 13px; }
  .error-block h2 {
    font-size: 145px;
    line-height: 130px; }
  .event-single-content .event-gallery [class*="col-xs-"] {
    width: 100%;
    margin: 0 auto;
    max-width: 360px;
    float: none; }
  .menu_popupform .wpcf7-form .form-group {
    width: 100%; } }

@media (max-width: 360px) {
  .header_s .top-header1 .top-left span + span {
    margin-left: 10px; }
  .header_s .top-header1 .top-left span a i {
    margin-right: 5px; } }

.header_s2 .ownavigation .navbar-nav li a {
  color: #0a0a0a; }

.header_s2 .ownavigation .navbar-nav li .dropdown-menu > li > a {
  color: #0a0a0a; }

body .menu-setting-info {
  margin: 45px auto;
  text-align: right; }
  body .menu-setting-info a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize; }

header .page_search {
  display: none; }

main .header-search {
  display: none; }

.header_s1 .page_search {
  display: none; }

.widget_about p {
  color: #ddd;
  letter-spacing: 0.7px;
  line-height: 26px; }

.widget_social ul {
  padding-left: 0; }
  .widget_social ul li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px; }
    .widget_social ul li:last-of-type {
      margin-right: 0; }
    .widget_social ul li a {
      border: 1px solid #ddd;
      float: left;
      width: 41px;
      height: 41px;
      color: #ddd;
      text-align: center;
      line-height: 41px;
      transition: all 1s ease 0s; }
      .widget_social ul li a:hover {
        border-color: #c00;
        color: #c00; }

.widget.widget_instagram ul li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  max-height: 80px;
  max-width: 80px; }
  .widget.widget_instagram ul li a {
    padding-left: 0; }
  .widget.widget_instagram ul li a::before {
    display: none; }

.slider-section2 .tp-bullets.zeus .tp-bullet.selected {
  margin-top: -2px; }

.menu-cards span.bottom-img {
  bottom: -185px; }

.event_gallery-carousel.owl-carousel .owl-item img {
  width: auto; }

.event-map.map {
  display: block;
  margin-top: 30px; }

.single-post article[class*="type-"] .entry-content > .post-date span {
  display: block;
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: 22px;
  text-transform: capitalize; }

.widget_recentposts .recent-content {
  border-bottom: 2px solid #f0f0f0;
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 95px;
  margin-bottom: 17px;
  min-height: 96px;
  padding-bottom: 17px; }
  .widget_recentposts .recent-content:last-of-type {
    margin-bottom: 0; }
  .widget_recentposts .recent-content.no_post_thumb {
    padding: 0; }
  .widget_recentposts .recent-content > a > i {
    position: absolute;
    left: 0; }
    .widget_recentposts .recent-content > a > i img {
      border-radius: 100%;
      border: 1px solid transparent;
      transition: all 1s ease 0s; }
  .widget_recentposts .recent-content > a:hover > i img {
    border-color: #c00; }
  .widget_recentposts .recent-content h5 {
    font-family: Raleway sans-serif, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase; }
    .widget_recentposts .recent-content h5 > a {
      color: #000;
      text-decoration: none;
      display: inline-block;
      font-weight: 500; }
      .widget_recentposts .recent-content h5 > a:hover {
        color: #c00; }
  .widget_recentposts .recent-content span {
    color: #777777;
    display: inline-block;
    letter-spacing: 0.39px;
    text-decoration: none; }
    .widget_recentposts .recent-content span a {
      color: #777777;
      transition: all 1s ease 0s;
      text-decoration: none; }
      .widget_recentposts .recent-content span a:hover {
        color: #c00; }

.latest-post2 article[class*="type-"] .entry-cover a::before {
  background-color: #fff;
  color: #c00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px; }

.latest-post2 article[class*="type-"] .entry-cover a::after {
  background-color: rgba(0, 0, 0, 0.8); }

.reservation-form-block .select_box::before {
  width: 0; }

.error404 .footer-main-2 {
  margin-top: 0; }

/*# sourceMappingURL=elements.css.map */