.load-complete {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1031; }
  .load-complete .logo {
    color: #4c4c4c;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 50px; }
  .load-complete .load-position {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 999;
    right: 0;
    margin-top: -100px; }
    .load-complete .load-position h6 {
      text-align: center;
      color: #000;
      font-size: 12px;
      font-weight: 400;
      font-style: italic; }
  .load-complete .loading {
    position: absolute;
    width: 100%;
    height: 1px;
    margin: 20px auto;
    left: 0;
    right: 0; }
  .load-complete .loading-line {
    position: absolute;
    background: #f0f0f0;
    width: 100%;
    height: 2px; }
  .load-complete .loading-break {
    position: absolute;
    background: #059664;
    width: 15px;
    height: 2px; }
  .load-complete .loading-dot-1 {
    animation: loading 2s infinite; }
  .load-complete .loading-dot-2 {
    animation: loading 2s 0.5s infinite; }
  .load-complete .loading-dot-3 {
    animation: loading 2s 1s infinite; }
  .load-complete .ball-clip-rotate > div {
    border-color: #93723e #93723e transparent;
    background-color: #93723e;
    margin: 0 auto;
    display: block;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0; }

@keyframes "loading" {
  from {
    left: 0; }
  to {
    left: 100%; } }

@-moz-keyframes loading {
  from {
    left: 0; }
  to {
    left: 100%; } }

@-webkit-keyframes "loading" {
  from {
    left: 0; }
  to {
    left: 100%; } }

@-ms-keyframes "loading" {
  from {
    left: 0; }
  to {
    left: 100%; } }

@-o-keyframes "loading" {
  from {
    left: 0; }
  to {
    left: 100%; } }

.load-position .logo {
  margin: 0 auto;
  width: 150px; }

/*# sourceMappingURL=plugins.css.map */