.woocommerce .wishlist-title h2, .woocommerce-billing-fields h3 {
  color: #030303;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  line-height: 30px;
  margin-top: 0;
  word-wrap: break-word;
  text-transform: uppercase; }

.woocommerce-billing-fields h3, .woocommerce-shipping-fields h3 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.45px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase; }

.woocommerce .cart-collaterals .cart_totals h2, .woocommerce .cross-sells > h2, .woocommerce-page .cart-collaterals .cart_totals h2 {
  color: #030303;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  line-height: 30px;
  margin-top: 0;
  word-wrap: break-word;
  text-transform: uppercase; }

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  background-color: transparent;
  border: 1px solid #c00;
  border-radius: 0;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 38px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all 1s ease 0s;
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 3px 10px;
  text-decoration: none; }

.woocommerce ul.products li.product h3, .woocommerce ul.products li.product > a span.price {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #222222; }

.tribe-block__tickets__registration__checkout button,
.tribe-block__tickets__item__attendee__fields__form button, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce #content input.button, .woocommerce #content input.button.alt, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce input.button, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce #respond input#submit.alt, .woocommerce-page #content input.button, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button, .woocommerce-page a.button.alt, .woocommerce-page button.button, .woocommerce-page button.button.alt, .woocommerce-page input.button, .woocommerce-page input.button.alt {
  background-color: #c00;
  border: 1px solid #c00;
  border-radius: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  line-height: 24px;
  padding: 5px 22px;
  text-transform: uppercase;
  transition: all 1s ease 0s; }

.woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, #add_payment_method table.cart td.actions .coupon .input-text {
  background-color: transparent;
  border: 2px solid #c00;
  border-radius: 0;
  box-shadow: none;
  color: #777777;
  font-size: 15px;
  min-height: 40px;
  margin-right: 15px;
  outline: none;
  padding-left: 18px;
  padding-right: 18px; }

.woocommerce ul.products li.product .onsale, .woocommerce span.onsale {
  background-color: #222222;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 0;
  padding: 4px 15px;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 0 !important;
  min-height: 1px;
  right: auto !important;
  text-transform: uppercase;
  top: 0 !important;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  z-index: 2;
  border-radius: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-shadow: none;
  letter-spacing: 0.64px;
  padding: 12px 18px;
  border-top: 2px solid transparent;
  outline: 0 none;
  font-family: Lato, sans-serif; }

.summary .yith-wcwl-add-to-wishlist .add_to_wishlist, .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse, .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse, .single-share .social li a {
  background-color: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 0;
  color: #353533;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.26px;
  line-height: 30px;
  margin: 15px 0 10px;
  padding: 5px 23px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }

.tribe-block__tickets__registration__checkout button,
.tribe-block__tickets__item__attendee__fields__form button {
  padding: 12px 30px !important; }
  .tribe-block__tickets__registration__checkout button:hover,
  .tribe-block__tickets__item__attendee__fields__form button:hover {
    background-color: transparent;
    color: #c00;
    border-color: #c00; }

.tribe-block__tickets__item__attendee__field__text {
  width: 100%; }

.woocommerce a.remove {
  display: inline-block; }

.woocommerce a.added_to_cart {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
  z-index: 1;
  transition: all 1s ease 0s; }

.woocommerce a.button.disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce a.button:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce a.button:active {
  top: 0; }

.woocommerce a.button.alt:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce a.button.alt.disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce a.button.alt.disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce a.button.alt:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce a.button.alt:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce a.button:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce a.button.loading::after {
  position: relative !important;
  right: auto !important;
  top: auto !important;
  margin-left: 10px; }

.woocommerce a.button.alt[disabled]:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce a.button.alt[disabled]:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce a.button[disabled]:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce table.shop_table {
  text-align: center;
  border-radius: 0;
  border: 1px solid #888;
  margin-bottom: 0; }
  .woocommerce table.shop_table th {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.56px; }
  .woocommerce table.shop_table .product-name a {
    color: #000;
    font-size: 15px; }

.woocommerce table.wishlist_table th {
  font-size: 13px; }

.woocommerce table.wishlist_table tbody td {
  font-size: 13px; }

.woocommerce table.shop_attributes {
  border-left: 1px solid #666;
  border-style: solid;
  background: #fff;
  margin-bottom: 0; }
  .woocommerce table.shop_attributes th {
    border-style: solid;
    background: #fff;
    margin-bottom: 0;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 20px; }
  .woocommerce table.shop_attributes td {
    border-style: solid;
    background: #fff;
    margin-bottom: 0;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    padding-left: 20px; }

.woocommerce table.cart td.actions .input-text {
  width: auto;
  box-shadow: none;
  outline: none; }

.woocommerce table.my_account_orders .order-actions .button {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  text-align: center; }

.woocommerce #content .quantity .minus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-top: 0;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce #content .quantity .minus:hover {
    background: #ff6766; }
  .woocommerce #content .quantity .minus.woocommerce .quantity .minus.woocommerce-page #content .quantity .minus.woocommerce-page .quantity .minus {
    border-top: 0; }

.woocommerce #content .quantity .plus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce #content .quantity .plus:hover {
    background: #ff6766; }

.woocommerce #content .quantity input.qty {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none; }

.woocommerce #content table.cart td.actions .input-text {
  width: auto;
  box-shadow: none;
  outline: none; }

.woocommerce #content input.button:active {
  top: 0; }

.woocommerce #content div.product .woocommerce-tabs {
  display: inline-block;
  width: 100%;
  margin-top: 25px; }
  .woocommerce #content div.product .woocommerce-tabs h2 {
    display: none; }
  .woocommerce #content div.product .woocommerce-tabs .entry-content {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #888;
    margin-bottom: 35px;
    padding: 20px !important;
    position: relative; }
  .woocommerce #content div.product .woocommerce-tabs ul.tabs {
    margin: 0;
    padding: 0;
    width: 100%; }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs:before {
      border: 0; }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li {
      box-shadow: none;
      background: none;
      border-radius: 0;
      margin: 0;
      border: 1px solid #ddd;
      border-bottom: none;
      padding: 0; }
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active {
        background-color: #c00; }
        .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before {
          box-shadow: none;
          display: none;
          box-shadow: none;
          display: none; }
        .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a {
          color: #fff !important;
          background-color: #c00; }
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before {
        display: none;
        display: none; }
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after {
        display: none; }
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover {
        color: #000; }

.woocommerce #content div.product div.thumbnails a:last-of-type {
  margin-bottom: 0; }

.woocommerce #content div.product form.cart .variations {
  border: 0;
  padding: 0; }
  .woocommerce #content div.product form.cart .variations td {
    border: 0;
    padding: 0; }
  .woocommerce #content div.product form.cart .variations .value {
    position: relative; }
    .woocommerce #content div.product form.cart .variations .value .reset_variations {
      clear: both; }

.woocommerce #content div.product form.cart div.quantity {
  margin-right: 10px; }

.woocommerce .loader::before {
  background: transparent; }

.woocommerce #reviews #comments h2 {
  margin-bottom: 20px; }

.woocommerce #reviews #comments ol.commentlist {
  padding: 0; }
  .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 14px; }

.woocommerce #reviews h3 {
  margin-bottom: 20px;
  color: #222222;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  font-family: Lato, sans-serif; }

.woocommerce .page-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: capitalize; }

.woocommerce ul.cart_list {
  padding-bottom: 15px; }
  .woocommerce ul.cart_list li {
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-left: 0 !important; }
    .woocommerce ul.cart_list li:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none; }

.woocommerce ul.product_list_widget {
  padding-bottom: 15px; }
  .woocommerce ul.product_list_widget li {
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-left: 0 !important; }
    .woocommerce ul.product_list_widget li:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none; }

.woocommerce ul.products li.product {
  border: 1px solid #c00;
  float: left;
  padding-bottom: 40px;
  transition: all 0.3s ease 0s;
  position: relative;
  text-align: center;
  margin-bottom: 40px; }
  .woocommerce ul.products li.product .product_hover {
    position: relative; }
    .woocommerce ul.products li.product .product_hover:hover::before {
      opacity: 1; }
  .woocommerce ul.products li.product .product_hover::before {
    background-color: rgba(0, 0, 0, 0.49);
    content: "";
    display: inline-block;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: all 1s ease 0s; }
  .woocommerce ul.products li.product h3 {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    outline: 0 none;
    margin-bottom: 8px;
    padding-bottom: 12px;
    font-size: 14px; }
    .woocommerce ul.products li.product h3:hover {
      color: #c00; }
  .woocommerce ul.products li.product .star-rating {
    margin: 15px auto 7px;
    text-align: center; }
  .woocommerce ul.products li.product .price {
    color: #000;
    font-size: 22px;
    letter-spacing: 1px; }
    .woocommerce ul.products li.product .price del {
      opacity: 1; }
  .woocommerce ul.products li.product h3::after {
    background-color: #c00;
    content: "";
    height: 2px;
    width: 62px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .woocommerce ul.products li.product .button {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    white-space: normal;
    word-wrap: break-word; }
    .woocommerce ul.products li.product .button.product_type_variable.add_to_cart_button {
      bottom: 0;
      font-size: 13px;
      letter-spacing: 0.56px;
      position: relative;
      right: 0;
      font-weight: 700;
      top: auto; }
  .woocommerce ul.products li.product .onsale:hover {
    color: #c00; }
  .woocommerce ul.products li.product a img {
    width: auto;
    margin-bottom: 30px; }
  .woocommerce ul.products li.product.product-type-simple .price {
    min-height: 34px; }
  .woocommerce ul.products li.product .product_type_simple.add_to_cart_button {
    background-color: #c00;
    border: 1px solid #c00;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.56px;
    outline: none;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    word-wrap: break-word;
    white-space: normal; }
    .woocommerce ul.products li.product .product_type_simple.add_to_cart_button:hover {
      background-color: #000;
      border-color: #000; }

.woocommerce .woocommerce-ordering {
  color: #888;
  margin-bottom: 20px; }

.woocommerce .woocommerce-result-count {
  color: #888; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  height: 6px;
  background: #cfcfcf;
  border: 0;
  position: relative;
  border-radius: 0; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-range {
  background: #ececec;
  z-index: 1;
  box-shadow: none; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-state-default {
  cursor: move;
  height: 12px;
  width: 12px;
  border: 1px solid #c00;
  color: #555;
  position: absolute;
  z-index: 2;
  top: -3px;
  transition: none;
  box-shadow: none;
  border-radius: 0; }

.woocommerce .widget_price_filter .price_slider_wrapper .price_label {
  display: inline-block;
  text-align: left;
  color: #777777;
  font-size: 12px; }
  .woocommerce .widget_price_filter .price_slider_wrapper .price_label span {
    color: #353533;
    font-weight: 700; }

.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount {
  margin: 20px 0 0; }
  .woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button {
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 0 25px;
    text-shadow: none;
    border-radius: 0;
    height: auto;
    line-height: 33px;
    font-weight: 400; }
    .woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button:hover {
      background: #353533; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #fff; }

.woocommerce .cart-collaterals {
  margin-top: 30px; }
  .woocommerce .cart-collaterals .cart_totals table tr th {
    padding: 20px; }

.woocommerce .cross-sells ul.products li.product .product_type_simple.add_to_cart_button {
  position: relative;
  display: block; }

.woocommerce button.button.disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce button.button:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce button.button:active {
  top: 0; }

.woocommerce button.button.alt:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce button.button.alt.disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce button.button.alt.disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce button.button.alt:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce button.button.alt:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce button.button:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce button.button.loading::after {
  position: relative !important;
  right: auto !important;
  top: auto !important;
  margin-left: 10px; }

.woocommerce button.button.alt[disabled]:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce button.button.alt[disabled]:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce button.button[disabled]:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce input.button.disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce input.button:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce input.button:active {
  top: 0; }

.woocommerce input.button.alt:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce input.button.alt.disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce input.button.alt.disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce input.button.alt:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce input.button.alt:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce input.button:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce input.button.loading::after {
  position: relative !important;
  right: auto !important;
  top: auto !important;
  margin-left: 10px; }

.woocommerce input.button.alt[disabled]:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce input.button.alt[disabled]:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce input.button[disabled]:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce .star-rating {
  height: 18px; }
  .woocommerce .star-rating span::before {
    color: #c00; }

.woocommerce .quantity .qty {
  line-height: 30px; }

.woocommerce .quantity .minus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-top: 0;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce .quantity .minus:hover {
    background: #ff6766; }

.woocommerce .quantity .plus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce .quantity .plus:hover {
    background: #ff6766; }

.woocommerce .quantity input.qty {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none; }

.woocommerce div.product p.price {
  color: #000;
  font-size: 22px;
  letter-spacing: 1px; }
  .woocommerce div.product p.price del {
    opacity: 1; }

.woocommerce div.product p.cart {
  margin-bottom: 0; }

.woocommerce div.product div.images img {
  width: auto; }

.woocommerce div.product div.thumbnails a:last-of-type {
  margin-bottom: 0; }

.woocommerce div.product .product_title {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase; }

.woocommerce div.product .product_title::before {
  background-color: #c00;
  content: "";
  height: 3px;
  width: 62px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto; }

.woocommerce div.product .woocommerce-tabs {
  display: inline-block;
  width: 100%;
  margin-top: 25px; }
  .woocommerce div.product .woocommerce-tabs h2 {
    display: none; }
  .woocommerce div.product .woocommerce-tabs .entry-content {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #888;
    margin-bottom: 35px;
    padding: 20px !important;
    position: relative; }
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0;
    padding: 0;
    width: 100%; }
    .woocommerce div.product .woocommerce-tabs ul.tabs:before {
      border: 0; }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
      box-shadow: none;
      background: none;
      border-radius: 0;
      margin: 0;
      border: 1px solid #ddd;
      border-bottom: none;
      padding: 0; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        background-color: #c00; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
          box-shadow: none;
          display: none;
          box-shadow: none;
          display: none; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
          color: #fff !important;
          background-color: #c00; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
        display: none;
        display: none; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
        display: none; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
        color: #000; }

.woocommerce div.product span.price {
  color: #000;
  font-size: 22px;
  letter-spacing: 1px; }
  .woocommerce div.product span.price del {
    opacity: 1; }

.woocommerce div.product form.cart {
  margin-bottom: 0; }
  .woocommerce div.product form.cart .reset_variations {
    color: #000;
    text-align: left;
    font-size: 14px;
    clear: both; }
  .woocommerce div.product form.cart .variations {
    border: 0;
    padding: 0;
    margin-bottom: 0; }
    .woocommerce div.product form.cart .variations td {
      border: 0;
      padding: 0; }
    .woocommerce div.product form.cart .variations .value {
      position: relative; }
      .woocommerce div.product form.cart .variations .value .reset_variations {
        clear: both; }
    .woocommerce div.product form.cart .variations select {
      width: 100%;
      font-size: 15px; }
  .woocommerce div.product form.cart div.quantity {
    margin-right: 10px; }

.woocommerce .blockUI.blockOverlay::before {
  background: transparent; }

.woocommerce .woocommerce-LostPassword a {
  color: #000;
  text-decoration: none; }

.woocommerce .order_details li strong {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 5px; }

.woocommerce .login .woocommerce-Button.button {
  margin-right: 10px; }

.woocommerce .widget-area .widget ul li::before {
  background: none; }

.woocommerce .widget_rating_filter ul li a {
  float: right;
  line-height: 28px;
  text-align: right;
  width: 100%; }

.woocommerce .widget_rating_filter ul li a::before {
  content: ""; }

.woocommerce .widget_rating_filter ul li .star-rating {
  float: left;
  height: 18px;
  position: relative;
  top: 4px; }

.woocommerce .widget_layered_nav ul li {
  padding-bottom: 12px; }
  .woocommerce .widget_layered_nav ul li:hover a {
    color: #c00; }
  .woocommerce .widget_layered_nav ul li:hover span {
    color: #c00; }
  .woocommerce .widget_layered_nav ul li a {
    padding-left: 0; }
  .woocommerce .widget_layered_nav ul li a::before {
    content: ""; }

.woocommerce .widget_shopping_cart .cart_list li a.remove {
  left: auto;
  right: 0;
  top: auto;
  border-radius: 2px;
  color: #333;
  line-height: 13px;
  text-align: center; }

.woocommerce.widget_shopping_cart .cart_list li a.remove {
  left: auto;
  right: 0;
  top: auto;
  border-radius: 2px;
  color: #333;
  line-height: 13px;
  text-align: center; }

.woocommerce #respond input#submit.disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce #respond input#submit:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce #respond input#submit:active {
  top: 0; }

.woocommerce #respond input#submit.alt:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce #respond input#submit.alt.disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce #respond input#submit.alt.disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce #respond input#submit.alt:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce #respond input#submit.alt:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce #respond input#submit:hover {
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.woocommerce #respond input#submit.loading::after {
  position: relative !important;
  right: auto !important;
  top: auto !important;
  margin-left: 10px; }

.woocommerce #respond input#submit.alt[disabled]:disabled {
  background-color: #c00;
  color: #fff; }
  .woocommerce #respond input#submit.alt[disabled]:disabled:hover {
    background-color: #c00;
    color: #fff; }

.woocommerce #respond input#submit[disabled]:disabled {
  opacity: 1;
  color: #fff;
  outline: none; }

.woocommerce .summary.entry-summary .variations .label {
  color: #989898;
  font-size: 15px;
  line-height: 31px;
  float: left;
  text-transform: capitalize; }

.woocommerce nav.woocommerce-pagination {
  text-align: left; }
  .woocommerce nav.woocommerce-pagination ul {
    border: none; }
    .woocommerce nav.woocommerce-pagination ul li {
      border: 0 none;
      margin: 0 5px; }
      .woocommerce nav.woocommerce-pagination ul li a:focus {
        color: #fff;
        background-color: #c00; }
      .woocommerce nav.woocommerce-pagination ul li a:hover {
        color: #fff;
        background-color: #c00;
        color: #fff;
        background-color: #c00; }
      .woocommerce nav.woocommerce-pagination ul li span.current {
        color: #fff;
        background-color: #c00;
        color: #fff;
        background-color: #c00; }

.woocommerce.widget ul li::before {
  content: "";
  display: none; }

.woocommerce .single_variation_wrap .single_add_to_cart_button {
  font-weight: 400; }

.woocommerce span.onsale:hover {
  color: #c00; }

.woocommerce p.stars a {
  color: #888; }

.woocommerce form .form-row {
  padding-left: 0; }
  .woocommerce form .form-row textarea {
    border: 1px solid #cfcfcf;
    line-height: 20px;
    padding: 5px 10px;
    box-shadow: none; }
  .woocommerce form .form-row input.input-text {
    border: 1px solid #cfcfcf;
    line-height: 20px;
    padding: 5px 10px;
    box-shadow: none; }

.woocommerce .woocommerce-MyAccount-content table.shop_table.order_details {
  margin-bottom: 20px; }
  .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details td {
    font-size: 14px; }
  .woocommerce .woocommerce-MyAccount-content table.shop_table.order_details th {
    font-size: 14px; }

.woocommerce .woocommerce-MyAccount-content table.shop_table.customer_details td {
  font-size: 14px; }

.woocommerce .woocommerce-MyAccount-content table.shop_table.customer_details th {
  font-size: 14px; }

.woocommerce-cart table.shop_table .button {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px !important; }

.woocommerce-cart #payment {
  background-color: transparent; }
  .woocommerce-cart #payment .payment_method_paypal .about_paypal {
    margin-left: 10px;
    float: none;
    line-height: normal;
    font-size: 14px; }

.woocommerce-cart .cart-collaterals .cart_totals table {
  border: none;
  line-height: 0; }
  .woocommerce-cart .cart-collaterals .cart_totals table td {
    vertical-align: middle;
    line-height: 0; }
  .woocommerce-cart .cart-collaterals .cart_totals table th {
    vertical-align: middle;
    line-height: 0; }

.woocommerce-cart .woocommerce table.shop_table td {
  padding: 20px 12px; }

.woocommerce-cart.woocommerce-page .cart-collaterals a.button {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px !important; }

.woocommerce-checkout #place_order {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px !important;
  margin-top: 20px; }

.woocommerce-checkout #payment {
  background-color: transparent; }
  .woocommerce-checkout #payment ul.payment_methods li img {
    display: none; }
  .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    margin-left: 10px;
    float: none;
    line-height: normal;
    font-size: 14px; }

.woocommerce-checkout table.shop_table {
  text-align: left; }

.woocommerce-checkout .cart-collaterals .cart_totals table td {
  vertical-align: middle;
  line-height: 0; }

.woocommerce-checkout .cart-collaterals .cart_totals table th {
  vertical-align: middle;
  line-height: 0; }

.woocommerce-checkout .woocommerce form.login .form-row label.inline {
  display: block;
  margin-top: 10px; }

#add_payment_method #payment {
  background-color: transparent; }
  #add_payment_method #payment .payment_method_paypal .about_paypal {
    margin-left: 10px;
    float: none;
    line-height: normal;
    font-size: 14px; }

#add_payment_method .cart-collaterals .cart_totals table td {
  vertical-align: middle;
  line-height: 0; }

#add_payment_method .cart-collaterals .cart_totals table th {
  vertical-align: middle;
  line-height: 0; }

.woocommerce-page #content .quantity .minus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-top: 0;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce-page #content .quantity .minus:hover {
    background: #ff6766; }

.woocommerce-page #content .quantity .plus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce-page #content .quantity .plus:hover {
    background: #ff6766; }

.woocommerce-page #content .quantity input.qty {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none; }

.woocommerce-page #content table.cart td.actions .input-text {
  width: auto;
  box-shadow: none;
  outline: none; }

.woocommerce-page #content input.button:active {
  top: 0; }

.woocommerce-page #content div.product div.thumbnails a:last-of-type {
  margin-bottom: 0; }

.woocommerce-page #content div.product form.cart .variations {
  border: 0;
  padding: 0; }
  .woocommerce-page #content div.product form.cart .variations td {
    border: 0;
    padding: 0; }
  .woocommerce-page #content div.product form.cart .variations .value {
    position: relative; }
    .woocommerce-page #content div.product form.cart .variations .value .reset_variations {
      clear: both; }

.woocommerce-page #content div.product form.cart div.quantity {
  margin-right: 10px; }

.woocommerce-page table.shop_attributes {
  border-left: 1px solid #666;
  border-style: solid;
  background: #fff;
  margin-bottom: 0; }
  .woocommerce-page table.shop_attributes th {
    border-style: solid;
    background: #fff;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 20px; }
  .woocommerce-page table.shop_attributes td {
    border-style: solid;
    background: #fff;
    margin-bottom: 0;
    padding-left: 20px; }

.woocommerce-page table.cart td.actions .input-text {
  width: auto;
  box-shadow: none;
  outline: none; }

.woocommerce-page .cart-collaterals {
  margin-top: 30px; }
  .woocommerce-page .cart-collaterals .cart_totals table tr th {
    padding: 20px; }

.woocommerce-page #reviews h3 {
  margin-bottom: 20px;
  color: #222222;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  font-family: Lato, sans-serif; }

.woocommerce-page #reviews #comments h2 {
  margin-bottom: 20px; }

.woocommerce-page .quantity .minus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  border-top: 0;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce-page .quantity .minus:hover {
    background: #ff6766; }

.woocommerce-page .quantity .plus {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none;
  width: 29px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  text-shadow: none; }
  .woocommerce-page .quantity .plus:hover {
    background: #ff6766; }

.woocommerce-page .quantity input.qty {
  border-radius: 0;
  border: 1px solid #a4a4a4;
  box-shadow: none; }

.woocommerce-page ul.products li.product {
  border: 1px solid #c00;
  float: left;
  padding-bottom: 40px;
  transition: all 0.3s ease 0s;
  position: relative;
  text-align: center;
  margin-bottom: 40px; }

.woocommerce-page #respond input#submit:active {
  top: 0; }

.woocommerce-page a.button:active {
  top: 0; }

.woocommerce-page button.button:active {
  top: 0; }

.woocommerce-page input.button:active {
  top: 0; }

.woocommerce-page div.product div.thumbnails a:last-of-type {
  margin-bottom: 0; }

.woocommerce-page div.product form.cart .variations {
  border: 0;
  padding: 0; }
  .woocommerce-page div.product form.cart .variations td {
    border: 0;
    padding: 0; }
  .woocommerce-page div.product form.cart .variations .value {
    position: relative; }
    .woocommerce-page div.product form.cart .variations .value .reset_variations {
      clear: both; }

.woocommerce-page div.product form.cart div.quantity {
  margin-right: 10px; }

.woocommerce-billing-fields h3::before {
  background-color: #c00;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 81px; }

.woocommerce-shipping-fields h3::before {
  background-color: #c00;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 81px; }

.woocommerce-LostPassword {
  color: #000;
  text-decoration: none; }

.woocommerce-order-received .woocommerce-thankyou-order-received {
  margin-bottom: 15px; }

.woocommerce-order-received .woocommerce .title h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600; }

.woocommerce-order-received .woocommerce .woocommerce-thankyou-order-details.order_details {
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 15px; }

.woocommerce-order-received .woocommerce .order_details li {
  border-right: 1px solid #000;
  float: left;
  font-size: 14px;
  line-height: 1;
  list-style-type: none;
  margin-left: 0;
  margin-right: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 20px;
  text-transform: uppercase; }
  .woocommerce-order-received .woocommerce .order_details li:last-of-type {
    border: none;
    margin-right: 0;
    padding-right: 0; }

.woocommerce-order-received p {
  line-height: 24px; }

.woocommerce-order-received h2 {
  color: #333;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.45px;
  line-height: 28px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase; }

.woocommerce-order-received .shop_table.order_details .product-name a {
  color: #000;
  text-decoration: none; }

.widget.widget_recent_products_carousel ul {
  padding: 0;
  list-style: none; }

.widget.widget_recent_products_carousel .carousel-inner > .item {
  margin-bottom: 5px; }

.widget.widget_products > ul {
  padding-left: 0; }

.widget.widget_products .product_list_widget li > a {
  display: block; }

.widget.woocommerce ul.children {
  margin-top: 0;
  padding-left: 10px; }

.widget.woocommerce ul.product_list_widget li a {
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
  padding-left: 0; }
  .widget.woocommerce ul.product_list_widget li a:hover span {
    color: #c00; }

.widget.woocommerce ul.product_list_widget li a::before {
  content: ""; }

.widget.woocommerce ul.product_list_widget li:before {
  display: none; }

.widget.woocommerce ul.product_list_widget li img {
  box-shadow: none;
  margin: 0 10px 0 0;
  width: 80px;
  height: auto;
  float: left;
  border: 1px solid transparent;
  transition: all 1s ease 0s; }
  .widget.woocommerce ul.product_list_widget li img:hover {
    border-color: #c00; }

.widget.woocommerce ins {
  background: none; }

.widget.woocommerce .total {
  margin-bottom: 12px;
  text-align: center; }

.widget.woocommerce .buttons {
  margin: 0;
  padding: 0;
  text-align: center; }
  .widget.woocommerce .buttons a {
    font-size: 13px;
    font-weight: 400;
    height: 33px;
    line-height: 33px;
    margin: 0 10px 5px;
    padding: 0 10px; }

.widget.woocommerce.widget_product_categories ul li {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }
  .widget.woocommerce.widget_product_categories ul li a {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f0f0; }

.widget.woocommerce.widget_product_categories > ul > li:last-child a {
  margin-bottom: 0; }

.widget.woocommerce del .amount {
  color: #989898; }

.widget.widget_top_rated_products ul li a {
  display: block; }

.widget_recent_products_carousel img {
  margin-bottom: 10px; }

.widget_recent_products_carousel li.item h4 {
  margin-bottom: 5px; }
  .widget_recent_products_carousel li.item h4 a {
    color: #333;
    text-transform: capitalize; }

.widget_recent_products_carousel li.item .amount {
  margin-bottom: 5px; }

.widget_recent_products_carousel > ul > li > a {
  margin-top: 5px; }
  .widget_recent_products_carousel > ul > li > a span {
    margin-left: 5px; }

.widget_product_categories > ul:first-of-type {
  padding-left: 0; }

.widget_product_categories .children > li:last-of-type {
  border-bottom: none;
  padding-bottom: 0; }

.about_paypal {
  display: none; }

.woocommerce-product-search input[type="search"] {
  border: 1px solid #cfcfcf;
  border-radius: 0;
  padding: 5px 10px;
  width: 73%;
  outline: none; }

.woocommerce-product-search input[type="submit"] {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 5px 7px;
  background-color: #c00;
  color: #fff;
  width: 25%;
  height: 35px;
  outline: none; }
  .woocommerce-product-search input[type="submit"]:hover {
    background-color: transparent;
    color: #c00;
    border-color: #c00; }

.search-field {
  height: 35px;
  padding: 5px; }

.single-product .product_meta {
  display: none; }

.single-product .summary.entry-summary > div[itemprop="description"] {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.single-product .summary.entry-summary div[itemprop="description"] .wc-tabs-wrapper {
  padding: 0; }

.single-product .woocommerce div.product p.price del {
  font-size: 26px; }

.single-product .woocommerce div.product span.price del {
  font-size: 26px; }

.single-product .woocommerce-page .product .images {
  border: 1px solid #c00; }

.woocommerce-review-link {
  color: #c00;
  font-size: 15px;
  letter-spacing: 0.56px;
  text-decoration: none; }
  .woocommerce-review-link:hover {
    color: #000; }

.woocommerce-variation-price {
  margin-bottom: 15px; }

.woocommerce-ordering {
  position: relative; }
  .woocommerce-ordering:before {
    right: 0; }
  .woocommerce-ordering:after {
    right: 12px; }

.woocommerce-info {
  border-top-color: #c00;
  font-size: 14px; }
  .woocommerce-info > a.showlogin {
    color: #c00;
    text-decoration: none;
    margin-left: 5px; }
  .woocommerce-info > a.showcoupon {
    color: #c00;
    text-decoration: none;
    margin-left: 5px; }

.woocommerce-message {
  border-top-color: #c00;
  font-size: 14px; }

.woocommerce-message::before {
  color: #c00; }

.woocommerce-info::before {
  color: #c00; }

.woocommerce-account .woocommerce > h2 {
  margin-top: 0;
  color: #222222;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.462px;
  line-height: 36px; }

.woocommerce-account .woocommerce table.my_account_orders .order-actions {
  text-align: center; }

.woocommerce-account .woocommerce-MyAccount-content {
  color: #555;
  font-size: 18px;
  line-height: 30px; }
  .woocommerce-account .woocommerce-MyAccount-content p strong {
    color: #000;
    text-transform: capitalize; }
  .woocommerce-account .woocommerce-MyAccount-content p a {
    color: #000;
    font-weight: 500; }

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding-left: 0; }
  .woocommerce-account .woocommerce-MyAccount-navigation ul li {
    display: inline-block;
    width: 100%;
    background-color: #c00;
    border-bottom: 1px solid #fff;
    padding: 10px 15px; }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
      position: relative; }
      .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
        color: #000; }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active::after {
      position: absolute;
      top: 50%;
      left: auto;
      right: 10px;
      transform: translate(0, -50%);
      content: "\f105";
      font-family: FontAwesome;
      color: #fff;
      font-size: 18px;
      font-weight: 700; }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li a {
      text-transform: capitalize;
      color: #fff;
      line-height: 26px;
      word-wrap: break-word;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 0.56px; }
      .woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
        color: #000; }

.woocommerce-MyAccount-content {
  width: 100%;
  padding: 15px;
  border: 1px solid #c00; }
  .woocommerce-MyAccount-content p {
    font-size: 15px;
    color: #222222; }
  .woocommerce-MyAccount-content legend {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500; }
  .woocommerce-MyAccount-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #000; }

.woocommerce-Address-title h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 27px; }

.woocommerce-Address-title .edit {
  background-color: #c00;
  color: #fff;
  display: inline-block;
  float: none;
  font-size: 14px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  width: auto;
  border: 1px solid transparent; }
  .woocommerce-Address-title .edit:hover {
    color: #c00;
    border-color: #c00;
    background-color: transparent; }

@media (max-width: 1200px) {
  .woocommerce ul.products li.product .button.product_type_variable.add_to_cart_button {
    bottom: auto;
    left: 0;
    position: relative; }
  .woocommerce ul.products li.product .product_type_simple.add_to_cart_button {
    bottom: auto;
    float: none;
    position: relative;
    right: auto; } }

@media (min-width: 992px) {
  .content-area .products .owclearfix-cnt2:after {
    clear: none; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .woocommerce-product-search input[type="search"] {
    width: 55%; }
  .woocommerce-product-search input[type="submit"] {
    width: 35%; }
  .widget-title {
    font-size: 16px;
    line-height: 31px; }
  .woocommerce-order-received .woocommerce .order_details li {
    padding-right: 15px;
    margin-right: 15px; }
  .woocommerce .widget_price_filter .price_slider_wrapper .price_label {
    display: block;
    float: none; }
  .woocommerce .widget_price_filter .price_slider_amount .button {
    display: block;
    float: none; }
  .widget.woocommerce ul.product_list_widget li img {
    width: 60px; } }

@media (max-width: 991px) {
  .woocommerce .widget_shopping_cart .cart_list li {
    padding-left: 0 !important; }
    .woocommerce .widget_shopping_cart .cart_list li a.remove {
      position: relative;
      float: right; }
  .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 0 !important; }
    .woocommerce.widget_shopping_cart .cart_list li a.remove {
      position: relative;
      float: right; }
  .woocommerce .related.products > .products > li {
    float: left !important; }
  .woocommerce table.shop_table td {
    padding: 12px; }
  .woocommerce table.shop_table thead tr th {
    padding: 12px; }
  .woocommerce-product-search input[type="search"] {
    width: 60%; }
  .woocommerce-product-search input[type="submit"] {
    width: 37%; }
  .woocommerce-order-received .woocommerce .order_details li {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 100%; }
    .woocommerce-order-received .woocommerce .order_details li:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0; }
  .content-area .products .owclearfix-cnt3:after {
    clear: none; }
  .woocommerce-cart .woocommerce table.shop_table td .coupon .button {
    margin-bottom: 10px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .woocommerce .cart-collaterals .cross-sells {
    width: 100%; }
  .woocommerce .cart-collaterals .cart_totals {
    width: 100%; }
  .woocommerce table.shop_table td {
    padding: 8px; }
  .woocommerce table.shop_table thead tr th {
    padding: 8px; }
  .woocommerce table.my_account_orders .order-actions .button {
    margin: 0;
    padding: 5px; }
  .woocommerce.columns-4 ul.products li.product {
    width: 46%; }
    .woocommerce.columns-4 ul.products li.product:nth-child(2n + 1) {
      clear: both; }
  .woocommerce-page .cart-collaterals .cross-sells {
    width: 100%; }
  .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%; }
  .woocommerce-page.columns-4 ul.products li.product {
    width: 46%; }
    .woocommerce-page.columns-4 ul.products li.product:nth-child(2n + 1) {
      clear: both; }
  .woocommerce-account .addresses .title h3 {
    float: none; }
  .woocommerce-account .addresses .title .edit {
    float: none; }
  .woocommerce-account ul.digital-downloads li .count {
    float: none; } }

@media (max-width: 767px) {
  .woocommerce-order-received .woocommerce .order_details li {
    border-right: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .woocommerce-order-received .woocommerce .order_details li:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }
  .woocommerce-order-received .shop_table.order_details .product-name strong {
    font-size: 13px; }
  .woocommerce-order-received .shop_table.order_details .product-name a {
    font-size: 13px; }
  .woocommerce .wishlist_table thead th {
    font-size: 14px !important; }
  .woocommerce .wishlist_table tbody td {
    font-size: 14px !important; }
  .woocommerce div.product .product_title {
    font-size: 22px; }
  .woocommerce div.product p.price {
    font-size: 24px; }
  .woocommerce div.product span.price {
    font-size: 24px; }
  .woocommerce ul.products li.product .price {
    font-size: 24px; }
  .woocommerce table.wishlist_table thead {
    display: none; }
  .woocommerce table.wishlist_table tr {
    display: block;
    margin-bottom: 30px; }
    .woocommerce table.wishlist_table tr td {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: right !important; }
      .woocommerce table.wishlist_table tr td:nth-of-type(2)::before {
        content: "Product Img"; }
      .woocommerce table.wishlist_table tr td:nth-of-type(3)::before {
        content: "Product Name"; }
      .woocommerce table.wishlist_table tr td:nth-of-type(4)::before {
        content: "Product Price"; }
      .woocommerce table.wishlist_table tr td:nth-of-type(5)::before {
        content: "Product Status"; }
    .woocommerce table.wishlist_table tr td::before {
      float: left;
      font-weight: 700;
      top: 50%;
      left: 15px;
      transform: translate(0, -50%);
      position: absolute; }
  .woocommerce table.wishlist_table tbody th {
    display: none; }
  .woocommerce table.wishlist_table tfoot tr {
    margin: 0; }
    .woocommerce table.wishlist_table tfoot tr td {
      border: none;
      padding: 0; }
  .woocommerce-product-search input[type="search"] {
    padding: 5px 77px 5px 10px;
    width: 72%; }
  .woocommerce-product-search input[type="submit"] {
    width: 26%; }
  .yith-wcwl-share {
    float: left;
    margin-bottom: 35px;
    margin-left: 10px;
    text-align: left; }
  .woocommerce-checkout.woocommerce-page.woocommerce-order-received .woocommerce {
    padding: 0; }
  .woocommerce-page table.wishlist_table .product-thumbnail {
    display: inline-block;
    width: 100%;
    float: right;
    border: none; }
    .woocommerce-page table.wishlist_table .product-thumbnail a {
      float: right; }
  .woocommerce-page table.wishlist_table tr {
    display: block;
    margin-bottom: 30px; }
    .woocommerce-page table.wishlist_table tr td {
      display: inline-block;
      width: 100%;
      text-align: right !important; }
      .woocommerce-page table.wishlist_table tr td.actions::before {
        display: block; }
      .woocommerce-page table.wishlist_table tr td.product-remove::before {
        display: block; }
  .woocommerce-page table.wishlist_table thead {
    display: none; }
  .woocommerce-page table.wishlist_table tbody th {
    display: none; }
  .woocommerce-page table.wishlist_table tfoot tr td {
    border: none;
    padding: 0; }
  .page-banner .banner-content h3 {
    font-size: 25px;
    line-height: 46px; }
  .woocommerce-Addresses address {
    font-size: 15px; } }

@media (max-width: 479px) {
  .orderby {
    width: 100%;
    float: none; }
  .woocommerce .woocommerce-ordering {
    width: 100%;
    float: none; }
  .woocommerce #reviews #comments {
    padding: 10px;
    padding: 3px; }
  .woocommerce #content div.product .woocommerce-tabs .entry-content {
    padding: 15px !important; }
  .woocommerce #content div.product .woocommerce-tabs ul.tabs li a {
    font-size: 14px;
    padding: 12px 10px; }
  .woocommerce div.product .woocommerce-tabs .entry-content {
    padding: 15px !important; }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 14px;
    padding: 12px 10px; }
  .woocommerce ul.products li.product {
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px; }
  .woocommerce .order_details li {
    width: 100%;
    border-bottom: 1px dashed #d2d2d2;
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 0; }
  .woocommerce-page .woocommerce-result-count {
    width: 100%;
    float: none; }
  .woocommerce-page #reviews {
    padding: 10px;
    padding: 3px; }
  .woocommerce-page .woocommerce-ordering .woocommerce .woocommerce-result-count {
    width: 100%;
    float: none; }
  .woocommerce-page ul.products li.product {
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px; }
  .description {
    padding: 0 5px; }
  .woocommerce-cart .woocommerce table.shop_table td .coupon .button {
    width: 100%;
    margin-top: 15px; }
  .woocommerce-page[class*="columns-"] ul.products li.product {
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px;
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px; }
  .woocommerce[class*="columns-"] ul.products li.product {
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px;
    margin: 0 auto 30px;
    padding-right: 0;
    width: 100%;
    float: none !important;
    max-width: 300px; }
  .upsells.products > h2 {
    font-size: 22px;
    letter-spacing: 1px; }
  .related.products > h2 {
    font-size: 22px;
    letter-spacing: 1px; } }

@media (max-width: 400px) {
  .woocommerce .cart-collaterals .cross-sells ul.products li {
    width: 100%; }
  .woocommerce form.checkout_coupon .form-row-first {
    width: 100%;
    float: none; }
  .woocommerce form.checkout_coupon .form-row-last {
    width: 100%;
    float: none; }
  .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 100%; }
  .woocommerce-page form.checkout_coupon .form-row-first {
    width: 100%;
    float: none; }
  .woocommerce-page form.checkout_coupon .form-row-last {
    width: 100%;
    float: none; } }

#customer_details .form-row label {
  color: #333;
  font-size: 13px;
  letter-spacing: 0.52px;
  margin-bottom: 18px;
  text-transform: uppercase; }

.sidebar .widget.widget_recent_products_carousel ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

.sidebar .widget.widget_recent_products_carousel li {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

.sidebar .widget.widget_top_rated_products > ul {
  padding-left: 0; }

.widget_product_search input#s {
  width: 100%;
  outline: none; }

.widget_product_search input#searchsubmit {
  display: none;
  outline: none; }

.widget_top_rated_products .star-rating {
  margin-bottom: 5px;
  height: 18px; }

.entry-summary p {
  font-size: 15px;
  color: #777777;
  line-height: 24px; }

.ow-woocommerce > .page-title {
  display: none; }

.yith-wcwl-add-button.yith-wcwl-add-button .add_to_wishlist:hover {
  text-decoration: none;
  background-color: transparent;
  color: #c00;
  border-color: #c00; }

.posted_in a {
  color: #c00;
  font-size: 15px;
  letter-spacing: 0.56px;
  text-decoration: none; }
  .posted_in a:hover {
    color: #000; }

table.variations {
  table-layout: inherit; }

.woocommerce-Tabs-panel--description p {
  color: #777777;
  font-size: 15px;
  line-height: 24px; }

.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:hover {
  border-color: #c00; }

.yith-wcwl-wishlistaddedbrowse.show > a {
  text-decoration: none;
  color: #c00;
  margin-left: 5px;
  display: block; }

.yith-wcwl-wishlistexistsbrowse.show > a {
  text-decoration: none;
  color: #c00;
  margin-left: 5px;
  display: block; }

.woocommerce-checkout-payment .payment_methods label {
  color: #333;
  font-size: 14px;
  letter-spacing: 0.52px;
  margin-bottom: 18px;
  text-transform: uppercase; }

.upsells.products > h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 15px;
  text-transform: capitalize; }

.related.products > h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 15px;
  text-transform: capitalize; }

.woocommerce-Addresses address {
  font-size: 14px !important;
  color: #000;
  line-height: 24px; }

#customer_login h2 {
  margin-top: 0;
  font-size: 22px;
  letter-spacing: 0.58px;
  font-weight: 700; }

.woocommerce-MyAccount-orders .order-number a {
  color: #000; }

/*# sourceMappingURL=woocommerce.css.map */