.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form textarea {
  border-color: #d1d1d1;
  border-radius: 0;
  font-size: 14px;
  min-height: 42px;
  letter-spacing: 0.52px;
  padding: 6px 25px;
  transition: all 1s ease 0s;
  box-shadow: none;
  border: 1px solid #ddd;
  width: 100%;
  color: #555; }

.breadcrumb a, .breadcrumb span {
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  margin-right: 1px;
  margin-left: 3px; }

.entry-content .page-links > a, .entry-content .page-links > span:not(.screen-reader-text):not(.page-links-title) {
  color: #fff;
  background-color: #c00;
  border: 1px solid #c00;
  border-radius: 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 38px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all 1s ease 0s;
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 3px;
  text-decoration: none; }

.navbar-brand.custom-txt, .navbar-brand.site-title {
  color: #c00;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease 0s; }

.woocommerce select, .widget select {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  max-width: 100%;
  border: 1px solid #ddd;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #777777;
  border-radius: 0;
  outline: none; }

.widget_calendar #next a, .widget_calendar #prev a {
  border: 1px solid #000;
  color: #222;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
  transition: all 1s ease 0s; }

.entry-meta > span, .post-categories > span {
  text-transform: uppercase;
  color: #030303;
  margin-top: 0;
  word-wrap: break-word;
  position: relative;
  margin-right: 10px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 500; }

body .vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

body .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner {
  padding-top: 0; }

body .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0; }

body .vc_column_container > .vc_column-inner {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body.admin-bar .navbar-fixed-top {
  margin-top: 32px; }

.beforepage-shortcode {
  padding-bottom: 35px; }
  .beforepage-shortcode.inside-slider {
    padding-bottom: 0; }

.afterpage-shortcode {
  padding-bottom: 35px; }

.page_spacing {
  margin-top: 80px;
  margin-bottom: 80px; }

.container {
  max-width: 100%; }

.owpull-left {
  float: left; }

.owpull-right {
  float: right; }

.owclearfix::before {
  content: " ";
  display: table; }

.owclearfix::after {
  content: " ";
  display: table;
  clear: both; }

.owclearfix-cnt2::before {
  content: " ";
  display: table; }

.owclearfix-cnt2::after {
  content: " ";
  display: table;
  clear: both; }

.owclearfix-cnt3::before {
  content: " ";
  display: table; }

.owclearfix-cnt3::after {
  content: " ";
  display: table;
  clear: both; }

.menu-setting {
  display: inline-block;
  float: right;
  margin-top: 50px;
  padding-right: 25px; }

.navbar-fixed-top .menu-setting {
  margin-top: 32px; }

.navbar-fixed-top .navbar-brand.custom-txt {
  margin-top: 10px; }

.navbar-fixed-top .navbar-brand.site-title {
  margin-top: 10px; }

.screen-reader-text {
  visibility: hidden;
  display: none; }

.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

blockquote {
  border-left: none;
  margin: 0; }
  blockquote.alignleft {
    margin: 0.4em 1.6em 1.6em 0; }
  blockquote.alignright {
    margin: 0.4em 0 1.6em 1.6em; }
  blockquote.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em; }
  blockquote p {
    color: #292929;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.52px;
    font-family: Lato, sans-serif; }
  blockquote cite a {
    color: #777777; }

.wp-caption {
  margin-bottom: 1.6em;
  max-width: 100%; }
  .wp-caption.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
    margin-bottom: 1.2em; }
  .wp-caption.alignright {
    margin: 0.4em 0 1.6em 1.6em;
    margin-bottom: 1.2em; }
  .wp-caption.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
    margin-bottom: 1.2em; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0; }

img.alignleft {
  margin: 0.4em 1.6em 1.6em 0; }

img.alignright {
  margin: 0.4em 0 1.6em 1.6em; }

img.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em; }

.entry-content .page-links {
  margin-bottom: 20px; }
  .entry-content .page-links > a {
    background-color: transparent;
    border-color: #777777; }
  .entry-content .page-links > span:not(.screen-reader-text):not(.page-links-title) {
    color: #fff;
    background-color: #c00; }
    .entry-content .page-links > span:not(.screen-reader-text):not(.page-links-title):hover {
      color: #fff;
      background-color: #c00; }
  .entry-content .page-links a:hover {
    color: #fff;
    background-color: #c00;
    color: #fff; }

.entry-content .page-links-title {
  padding-left: 8px;
  padding-right: 8px; }

.entry-content p {
  color: #777777;
  font-size: 15px;
  line-height: 26px; }
  .entry-content p > a {
    color: #777777; }

.entry-content blockquote {
  border-left: none;
  margin: 0; }
  .entry-content blockquote p {
    color: #292929;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.52px;
    font-family: Lato, sans-serif; }

.entry-content img.wp-smiley {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.entry-content ul li {
  line-height: 22px;
  color: #777777; }

.entry-content ol li {
  line-height: 22px;
  color: #777777; }

.comment-content a {
  text-decoration: none;
  color: #000; }

.comment-content li > ul {
  margin-bottom: 0; }

.comment-content li > ol {
  margin-bottom: 0; }

.comment-content h2 {
  line-height: 40px; }

.comment-content img.wp-smiley {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.comment-content > :last-child {
  margin-bottom: 0; }

audio {
  display: inline-block; }

canvas {
  display: inline-block; }

embed {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  width: 100%; }

iframe {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  width: 100%; }

object {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  width: 100%; }

video {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  width: 100%; }

p > embed {
  margin-bottom: 0; }

p > iframe {
  margin-bottom: 0; }

p > object {
  margin-bottom: 0; }

p > video {
  margin-bottom: 0; }

.wp-audio-shortcode {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.6em; }

.wp-video {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.6em; }

.wp-playlist.wp-audio-playlist {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.6em; }

.wp-playlist.wp-playlist {
  padding-bottom: 0; }

.wp-playlist .wp-playlist-tracks {
  margin-top: 0; }

.wp-playlist-item .wp-playlist-caption {
  border-bottom: 0;
  padding: 10px 0; }

.wp-playlist-item .wp-playlist-item-length {
  top: 10px; }

.wp-caption-text {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 14px;
  line-height: 1.6;
  padding: 0.5em 0; }

.gallery {
  margin-bottom: 1.6em; }

.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-6 .gallery-caption {
  display: none; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-7 .gallery-caption {
  display: none; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-8 .gallery-caption {
  display: none; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-columns-9 .gallery-caption {
  display: none; }

.gallery-caption {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
  font-size: 14px; }

table {
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(51, 51, 51, 0.1); }

th {
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 0.4em;
  text-align: center;
  word-wrap: break-word;
  border-width: 0 1px 1px 0;
  font-weight: 700; }

td {
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 0.4em;
  text-align: center;
  word-wrap: break-word; }

.comments-area {
  display: inline-block;
  margin-top: 0;
  padding: 0;
  width: 100%;
  margin-top: 10px; }
  .comments-area .comment-content p {
    color: #777777;
    font-size: 14px;
    hyphens: auto;
    letter-spacing: -0.13px;
    line-height: 24px; }
  .comments-area .comment-content blockquote p {
    color: #292929;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.52px;
    line-height: 24px; }
  .comments-area .comment .comment-awaiting-moderation {
    color: #222;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px; }
  .comments-area .comment .comment-image {
    float: left;
    margin-left: -100px; }
    .comments-area .comment .comment-image img {
      border-radius: 150px;
      width: 80px;
      height: 80px;
      border: 3px solid #e8e8e8; }
  .comments-area .comment .comment-info {
    display: block;
    margin-bottom: 10px;
    font-size: 16px; }
    .comments-area .comment .comment-info span {
      float: right;
      font-size: 13px;
      color: #a3a2a2; }
  .comments-area .comment-form-author {
    box-sizing: border-box;
    float: left;
    width: 50%; }
  .comments-area .comment-form-email {
    box-sizing: border-box;
    float: left;
    width: 50%; }
  .comments-area .comment-form-url {
    margin-right: 0; }
  .comments-area h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #4c4c4c; }
  .comments-area .comments-line {
    width: 100%;
    border: 1px solid #c7c7c7;
    padding: 15px;
    font-size: 14px;
    font-style: italic;
    outline: none;
    margin-bottom: 20px; }
  .comments-area .comments-area {
    width: 100%;
    border: 1px solid #c7c7c7;
    padding: 15px;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    font-style: italic;
    resize: none;
    height: 202px; }
  .comments-area .commentlist {
    margin-bottom: 60px;
    padding: 0; }
    .comments-area .commentlist ul {
      margin-left: 70px; }
    .comments-area .commentlist li {
      list-style: none; }
  .comments-area p.form-submit .button-1 {
    background-color: #bfa682;
    border-color: #bfa682;
    color: #fff;
    line-height: normal;
    margin-left: 19px;
    padding: 0.618em 1em;
    font-size: 13px;
    border: 0 none;
    text-transform: uppercase; }
  .comments-area .comment-list .children .depth-4 .comment-form-author {
    width: 100%;
    padding: 5px 0; }
  .comments-area .comment-list .children .depth-4 .comment-form-email {
    width: 100%;
    padding: 5px 0; }
  .comments-area .comment-list .children .depth-4 .comment-form-url {
    width: 100%;
    padding: 5px 0; }

.comments-title {
  font-family: Raleway, sans-serif;
  color: #3a3e40;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase; }

.comment-list {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
  padding-left: 0; }
  .comment-list .children {
    list-style: none;
    margin: 0 0 0 5px;
    padding-left: 5px; }
    .comment-list .children > li {
      padding-left: 0.5em; }
  .comment-list .trackback {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
    padding-bottom: 40px; }
  .comment-list > li.depth-1 {
    padding-left: 0; }
  .comment-list .reply a {
    background-color: transparent;
    font-size: 14px;
    color: #222;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 1s ease 0s;
    display: inline-block;
    margin-top: 10px; }
    .comment-list .reply a:hover {
      color: #c00; }

.comment-body {
  margin-bottom: 30px;
  padding: 22px 25px 22px 135px;
  position: relative;
  z-index: 1; }
  .comment-body a.url {
    color: #777777;
    text-decoration: none; }

.comment-body::before {
  border: 1px solid #ddd;
  content: "";
  position: absolute;
  left: 105px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }

.comment-author {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase; }
  .comment-author .avatar {
    position: absolute;
    left: 0;
    border: 1px solid #ddd; }
  .comment-author .fn {
    text-transform: capitalize; }
    .comment-author .fn a.url {
      color: #3a3e40;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 7px;
      display: inline-block; }
  .comment-author .says {
    color: #3a3e40;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 7px;
    display: inline-block; }

.comment-author::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 10px;
  height: 20px;
  left: 95px;
  border-top: 10px solid transparent;
  border-right: 10px solid #ddd;
  border-bottom: 10px solid transparent; }

.comment-author::after {
  content: "";
  position: absolute;
  top: 40px;
  width: 10px;
  height: 20px;
  left: 96px;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent; }

.comment-metadata {
  margin-top: 0;
  margin-bottom: 0; }
  .comment-metadata a {
    color: #c00;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    text-transform: capitalize; }
    .comment-metadata a:hover {
      color: #333; }
    .comment-metadata a:focus {
      color: #333; }

.comment-form {
  margin-top: 10px; }
  .comment-form label {
    color: #777777;
    font-size: 13px;
    font-weight: 600;
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    min-width: 100px; }
  .comment-form textarea {
    padding: 20px; }
    .comment-form textarea:-moz-placeholder {
      color: #777777; }
    .comment-form textarea:-ms-input-placeholder {
      color: #777777; }
  .comment-form input::-webkit-input-placeholder {
    color: #777777; }
  .comment-form textarea::-webkit-input-placeholder {
    color: #777777; }
  .comment-form input:-moz-placeholder {
    color: #777777; }
  .comment-form input:-ms-input-placeholder {
    color: #777777; }
  .comment-form input::-moz-placeholder {
    color: #777777; }
  .comment-form textarea::-moz-placeholder {
    color: #777777; }
  .comment-form input[type="submit"] {
    background-color: #c00;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 48px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    letter-spacing: 0.7px;
    margin-top: 15px; }
    .comment-form input[type="submit"]:hover {
      background-color: #000; }

.woocommerce select::-ms-expand {
  display: none; }

.woocommerce #review_form #respond {
  display: inline-block;
  width: 100%;
  margin-bottom: 0; }

.comment-respond {
  display: inline-block;
  width: 100%;
  margin-bottom: 0; }
  .comment-respond .logged-in-as a {
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 24px;
    text-decoration: none; }

.comment-reply-title {
  font-family: Raleway, sans-serif;
  color: #3a3e40;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.16px;
  line-height: 24px;
  margin-top: 0;
  text-transform: uppercase; }
  .comment-reply-title small a {
    border: none;
    float: right;
    height: 17px;
    overflow: hidden;
    width: 15px;
    text-decoration: none;
    display: none; }
    .comment-reply-title small a:before {
      content: "\f112";
      font-size: 14px;
      position: relative;
      top: 0;
      font-family: FontAwesome;
      color: #000; }

.required {
  color: #c0392b; }

.comment-notes {
  color: #707070;
  font-size: 13px;
  line-height: 20px; }

.comment-awaiting-moderation {
  color: #707070;
  font-size: 13px;
  line-height: 20px; }

.logged-in-as {
  color: #707070;
  font-size: 13px;
  line-height: 20px; }

.form-allowed-tags {
  color: #707070;
  font-size: 13px;
  line-height: 20px; }
  .form-allowed-tags code {
    white-space: normal; }

.form-submit {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%; }

.no-comments {
  color: #707070;
  font-weight: 700;
  padding-top: 0; }

article[class*="type-"] {
  position: relative; }
  article[class*="type-"] .entry-content .post-password-form p {
    margin-top: 0; }
  article[class*="type-"] .entry-content blockquote p {
    color: #292929;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.52px;
    font-family: Lato, sans-serif; }
  article[class*="type-"].format-gallery .carousel-control {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    text-shadow: none;
    text-align: center;
    color: #000;
    border: 1px solid #000; }
    article[class*="type-"].format-gallery .carousel-control span {
      position: relative;
      z-index: 2; }
  article[class*="type-"].format-gallery .carousel-control::before {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  article[class*="type-"].sticky {
    text-align: left; }
  article[class*="type-"].tag-edge-case .entry-content p {
    margin-top: 0;
    margin-bottom: 8px; }
  article[class*="type-"].format-chat .entry-content p {
    margin-top: 0;
    margin-bottom: 8px; }
  article[class*="type-"].tag-sticky-2 a {
    color: #000; }
  article[class*="type-"]:last-of-type .or-spacer {
    display: none; }

.post-password-form {
  position: relative; }
  .post-password-form label {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase; }
  .post-password-form input[type="submit"] {
    transition: all 1s ease 0s;
    background-color: #c00;
    border: none;
    bottom: 0;
    color: #fff;
    padding: 5px 30px;
    position: relative;
    outline: none;
    height: 40px;
    margin-top: 10px; }
    .post-password-form input[type="submit"]:hover {
      background-color: #222;
      background-color: #222;
      color: #fff; }
  .post-password-form input[type="password"] {
    border: 1px solid #000;
    font-size: 14px;
    padding: 10px 60px 10px 10px;
    width: 100%;
    outline: none;
    height: 40px; }

.post-navigation {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  width: 100%; }
  .post-navigation a {
    display: block; }
    .post-navigation a:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1; }
  .post-navigation span {
    display: block; }
  .post-navigation .meta-nav {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    letter-spacing: 0.04em;
    line-height: 1.5;
    position: relative;
    z-index: 2; }
  .post-navigation .nav-previous {
    float: left;
    text-align: left;
    width: 50%; }
    .post-navigation .nav-previous .post-title {
      float: left; }
  .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%; }
    .post-navigation .nav-next .post-title {
      float: right; }
  .post-navigation .post-title {
    font-size: 12px;
    line-height: 1.3333;
    color: #333;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    max-width: 80%;
    margin-top: 5px; }

.wpcf7-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
  .wpcf7-form .form-group {
    margin-bottom: 30px; }
    .wpcf7-form .form-group:last-of-type {
      margin-bottom: 0; }
    .wpcf7-form .form-group label {
      font-size: 18px;
      color: #777777;
      font-weight: 400;
      letter-spacing: 0.72px;
      line-height: 24px; }
  .wpcf7-form .wpcf7-form-control {
    border: 1px solid #e2e2e2;
    border-radius: 0;
    color: #777777;
    font-size: 13px;
    font-weight: 600;
    min-height: 41px;
    outline: none;
    padding: 6px 18px;
    letter-spacing: 0.26px;
    box-shadow: none;
    display: inline-block;
    width: 100%; }
    .wpcf7-form .wpcf7-form-control:-moz-placeholder {
      text-transform: capitalize;
      color: #777777; }
    .wpcf7-form .wpcf7-form-control:-ms-input-placeholder {
      text-transform: capitalize;
      color: #777777; }
    .wpcf7-form .wpcf7-form-control.wpcf7-textarea {
      padding: 20px; }
    .wpcf7-form .wpcf7-form-control.wpcf7-submit {
      background-color: #c00;
      border: medium none;
      border-radius: 0;
      color: #fff;
      font-family: Raleway, sans-serif;
      font-weight: bold;
      letter-spacing: 0.56px;
      padding: 13px 30px;
      text-transform: uppercase;
      transition: all 0.7s ease 0s;
      box-shadow: none;
      font-size: 14px;
      width: auto; }
      .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
        background-color: #000; }
  .wpcf7-form .wpcf7-form-control::-webkit-input-placeholder {
    text-transform: capitalize;
    color: #777777; }
  .wpcf7-form .wpcf7-form-control::-moz-placeholder {
    text-transform: capitalize;
    color: #777777; }
  .wpcf7-form div.wpcf7-mail-sent-ng {
    float: left;
    border: 2px solid #222;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 15px;
    margin-top: 0;
    padding: 5px 15px; }
  .wpcf7-form div.wpcf7-validation-errors {
    float: left;
    border: 2px solid #222;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 15px; }
  .wpcf7-form span.wpcf7-not-valid-tip {
    margin-top: 0;
    line-height: 24px;
    margin-top: 5px; }

.wpcf7-form-control-wrap {
  display: inline-block;
  width: 100%; }

.search .page-content p {
  color: #666;
  font-size: 14px;
  line-height: 24px; }

.search .page-header .page-title {
  color: #000;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 5px;
  text-transform: capitalize; }

.search .content-area .searchform .input-group-btn {
  background-color: transparent; }

.search .page_search .searchform {
  border: 1px solid #d1d1d1; }

.searchform .input-group {
  padding: 0; }

.searchform .form-control::-webkit-input-placeholder {
  color: #777777; }

.searchform .form-control:-moz-placeholder {
  color: #777777; }

.searchform .form-control:-ms-input-placeholder {
  color: #777777; }

.searchform .form-control::-moz-placeholder {
  color: #777777; }

.pagination {
  display: inline-block;
  width: 100%;
  text-align: left;
  position: relative !important;
  margin-top: 60px; }
  .pagination .nav-links .page-numbers {
    background-color: transparent;
    border: 1px solid #c00;
    border-radius: 0;
    color: #222;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.52px;
    line-height: 38px;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 1s ease 0s;
    padding-left: 18px;
    padding-right: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 3px 10px;
    text-decoration: none; }
    .pagination .nav-links .page-numbers.current {
      color: #fff;
      background-color: #c00; }
      .pagination .nav-links .page-numbers.current:hover {
        color: #fff; }
    .pagination .nav-links .page-numbers:hover {
      background-color: #c00;
      color: #fff; }
    .pagination .nav-links .page-numbers:focus {
      background-color: #c00;
      color: #fff; }

.page-header {
  margin: 0;
  border: 0 none; }

.post-header {
  margin: 0;
  border: 0 none; }

.full-page-header {
  margin-bottom: 80px; }

.page-heading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.page-banner {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  min-height: 250px;
  width: 100%;
  text-align: center; }
  .page-banner .container {
    left: 0;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
  .page-banner h3 {
    color: #fff;
    text-transform: capitalize;
    font-family: Great Vibes, cursive;
    font-size: 75px;
    letter-spacing: 1.3px;
    line-height: 85px;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 40px; }

.page-banner::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  display: inline-block !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

.page-subtitle {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  font-weight: 500;
  word-wrap: break-word;
  text-transform: capitalize;
  color: #fff; }

.breadcrumb {
  background-color: transparent;
  color: #fff;
  margin: 0;
  word-wrap: break-word;
  padding: 0;
  z-index: 1;
  display: inline-block; }
  .breadcrumb a:hover span {
    color: #c00; }
  .breadcrumb span {
    color: #c00; }
    .breadcrumb span a > span {
      color: #fff; }
  .breadcrumb .home span {
    color: #fff; }

.widget_breadcrumb_navxt {
  font-size: 0; }
  .widget_breadcrumb_navxt .breadcrumbs > span:after {
    color: #777777;
    content: "/";
    padding: 0 5px; }
  .widget_breadcrumb_navxt .breadcrumbs > span:last-of-type:after {
    content: ""; }

.widget-area .widget {
  margin-bottom: 35px; }
  .widget-area .widget:last-of-type {
    margin-bottom: 0; }
  .widget-area .widget.widget_tag_cloud {
    margin-bottom: 30px; }

.widget-area a {
  color: #777777;
  text-decoration: none;
  transition: all 1s ease 0s; }
  .widget-area a:hover {
    color: #c00; }

.widget-area .widget_contact p {
  color: #777777; }

.widget-area .widget_nav_menu.widget ul li {
  margin: 0;
  padding: 0;
  border: none; }
  .widget-area .widget_nav_menu.widget ul li a {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
    width: 100%;
    display: inline-block; }

.navbar-brand.image-logo {
  margin-bottom: 3px;
  margin-top: 2px;
  max-height: 60px;
  max-width: 160px;
  overflow: hidden; }

.navbar-brand.custom-txt:focus {
  color: #fff; }

.navbar-brand.custom-txt:hover {
  color: #fff; }

.navbar-brand.site-title:focus {
  color: #fff; }

.navbar-brand.site-title:hover {
  color: #fff; }

.select_box {
  position: relative; }

.widget select option {
  outline: none !important; }

.widget select:active {
  outline: none !important; }

.widget select:focus {
  outline: none !important; }

.widget select::-ms-expand {
  display: none; }

.widget ul {
  list-style: none;
  color: #888;
  font-size: 14px;
  margin: 0;
  padding-left: 0; }
  .widget ul.sub-menu {
    padding-left: 5px; }
  .widget ul li {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    .widget ul li a {
      color: #777777;
      text-decoration: none; }
      .widget ul li a:hover {
        color: #c00; }
    .widget ul li > a {
      color: #777777;
      font-size: 14px;
      padding-left: 15px;
      position: relative;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 1s ease 0s; }
      .widget ul li > a:hover {
        text-decoration: none;
        color: #c00; }
    .widget ul li a::before {
      content: "\f105";
      color: #c00;
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: -2px; }
  .widget ul > li:last-of-type > a {
    margin-bottom: 0; }

.widget > ul:first-of-type {
  padding-left: 0; }

.widget > ul > li:last-child {
  margin-bottom: 0; }

.widget a {
  color: #777777;
  text-decoration: none;
  transition: all 1s ease 0s; }
  .widget a:hover {
    color: #c00; }

.widget div > ul > li:last-child > a {
  margin-bottom: 0; }

.widget div > ul > li:last-child > ul.sub-menu:last-child > li:last-child > a {
  margin-bottom: 0; }

.widget .tagcloud a {
  padding: 10px 20px;
  background-color: #c00;
  color: #fff;
  margin-bottom: 10px;
  margin-right: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 13px !important;
  transition: all 1s ease 0s;
  display: inline-block;
  position: relative; }

.widget.widget_pages > ul li {
  position: relative;
  transition: all 1s ease 0s;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }
  .widget.widget_pages > ul li a {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%; }

.widget.widget_pages > ul > li:last-child > a {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }

.widget.widget_recent_comments ul li a::before {
  content: "";
  display: none; }

.widget.widget_rss ul li a {
  padding-left: 0; }

.widget.widget_rss ul li a::before {
  display: none; }

.widget-title {
  color: #222;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  word-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: relative; }

.widget_archive > ul li {
  color: #777777;
  transition: all 1s ease 0s; }

.widget_archive li:hover {
  color: #c00; }
  .widget_archive li:hover a {
    color: #c00; }

.widget_categories > ul li {
  color: #777777;
  transition: all 1s ease 0s; }
  .widget_categories > ul li > ul {
    border-top: 2px solid #f0f0f0;
    padding-top: 15px;
    margin-top: 15px; }
  .widget_categories > ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0; }

.widget_categories li:hover {
  color: #c00; }
  .widget_categories li:hover a {
    color: #c00; }

.tagcloud {
  display: inline-block;
  width: 100%; }
  .tagcloud a:hover {
    background-color: #000;
    color: #fff; }
  .tagcloud a:last-of-type {
    margin-right: 0; }

.widget_calendar #wp-calendar {
  width: 100%;
  border: none; }

.widget_calendar table {
  margin: 0;
  width: 100%;
  font-family: Raleway, sans-serif;
  margin-bottom: 0; }

.widget_calendar td {
  line-height: 2.3333;
  text-align: center;
  padding: 3px;
  border: none;
  color: #222;
  font-family: Raleway, sans-serif; }

.widget_calendar th {
  line-height: 2.3333;
  text-align: center;
  padding: 3px;
  border: none;
  color: #222;
  font-family: Raleway, sans-serif; }

.widget_calendar caption {
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  color: #000;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.widget_calendar tbody a {
  background-color: transparent;
  display: block;
  text-decoration: none; }
  .widget_calendar tbody a:hover {
    color: #fff; }
  .widget_calendar tbody a:focus {
    color: #fff; }

.widget_calendar tbody #today {
  background-color: #c00;
  color: #fff; }

.widget_calendar #next {
  color: #c00;
  text-align: left;
  padding: 5px 0;
  text-align: right; }
  .widget_calendar #next a:hover {
    color: #c00;
    border-color: #c00; }

.widget_calendar #prev {
  color: #c00;
  text-align: left;
  padding: 5px 0; }
  .widget_calendar #prev a:hover {
    color: #c00;
    border-color: #c00; }

.widget_pages > ul li.current_page_item a {
  color: #c00; }

.widget_pages > ul li a:hover {
  color: #c00; }

.widget_pages .page_item_has_children > a {
  margin-bottom: 8px;
  display: inline-block;
  width: 100%; }

.widget_pages .menu-item-has-children > a {
  margin-bottom: 8px;
  display: inline-block;
  width: 100%; }

.widget_rss ul li {
  position: relative;
  border-bottom: 2px solid #f0f0f0; }
  .widget_rss ul li:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }
  .widget_rss ul li:hover::before {
    background: none; }
  .widget_rss ul li > a {
    color: #000;
    font-weight: 500;
    padding-left: 0;
    line-height: 24px;
    font-size: 15px; }
  .widget_rss ul li > a::before {
    content: ""; }
  .widget_rss ul li cite {
    color: #000;
    font-style: italic;
    display: block;
    font-weight: 500;
    line-height: 26px; }
  .widget_rss ul li .rss-date {
    color: #000;
    font-style: italic;
    display: block;
    font-weight: 500;
    line-height: 26px; }

.widget_rss ul li::before {
  background: none; }

.widget_rss .rsswidget {
  color: #333;
  margin-bottom: 0; }
  .widget_rss .rsswidget img {
    display: none; }

.widget_rss p {
  color: #777777;
  float: left;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: 26px;
  margin-right: 5px;
  word-wrap: break-word;
  text-transform: capitalize; }

.rssSummary {
  line-height: 25px;
  font-size: 14px;
  color: #777777; }

.mc4wp-response {
  letter-spacing: 0.5px;
  color: #fff; }

.widget_mc4wp_form_widget label {
  display: none; }

.widget_mc4wp_form_widget .mc4wp-form-fields p {
  color: #555;
  font-size: 13px;
  letter-spacing: 0.39px;
  line-height: 24px;
  margin-bottom: 15px; }

.widget_mc4wp_form_widget .mc4wp-form-fields .form-control {
  background-color: transparent;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: none;
  outline: none;
  position: relative;
  z-index: 3; }

.widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"] {
  background-color: #c00;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0.7px;
  outline: none;
  padding-left: 12px;
  font-size: 13px;
  padding-right: 12px;
  text-transform: capitalize;
  transition: all 0.5s ease 0s;
  box-shadow: none; }
  .widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"]:hover {
    background-color: #c00;
    border-color: transparent;
    color: #fff; }

.widget_mc4wp_form_widget .mc4wp-alert.mc4wp-success p {
  color: #fff;
  font-size: 13px;
  line-height: 20px; }

.widget_mc4wp_form_widget .mc4wp-alert.mc4wp-error p {
  color: #333;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 5px; }

.widget_mc4wp_form_widget .form-group i {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 12px;
  font-size: 12px; }

.entry-cover {
  position: relative; }

.post-detail {
  position: absolute;
  bottom: 26px;
  left: 30px; }

article.no-post-thumbnail .entry-header {
  padding-top: 0; }

article.no-post-thumbnail.format-gallery .entry-header {
  padding-top: 15px; }

article.no-post-thumbnail.format-video .entry-header {
  padding-top: 15px; }

article.no-post-thumbnail.format-audio .entry-header {
  padding-top: 15px; }

article.format-audio .entry-title {
  margin-top: 20px; }

article.format-video .entry-title {
  margin-top: 20px; }

article.format-gallery .entry-title {
  margin-top: 20px; }

article.has-post-thumbnail .entry-title {
  margin-top: 20px; }

.format-video iframe {
  min-height: 400px;
  width: 100%; }

.format-video video {
  min-height: 400px;
  width: 100%; }

.single-post .tags {
  display: inline-block; }
  .single-post .tags > span {
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: capitalize; }

.single-post .social-share-block {
  padding-left: 115px; }
  .single-post .social-share-block span {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 28px;
    margin-bottom: 5px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 500; }

.single-post .post-categories {
  padding-left: 115px;
  color: #222;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding: 13px 24px 3px 127px;
  margin-top: 10px; }
  .single-post .post-categories > a {
    color: #777777;
    font-size: 13px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.546px;
    text-decoration: none;
    position: relative; }
  .single-post .post-categories a {
    border: 1px solid rgba(200, 200, 200, 0.5);
    color: #777777;
    padding: 10px 22px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.546px;
    text-decoration: none; }
    .single-post .post-categories a:first-child {
      margin-left: 25px; }
    .single-post .post-categories a:hover {
      background-color: #c00;
      border-color: transparent;
      color: #fff; }

.single-post .post-social {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 50px;
  margin-bottom: 50px; }

.single-post .post-categories::before {
  border: 1px solid #efefef;
  bottom: 0;
  content: "";
  display: inline-block;
  left: 110px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.single-post .social-share {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 0; }
  .single-post .social-share li {
    display: inline-block;
    margin-right: 5px; }
    .single-post .social-share li a {
      border: 1px solid #707070;
      color: #707070;
      float: left;
      height: 35px;
      line-height: 35px;
      text-align: center;
      transition: all 1s ease 0s;
      width: 35px; }
      .single-post .social-share li a:hover {
        border-color: #c00;
        color: #c00; }
    .single-post .social-share li:last-of-type {
      margin-right: 0; }
  .single-post .social-share span i {
    margin-right: 5px; }

.single-post article[class*="type-"]:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0; }

.single-post .post-category > span {
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 10px;
  text-transform: capitalize; }

.no-post-thumbnail .post-detail {
  bottom: auto;
  left: auto;
  margin-bottom: 15px;
  position: relative; }

.no-post-thumbnail .post-excerpt {
  padding: 20px 0 0; }

.no-post-thumbnail .entry-cover .sticky-post {
  right: 0; }

.sticky-post {
  background-color: #333;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.04em;
  padding: 2px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 3; }

.entry-meta a {
  color: #777777;
  line-height: 26px;
  text-transform: lowercase;
  transition: all 1s ease 0s;
  text-decoration: none; }
  .entry-meta a:hover {
    color: #c00; }

@media (min-width: 992px) {
  .ownavigation .navbar-nav .menu-item-language > .submenu-languages {
    display: none;
    transition: all 1s ease 0s;
    min-width: 150px;
    position: absolute;
    background-color: #fff;
    padding: 0; }
  .ownavigation .navbar-nav .menu-item-language:hover > .submenu-languages {
    display: block;
    transition: all 1s ease 0s; }
    .ownavigation .navbar-nav .menu-item-language:hover > .submenu-languages li {
      padding: 0 20px;
      list-style: none; }
      .ownavigation .navbar-nav .menu-item-language:hover > .submenu-languages li a {
        padding: 10px 0;
        white-space: normal;
        word-wrap: break-word;
        display: inline-block;
        text-decoration: none;
        outline: none;
        color: #131313; } }

@media (max-width: 782px) {
  body.admin-bar .navbar-fixed-top {
    margin-top: 46px; } }

@media (max-width: 991px) {
  .comments-title {
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px; }
  .comments-area {
    margin-top: 30px; }
    .comments-area .comment-form-author {
      width: 100%; }
    .comments-area .comment-form-email {
      width: 100%; }
    .comments-area .comment-form-url {
      width: 100%; }
  .menu-setting {
    margin-top: 0;
    margin-bottom: 20px; }
  .comment-list .reply {
    position: relative;
    top: 5px; }
  .comment-list .children {
    margin: 0;
    padding-left: 5px; }
    .comment-list .children > li {
      padding-left: 0.2em; }
  .comment-body {
    padding: 22px 25px 22px 105px; }
  .comment-body::before {
    left: 90px; }
  .comment-author::before {
    left: 81px; }
  .comment-author::after {
    left: 83px; }
  .single-post .post-categories::before {
    left: 90px; }
  .single-post .post-categories {
    padding: 18px 10px 8px 112px; }
    .single-post .post-categories a {
      padding: 10px 12px; }
  .single-post .social-share-block {
    padding-left: 93px; }
  .single-post .article[class*="type-"] .entry-title {
    font-size: 22px;
    line-height: 31px; }
  .breadcrumb {
    width: 100%;
    float: none;
    text-align: left;
    padding: 5px 15px;
    text-align: center;
    width: 100%;
    margin: 0;
    float: left; }
  .widget_calendar #next a {
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px 10px; }
  .widget_calendar #prev a {
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px 10px; }
  .widget-title {
    line-height: 26px; }
  .widget ul li > a {
    padding-left: 25px; }
  .widget.widget_rss .rsswidget {
    padding-left: 0; }
  .widget.widget_recent_entries ul li a {
    padding-left: 0; }
  .ownavigation .navbar-nav .menu-item-language > .submenu-languages {
    display: none;
    transition: all 1s ease 0s;
    width: 100%;
    background-color: transparent;
    padding: 0;
    padding: 0 10px 10px; }
  .ownavigation .navbar-nav .menu-item-language:hover > .submenu-languages {
    display: block;
    transition: all 1s ease 0s; }
  .ownavigation .navbar-nav .submenu-languages {
    position: relative;
    padding: 0; }
    .ownavigation .navbar-nav .submenu-languages li {
      list-style: none; }
      .ownavigation .navbar-nav .submenu-languages li a {
        transition: all 1s ease 0s;
        padding: 8px 0;
        display: inline-block;
        text-decoration: none; }
  .ownavigation .navbar-nav .sub-menu {
    transition: all 1s ease 0s; }
  .comment-author .avatar {
    max-width: 70px; }
  .post-categories > span {
    display: inline-block;
    margin-bottom: 8px; }
  .pagebanner .pagebanner-content h3 {
    width: 100%;
    float: none;
    text-align: left; }
  .page-banner .banner-content h3 {
    width: 100%;
    text-align: center; }
  .header_s .ownavigation.navbar .navbar-brand.custom-txt {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 17px; }
  .header_s .ownavigation.navbar .navbar-brand.site-title {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 17px; }
  .header_s .ownavigation.navbar.navbar-fixed-top .navbar-brand.custom-txt {
    margin-top: 15px; }
  .header_s .ownavigation.navbar.navbar-fixed-top .navbar-brand.site-title {
    margin-top: 15px; } }

@media (min-width: 768px) {
  .site-main .content-left {
    float: left; }
  .site-main .sidebar-left {
    float: left; }
  .site-main .content-right {
    float: right; }
  .site-main .sidebar-right {
    float: right; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widget_calendar #next a {
    padding: 5px 10px; }
  .widget_calendar #prev a {
    padding: 5px 10px; }
  .navbar-brand.custom-txt {
    font-size: 29px; }
  .navbar-brand.site-title {
    font-size: 29px; }
  .comment-list .children {
    padding-left: 0; }
  .page-banner .container {
    max-width: 970px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-main .content-left {
    padding-right: 15px; }
  .site-main .content-right {
    padding-left: 15px; }
  .page-banner .container {
    max-width: 750px; } }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  body.admin-bar .navbar-fixed-top {
    margin-top: 0; } }

@media (max-width: 767px) {
  .format-video iframe {
    min-height: auto;
    height: auto; }
  .format-video video {
    min-height: auto;
    height: auto; }
  .widget-area {
    margin-top: 30px; }
  .comments-area {
    padding-left: 0; }
  .comment-metadata {
    margin-top: 5px; }
  .comment-author .says {
    font-size: 13px; }
  .comment-author .avatar {
    max-width: 68px; }
  .comment-author .fn a.url {
    font-size: 15px; }
  .single-post .social-share-block {
    padding-left: 0; }
  .single-post .post-categories {
    padding-left: 0;
    padding: 18px 10px 8px 21px; }
  .single-post .post-categories::before {
    left: 0; }
  .banner-content {
    padding: 0 15px; }
  .author-intro {
    padding-left: 0; }
  .pagination {
    text-align: center;
    margin-top: 35px; }
  .comment-list .reply {
    margin-left: 0; }
  body .corner {
    display: none; }
  .no-post-thumbnail .entry-cover .sticky-post {
    top: -10px; }
  .pagebanner .pagebanner-content h3 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 45px; }
  article[class*="type-"] .entry-content > .btn-block .about-author a {
    margin-top: 15px; }
  .single .entry-content h2 {
    font-size: 22px;
    line-height: 32px; }
  .header_s .ownavigation.navbar .navbar-brand.custom-txt {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 19px;
    margin-top: 25px; }
  .header_s .ownavigation.navbar .navbar-brand.site-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 19px;
    margin-top: 25px; }
  .header_s .ownavigation.navbar.navbar-fixed-top .navbar-brand.custom-txt {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 19px;
    margin-top: 25px; }
  .header_s .ownavigation.navbar.navbar-fixed-top .navbar-brand.site-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 19px;
    margin-top: 25px; } }

@media (max-width: 479px) {
  .comment-body {
    padding: 15px 15px 15px 90px; }
  .comment-body::before {
    left: 78px; }
  .comment-author::before {
    left: 69px;
    top: 35px; }
  .comment-author::after {
    top: 35px;
    left: 71px; }
  article[class*="type-"] .entry-content {
    padding-left: 85px; }
    article[class*="type-"] .entry-content blockquote {
      padding-left: 0; }
    article[class*="type-"] .entry-content > .post-date a {
      width: 70px;
      font-size: 22px; }
      article[class*="type-"] .entry-content > .post-date a span {
        font-size: 14px; }
    article[class*="type-"] .entry-content .entry-meta span i {
      margin-right: 8px; }
  article[class*="type-"] .entry-footer .tags-links > a {
    padding-right: 10px;
    padding-left: 10px; }
  .navbar-brand.custom-txt {
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 15px; }
  .navbar-brand.site-title {
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 15px; }
  .comment-list .children {
    margin: 0;
    padding: 0;
    padding-left: 0; }
    .comment-list .children > li {
      padding-left: 0.2em; }
  .comment-author .avatar {
    max-width: 60px; }
  .single-post article[class*="type-"] .entry-content > .post-date {
    width: 70px;
    font-size: 22px; }
    .single-post article[class*="type-"] .entry-content > .post-date span {
      font-size: 14px; }
  .navbar-fixed-top .navbar-brand.custom-txt {
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 15px; }
  .navbar-fixed-top .navbar-brand.site-title {
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 15px; }
  .no-post-thumbnail .entry-cover .sticky-post {
    top: -18px; } }

@media (max-width: 400px) {
  .owclearfix-cnt2:after {
    clear: none; }
  .owclearfix-cnt3:after {
    clear: none; } }

.fixedlayout.container {
  margin: 0 auto; }

.wpb_revslider_element.wpb_content_element {
  margin-bottom: 0 !important; }

.site .avatar {
  border-radius: 50%; }

.page-content img.wp-smiley {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.breadcrumbs > span {
  line-height: 24px;
  font-size: 14px; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-icon img {
  margin: 0 auto; }

.about-author p {
  color: #777777;
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 0; }

.mejs-container span {
  color: #fff; }

.comment-navigation + .no-comments {
  border-top: 0; }

.pingback .edit-link {
  display: inline-block;
  font-size: 13px;
  line-height: 1.5;
  padding-left: 0;
  text-align: left;
  width: 100%; }
  .pingback .edit-link a {
    border: 1px solid #c00;
    color: #c00;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-left: 0;
    margin-top: 15px;
    padding: 5px 19px;
    text-decoration: none;
    text-transform: capitalize; }
    .pingback .edit-link a:hover {
      color: #333; }
    .pingback .edit-link a:focus {
      color: #333; }
  .pingback .edit-link:before {
    top: 5px; }

.page_search .searchform {
  border: 1px solid #d1d1d1; }
  .page_search .searchform .form-control {
    min-height: 46px;
    border: none;
    border-radius: 0;
    color: #777777;
    box-shadow: none;
    outline: none;
    font-size: 13px;
    padding-left: 20px;
    z-index: 4;
    padding-right: 20px; }
    .page_search .searchform .form-control:-moz-placeholder {
      color: #777777; }
    .page_search .searchform .form-control:-ms-input-placeholder {
      color: #777777; }
  .page_search .searchform .form-control::-webkit-input-placeholder {
    color: #777777; }
  .page_search .searchform .form-control::-moz-placeholder {
    color: #777777; }
  .page_search .searchform .btn.btn-default {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 46px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #777777;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none; }
    .page_search .searchform .btn.btn-default:hover {
      border: none; }
    .page_search .searchform .btn.btn-default:focus {
      border: none; }
    .page_search .searchform .btn.btn-default:active {
      border: none; }

.header-menuabsolute .page-heading {
  top: 60%; }

.widget_search .input-group {
  border: none;
  background-color: transparent; }
  .widget_search .input-group .form-control {
    background-color: transparent;
    border-radius: 0;
    border-color: #ddd;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 22px;
    letter-spacing: 0.65px;
    height: 46px;
    outline: none;
    border: none; }
    .widget_search .input-group .form-control:-moz-placeholder {
      color: #777777; }
    .widget_search .input-group .form-control:-ms-input-placeholder {
      color: #777777; }
  .widget_search .input-group .btn {
    padding: 6px 17px;
    background-color: transparent;
    color: #777777;
    border: none;
    border-radius: 0;
    box-shadow: none; }
    .widget_search .input-group .btn > i {
      width: auto;
      height: auto;
      vertical-align: baseline;
      margin-left: 0;
      line-height: normal; }
  .widget_search .input-group .form-control::-webkit-input-placeholder {
    color: #777777; }
  .widget_search .input-group .form-control::-moz-placeholder {
    color: #777777; }

.widget_latestposts .latest-content.no_post_thumb {
  padding-left: 0; }

.widget_meta ul li a {
  color: #777777;
  word-wrap: break-word;
  text-decoration: none;
  text-transform: capitalize; }

.widget_meta ul li:last-of-type a {
  margin-bottom: 0; }

.widget_meta ul li:hover a {
  color: #c00; }

.widget_recent_comments ul li {
  line-height: 26px;
  margin-bottom: 14px;
  color: #777777; }
  .widget_recent_comments ul li span {
    text-transform: capitalize; }
  .widget_recent_comments ul li:last-of-type {
    margin-bottom: 0; }
  .widget_recent_comments ul li a {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px; }
    .widget_recent_comments ul li a:hover {
      color: #c00; }

.widget_recent_entries ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }
  .widget_recent_entries ul li:last-of-type {
    margin-bottom: 0; }
    .widget_recent_entries ul li:last-of-type a {
      margin-bottom: 0; }
  .widget_recent_entries ul li a {
    transition: all 1s ease 0s;
    color: #777777;
    font-size: 14px;
    line-height: 22px;
    word-wrap: break-word;
    padding-left: 0;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 5px; }
    .widget_recent_entries ul li a:hover {
      color: #c00; }
  .widget_recent_entries ul li a::before {
    content: ""; }

.widget_text .textwidget {
  color: #777777;
  display: inline-block;
  font-size: 14px;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 26px; }
  .widget_text .textwidget p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    word-wrap: break-word;
    color: #777777; }
    .widget_text .textwidget p strong:first-of-type {
      margin-bottom: 10px;
      display: inline-block;
      color: #777777; }
    .widget_text .textwidget p strong:last-of-type {
      margin-bottom: 0;
      color: #777777; }
  .widget_text .textwidget img {
    margin-bottom: 7px;
    margin-top: 7px; }
  .widget_text .textwidget .wp-caption {
    margin-bottom: 0;
    color: #777777; }

.mc4wp-alert.mc4wp-error p {
  color: #fff; }

.textwidget option {
  max-width: 175px; }

.widget_recent_post .recent-box.no_post_thumb {
  padding-left: 0; }

.format-audio audio {
  width: 100%; }

.category a {
  color: #777777;
  line-height: 26px;
  text-transform: lowercase;
  transition: all 1s ease 0s;
  text-decoration: none; }
  .category a:hover {
    color: #c00; }

/*# sourceMappingURL=wordpress.css.map */