.tribe-block__tickets__registration__checkout button,
.tribe-block__tickets__item__attendee__fields__form button {
	@extend %extend_6;
	padding: 12px 30px !important;


	&:hover {
		background-color: transparent;
		color: $color_guardsman_red_approx;
		border-color: $color_guardsman_red_approx;
	}
}

.tribe-block__tickets__item__attendee__field__text {
	width: 100%;
}
