.single-product {
	.product_meta {
		.tagged_as {
			color: $color_guardsman_red_approx;
			font-size: 16px;
			display: block;
			margin-top: 10px;
			a {
				color: $color_tapa_approx;
				font-size: 14px;
				margin-left: 5px;
				margin-right: 5px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		.posted_in {
			color: $color_guardsman_red_approx;
			font-size: 16px;
			display: block;
			margin-top: 10px;
			a {
				color: $color_tapa_approx;
				font-size: 14px;
				margin-left: 5px;
				margin-right: 5px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	.summary.entry-summary {
		> div[itemprop="description"] {
			margin-top: 25px;
			margin-bottom: 25px;
			padding-top: 25px;
			padding-bottom: 25px;
			border-top: 1px solid $color_alto_approx;
			border-bottom: 1px solid $color_alto_approx;
		}
		div[itemprop="description"] .wc-tabs-wrapper {
			padding: 0;
		}
	}
	.woocommerce div.product {
		p.price del {
			font-size: 26px;
		}
		span.price del {
			font-size: 26px;
		}
	}
	.woocommerce-page .product .images {
		border: 1px solid $color_guardsman_red_approx;
	}
}
