.badge--default {
	color: $color_guardsman_red_approx;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 20px;
	border: 1px solid $color_guardsman_red_approx;
	background-color: white;

	&.is-rotated {
		transform: rotateZ(20deg) translate3d(50%, 0, 0);
		transform-origin: center center;
		position: absolute;
		top: 10%;
		right: 50%;
	}
}
