//colors
$white: #fff;
$black_80: rgba(0, 0, 0, 0.8);
$color_guardsman_red_approx: #c00;
$color_cape_palliser_approx: #93723e;
$color_cod_gray_approx: #0a0a0a;
$color_alto_approx: #ddd;
$color_heavy_metal_approx: #2c2c2c;
$color_delta_approx: #a4a4a4;
$color_gallery_approx: #f0f0f0;
$black: #000;
$color_dove_gray_approx: #6f6f6f;
$color_log_cabin_approx: #222222;
$color_nobel_approx: #b3b3b3;
$boulder: #7a7a7a;
$color_silver_chalice_approx: #aaaaaa;
$color_fuscous_gray_approx: #555;
$color_iron_approx: #d8d8d8;
$color_manhattan_approx: #efce9b;
$black_60: rgba(0, 0, 0, 0.6);
$color_tapa_approx: #777777;
$color_log_cabin_60_approx: rgba(34, 34, 34, 0.6);
$color_log_cabin_70_approx: rgba(34, 34, 34, 0.7);
$color_mountain_mist_approx: #989898;
$black_95: rgba(0, 0, 0, 0.95);
$color_shark_approx: #292929;
$color_bon_jour_approx: #e0e0e0;
$color_shadow_approx: #8e7346;
$black_70: rgba(0, 0, 0, 0.7);
$black_85: rgba(0, 0, 0, 0.85);
$color_zombie_approx: #eacc9e;
$color_cape_cod_approx: #424242;
$color_grain_brown_approx: #e7d3b4;
$color_storm_dust_approx: #666;
$color_log_cabin_80_approx: rgba(34, 34, 34, 0.8);
$gallery: #efefef;
$color_pumice_50_approx: rgba(200, 200, 200, 0.5);
$color_cararra_approx: #ececec;
$color_pumice_approx: #c7c7c7;
$color_silver_approx: #bdbdbd;
$color_mercury_approx: #e6e6e6;
$color_quill_gray_approx: #d2d2d2;

$color_gravel_approx: #4c4c4c;
$black: #000;

$color_green_haze_approx: #059664;
$black: #000;
$color_suva_gray_approx: #888;
$color_black_approx: #030303;
$color_mine_shaft_approx: #333;
$color_twine_approx: #c59d5f;
$black_49: rgba(0, 0, 0, 0.49);
$color_celeste_approx: #cfcfcf;

$color_tuatara_approx: #353533;

$black_10: rgba(0, 0, 0, 0.1);
$color_bittersweet_approx: #ff6766;

//fonts
$body-font-family: Raleway sans-serif;
$font_1: sans-serif;
$font_2: Lato;
$font_3: Great Vibes;
$font_4: cursive;
$font_5: Georgia;
$font_6: Times;
$font_7: Times New Roman;
$font_8: serif;
$font_9: FontAwesome;
$font_10: Stroke-Gap-Icons;
