@import "global/vars";
@import "components/article.scss";
@import "components/footer.scss";
@import "components/header_s.scss";
@import "components/rev-slider.scss";
@import "components/sc-about.scss";
@import "components/sc-book-form.scss";
@import "components/sc-counter.scss";
@import "components/sc-events.scss";
@import "components/sc-gallery.scss";
@import "components/sc-menu.scss";
@import "components/sc-newsletter.scss";
@import "components/sc-services.scss";
@import "components/sc-suprise.scss";
@import "components/sc-team.scss";
@import "components/sc-testimonial.scss";
@import "components/section.scss";
@import "components/single-event.scss";
@import "components/bem/badge.scss";

//@extend-elements
//original selectors
//.mep-user-info-sec input[type=text], .mep-user-info-sec input[type=email]
%extend_1 {
	border: 1px solid $color_bon_jour_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $color_tapa_approx;
	font-size: 13px;
	font-weight: 600;
	min-height: 41px;
	outline: none;
	padding: 6px 18px;
	letter-spacing: 0.26px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

//original selectors
//.single-post article[class*="type-"] .entry-content >.post-date, article[class*="type-"] .entry-content >.post-date a
%extend_2 {
	color: $color_log_cabin_approx;
	display: inline-block;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	width: 80px;
	vertical-align: middle;
	border: 3px solid $color_grain_brown_approx;
	padding: 10px 4px 6px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.5s ease 0s;
}

//original selectors
//#eo-bookings input[type=text], #eo-bookings input[type=email]
%extend_3 {
	border: 1px solid $color_bon_jour_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $color_tapa_approx;
	font-size: 13px;
	font-weight: 600;
	min-height: 41px;
	outline: none;
	padding: 6px 18px;
	letter-spacing: 0.26px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	display: inline-block;
	width: 100%;
}

//original selectors
//#eo-bookings [type="radio"]:checked +label:before, #eo-bookings [type="radio"]:not(:checked) +label:before
%extend_4 {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid $color_alto_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
	background: $white;
}

//original selectors
//#eo-bookings [type="radio"]:checked +label:after, #eo-bookings [type="radio"]:not(:checked) +label:after
%extend_5 {
	content: '';
	width: 12px;
	height: 12px;
	background: $color_guardsman_red_approx;
	position: absolute;
	top: 3px;
	left: 3px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease;
}


.row-eq-height {
	display: flex;
}

.info-widget-set {
	text-align: center;
	margin: 0 0 40px;
	a {
		color: $white;
		text-decoration: none;
	}
}


.widget_workingtime {
	td {
		color: $color_dove_gray_approx;
		padding: 0;
		padding-bottom: 7px;
		text-transform: capitalize;
		letter-spacing: 0.56px;
		text-align: left;
		font-family: $font_2, $font_1;
		font-weight: 700;
		border: none;
		+ td {
			padding-left: 0;
		}
	}
	tr {
		border: none;
	}
	table {
		border: none;
		tbody tr:last-child td {
			padding-bottom: 0;
		}
	}
}




.select_box::before {
	position: absolute;
	content: "\f107";
	font-family: $font_9;
	width: 22px;
	line-height: 40px;
	text-align: center;
	background-color: $color_guardsman_red_approx;
	top: 0;
	bottom: 0;
	right: 0;
	color: $white;
}
.select_box {
	select {
		appearance: none;
		border: 1px solid $color_guardsman_red_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		font-size: 1em;
		width: 100%;
	}
	select::-ms-expand {
		display: none;
	}
}





.widget_offer {
	text-align: center;
	.offer-box {
		display: inline-block;
		position: relative;
		.ofr-cnt {
			position: absolute;
			left: 30px;
			right: 30px;
			top: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(0%, -50%);
			h5 {
				font-family: $font_3, $font_4;
				font-size: 30px;
				line-height: 45px;
				letter-spacing: 0.6px;
				color: $white;
				margin-top: 0;
				margin-bottom: 0;
			}
			span {
				display: block;
				font-size: 25px;
				color: $color_guardsman_red_approx;
				font-weight: bold;
				letter-spacing: 0.6px;
				sup {
					color: $white;
					font-size: 18px;
					font-weight: 400;
				}
				del {
					color: $white;
					font-family: $font_3, $font_4;
					font-size: 30px;
					font-style: italic;
					font-weight: 400;
				}
			}
			a {
				background-color: $color_guardsman_red_approx;
				font-family: $body-font-family, $font_1;
				font-size: 13px;
				font-weight: bold;
				display: inline-block;
				letter-spacing: 0.26px;
				padding: 12px 22px;
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				margin-top: 0;
				&:hover {
					background-color: $white;
					color: $color_guardsman_red_approx;
				}
			}
		}
	}
	.offer-box::before {
		background-color: $color_log_cabin_80_approx;
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
.entry-content {
	blockquote {
		border-left: none;
		padding-left: 63px;
		padding-right: 0;
		color: $color_shark_approx;
		position: relative;
		z-index: 0;
		margin-bottom: 25px;
		p {
			margin-bottom: 0;
			color: $color_shark_approx;
			font-style: italic;
			letter-spacing: 0.52px;
		}
	}
	blockquote::before {
		content: "\f10d";
		font-family: $font_9;
		position: absolute;
		left: 15px;
		top: 15px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: 0.5;
		color: $color_guardsman_red_approx;
		font-size: 26px;
	}
}
.latest-post {
	margin-top: 75px;
	margin-bottom: 75px;
	[class*="col-"]:nth-child(n + 3) {
		margin-top: 30px;
	}
	article[class*="type-"] .entry-content .entry-title a {
		color: $color_guardsman_red_approx;
		&:hover {
			color: $black;
		}
	}
}
.reservation-block {
	margin-top: 85px;
	padding-bottom: 120px;
	position: relative;
}
.reservation-form {
	.form-group {
		margin-bottom: 30px;
	}
	.wpcf7-form {
		.wpcf7-form-control {
			border: 1px solid $color_guardsman_red_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			color: $color_pumice_approx;
			font-size: 13px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
			letter-spacing: 0.26px;
			min-height: 38px;
			padding-left: 20px;
			padding-right: 20px;
			&.wpcf7-submit {
				background-color: $color_guardsman_red_approx;
				border: medium none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				color: $white;
				font-family: $body-font-family, $font_1;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 0.7px;
				line-height: 28px;
				padding: 5px 20px;
				text-decoration: none;
				text-transform: uppercase;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				width: auto;
				&:hover {
					background-color: $black;
				}
			}
		}
		.wpcf7-select.wpcf7-form-control {
			height: 38px;
		}
	}
	.form-control::-webkit-input-placeholder {
		color: $color_pumice_approx;
	}
	.form-control {
		&:-moz-placeholder {
			color: $color_pumice_approx;
		}
		&:-ms-input-placeholder {
			color: $color_pumice_approx;
		}
	}
	.form-control::-moz-placeholder {
		color: $color_pumice_approx;
	}
}
.contact-section {
	margin-bottom: 65px;
}
.contact-form {
	margin-top: 75px;
	.title-center {
		text-align: center;
	}
	.title-center::before {
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.title-right {
		text-align: right;
	}
	.title-right::before {
		right: 0;
		left: auto;
	}
	h3 {
		font-family: $body-font-family, $font_1;
		font-size: 25px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 35px;
		padding-bottom: 27px;
		position: relative;
		text-transform: uppercase;
	}
	h3::before {
		background-color: $color_guardsman_red_approx;
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 71px;
		height: 1px;
	}
	.form-control::-webkit-input-placeholder {
		color: $color_silver_approx;
	}
	.form-control {
		&:-moz-placeholder {
			color: $color_silver_approx;
		}
		&:-ms-input-placeholder {
			color: $color_silver_approx;
		}
	}
	.form-control::-moz-placeholder {
		color: $color_silver_approx;
	}
	input[type="submit"] {
		background-color: $color_guardsman_red_approx;
		border: medium none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $white;
		font-family: $body-font-family, $font_1;
		font-weight: bold;
		letter-spacing: 0.56px;
		padding: 13px 30px;
		text-transform: uppercase;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.7s ease 0s;
		&:hover {
			background-color: $black;
		}
	}
	.text-center h3::before {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
.contact-details {
	margin-top: 75px;
	margin-bottom: 45px;
}
.cnt-detail-box {
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
	i {
		width: 55px;
		height: 63px;
		line-height: 63px;
		display: block;
		margin: 0 auto 29px;
		text-align: center;
	}
	h4 {
		font-family: $body-font-family, $font_1;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.28px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 35px;
	}
	p {
		margin-bottom: 0;
		letter-spacing: 0.28px;
		line-height: 27px;
		color: $color_tapa_approx;
		a {
			color: $color_tapa_approx;
			text-decoration: none;
			&:hover {
				color: $color_guardsman_red_approx;
			}
		}
	}
}
.contact-form-section {
	margin-bottom: 30px;
	margin-top: 90px;
}
.map-section {
	position: relative;
	margin-top: 75px;
	margin-bottom: 75px;
}
.map-section2 {
	margin-top: 75px;
	margin-bottom: 0;
}
.error-block {
	margin: 80px 0 0;
	display: inline-block;
	width: 100%;
	h2 {
		color: $color_guardsman_red_approx;
		font-family: $font_3, $font_4;
		font-size: 250px;
		font-style: italic;
		line-height: 181px;
		margin-bottom: 21px;
	}
	h3 {
		font-family: $body-font-family, $font_1;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 0.5px;
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 33px;
	}
	.searh-block {
		display: block;
		max-width: 554px;
		margin: 0 auto;
		.form-control {
			height: 42px;
			border: 1px solid $color_mercury_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			color: $black;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
			font-size: 13px;
			padding-left: 20px;
			padding-right: 20px;
			&:-moz-placeholder {
				color: $color_quill_gray_approx;
			}
			&:-ms-input-placeholder {
				color: $color_quill_gray_approx;
			}
		}
		.form-control::-webkit-input-placeholder {
			color: $color_quill_gray_approx;
		}
		.form-control::-moz-placeholder {
			color: $color_quill_gray_approx;
		}
	}
	.page_search .searchform .btn.btn-default {
		font-family: $body-font-family, $font_1;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		height: 42px;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: $color_guardsman_red_approx;
		color: $white;
		padding-left: 30px;
		padding-right: 30px;
		:hover {
			background-color: $black;
		}
	}
}
#eo-bookings {
	margin-top: 50px;
	padding: 1.5em 2em;
	border: 1px solid $gallery;
	h3 {
		font-family: $body-font-family, $font_1;
		font-size: 25px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 20px;
		position: relative;
		text-transform: uppercase;
	}
	.eo-booking-field {
		margin-bottom: 10px;
	}
	input[type=text] {
		@extend %extend_3;
	}
	input[type=email] {
		@extend %extend_3;
	}
	.eo-booking-field-name-subfields {
		display: flex;
		margin: -10px;
	}
	.eo-booking-field-name-subfield {
		width: 50%;
		padding: 10px;
		display: block;
	}
	.eo-booking-form-element-ticketpicker {
		margin-top: 30px;
	}
	.eo-booking-button {
		background-color: $color_guardsman_red_approx;
		border: medium none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $white;
		font-family: $body-font-family, $font_1;
		font-weight: bold;
		letter-spacing: 0.56px;
		padding: 13px 30px;
		text-transform: uppercase;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.7s ease 0s;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		font-size: 14px;
		width: auto;
	}
	[type="radio"] {
		&:checked {
			position: absolute;
			left: -9999px;
			+ label {
				position: relative;
				padding-left: 28px;
				cursor: pointer;
				line-height: 20px;
				display: inline-block;
				color: $color_storm_dust_approx;
				&:before {
					@extend %extend_4;
				}
				&:after {
					@extend %extend_5;
					opacity: 1;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(1);
				}
			}
		}
		&:not(:checked) {
			position: absolute;
			left: -9999px;
			+ label {
				position: relative;
				padding-left: 28px;
				cursor: pointer;
				line-height: 20px;
				display: inline-block;
				color: $color_storm_dust_approx;
				&:before {
					@extend %extend_4;
				}
				&:after {
					@extend %extend_5;
					opacity: 0;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(0);
				}
			}
		}
	}
	.eo-booking-offline-description {
		padding: 1.5em 1em;
		border: 1px solid $gallery;
		background: $gallery;
		margin: 2em 0;
	}
	select {
		height: 40px;
		min-width: 100px;
	}
}
@media(min-width: 1200px) {
	.content-area {
		padding-right: 34px;
	}
	.widget-area {
		padding-left: 10px;
	}
	.reservation-form {
		padding-right: 120px;
	}
	.cnt-detail-box {
		padding: 0 25%;
	}
	.menu-section .menu-item {
		padding-right: 10px;
	}
	article[class*="type-"] .entry-content blockquote {
		padding-right: 70px;
	}
	.latest-post .row {
		margin: 0;
	}
}
@media(min-width: 992px) {
	.header_s {
		.ownavigation {
			.navbar-header {
				margin: 26px 0;
			}
			&.navbar-fixed-top {
				position: fixed;
				top: 0;
				.navbar-right {
					margin-right: 0;
				}
			}
			.navbar-nav > li > a {
				margin-top: 36px;
				margin-bottom: 37px;
			}
			ul li > .dropdown-menu {
				background-color: $black_80;
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
		&.header_s1 .ownavigation .navbar-nav > li > a span {
			color: $white;
		}
	}
	.header_s2 {
		.navbar-brand.image-logo {
			margin-top: 4px;
			margin-bottom: 0;
		}
		.ownavigation ul li > .dropdown-menu {
			background-color: $white;
		}
	}
	.comments-area {
		.comment-form-author {
			padding-right: 15px;
		}
		.comment-form-email {
			padding-left: 15px;
		}
	}
	.reservation-img {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.reservation-form-block {
		float: right;
	}
	.contact-details {
		[class*="col-md-"]:nth-child(3n + 1) {
			clear: both;
		}
		.row [class*="col-md-"] .cnt-detail-box:nth-child(n + 3) {
			margin-top: 30px;
		}
	}
	body .menu-setting-info a {
		margin-right: -15px;
	}
	.header_s1 .ownavigation {
		left: 0;
		position: absolute;
		right: 0;
		z-index: 17;
	}
	.top-footer .row > [class*="col-md-"]:nth-child(4n + 1) {
		clear: both;
	}
	.services-section .row > [class*="col-md-"]:nth-child(4n + 1) {
		clear: both;
	}
	.menu-section .row {
		[class*="col-md-"]:nth-child(n + 3) .menu-item {
			margin-top: 18px;
		}
		> [class*="col-md-"]:nth-child(2n + 1) {
			clear: both;
		}
	}
	article[class*="type-"] .entry-content .entry-meta span + span {
		margin-left: 15px;
	}
}
@media(min-width: 768px) {
	.header_s {
		.top-header1 .top-right .search-block {
			float: right;
		}
		.ownavigation.navbar > .container .navbar-brand {
			margin-left: 0;
		}
	}
	.contact-details {
		[class*="col-md-"]::after {
			border-left: 2px dashed $color_guardsman_red_approx;
			content: "";
			position: absolute;
			left: -1px;
			bottom: 30px;
			height: 60px;
			width: 3px;
		}
		[class*="col-md-"]:nth-child(3n + 1)::after {
			display: none;
		}
	}
	.counter-section .row > [class*="col-md-"]:nth-child(4n + 1) {
		clear: both;
	}
	.latest-post .row > [class*="col-md-"]:nth-child(2n + 1) {
		clear: both;
	}
}
@media only screen and(min-width: 1440px) and(max-width: 1680px) {
	.menu-section {
		.top-img {
			width: 16%;
		}
		.bottom-img {
			width: 16%;
		}
	}
	.menu-cards.menu-section .top-img {
		top: -15px;
	}
}
@media(max-width: 1366px) {
	.menu-section {
		.top-img {
			width: 14%;
		}
		.bottom-img {
			width: 14%;
		}
	}
	.menu-cards.menu-section .top-img {
		top: -15px;
	}
}
@media(max-width: 1200px) {
	.services-section .srv-box .img-box .srv-content {
		padding-left: 40px;
		padding-right: 40px;
	}
	article[class*="type-"] .entry-content .entry-title {
		line-height: 24px;
	}
	.latest-post article[class*="type-"] .entry-content .entry-meta span {
		width: 100%;
		display: inline-block;
		+ span {
			margin-left: 0;
		}
	}
}
@media only screen and(min-width: 992px) and(max-width: 1199px) {
	.newsletter-section {
		.container {
			> h3 {
				margin-bottom: 15px;
				margin-right: 80px;
			}
			> p {
				margin-bottom: 20px;
				width: 31%;
			}
		}
		.newsletter-form .input-group {
			margin: 0 auto;
		}
	}
	.menu-section {
		.menu-item > span::before {
			width: 45%;
		}
		&.menu-cards .top-img {
			top: 0;
		}
	}
	.cnt-detail-box {
		padding: 0 18%;
	}
	.footer-main-2 .top-footer .widget_subscribe .btn {
		padding-left: 15px;
		padding-right: 15px;
	}
	.widget.widget_instagram ul li {
		width: 30.95%;
	}
	.menu-cards span.bottom-img {
		bottom: -150px;
	}
	.events-item .event-content {
		padding-left: 30px;
		padding-right: 30px;
	}
	article[class*="type-"] .about-author .author-details {
		padding-bottom: 22px;
		padding-top: 22px;
	}
	.comment-list .children {
		margin-left: 0;
	}
	.widget_offer .offer-box .ofr-cnt a {
		padding: 8px 16px;
	}
}
@media(max-width: 991px) {
	.menu-setting-info {
		margin: 5px auto 15px;
	}
	.header_s {
		#slidepanel {
			border-bottom: none;
		}
		.ownavigation {
			&.nav_absolute {
				position: relative;
			}
			.navbar-toggle {
				background-color: $white;
				.icon-bar {
					background-color: $color_cape_palliser_approx;
				}
			}
			.ddl-switch {
				background-color: $color_cape_palliser_approx;
				top: 8px;
			}
			> .container {
				position: relative;
			}
			&.navbar > .container .navbar-brand {
				margin: 12px 0;
			}
		}
		#slideit:hover {
			color: $color_cape_palliser_approx;
		}
		#closeit:hover {
			color: $color_cape_palliser_approx;
		}
		.top-header1 .top-right .top-social {
			margin-right: 15px;
			li {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
	.header_s1 {
		#slideit {
			color: $white;
		}
		#closeit {
			color: $white;
		}
		.ownavigation .navbar-nav li .dropdown-menu > li > a {
			color: $white;
		}
	}
	.header_s2 {
		#slideit {
			color: $color_cape_palliser_approx;
			&:hover {
				color: $color_cod_gray_approx;
			}
		}
		#closeit {
			color: $color_cape_palliser_approx;
			&:hover {
				color: $color_cod_gray_approx;
			}
		}
	}
	.page-banner {
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.newsletter-section {
		text-align: center;
		.newsletter-form {
			float: none;
			width: 100%;
			.input-group {
				margin: 0 auto;
			}
		}
		.container {
			> h3 {
				width: 100%;
				margin-bottom: 15px;
				margin-bottom: 3px;
				margin-right: 0;
				margin-top: 0;
			}
			> p {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		form.mc4wp-form {
			float: none;
		}
	}
	.about-img-block {
		margin-top: 30px;
	}
	.menu-section {
		.top-img {
			display: none;
		}
		.bottom-img {
			display: none;
		}
		.row [class*="col-md-"]:nth-child(n + 2) .menu-item {
			margin-top: 18px;
		}
	}
	article[class*="type-"] {
		.entry-content {
			padding-left: 100px;
			.entry-title {
				line-height: 23px;
			}
			blockquote {
				padding-left: 40px;
			}
			.entry-meta span {
				display: block;
			}
			> .post-date a {
				font-size: 26px;
				span {
					font-size: 15px;
				}
			}
		}
		.about-author .author-details {
			padding: 15px 15px 15px 110px;
			i {
				left: 15px;
			}
		}
	}
	.reservation-img {
		float: none;
		margin: 0 auto 30px;
		max-width: 767px;
	}
	.cnt-detail-box {
		padding: 0 9%;
	}
	.top-footer .row > [class*="col-md-"]:nth-child(2n + 1) {
		clear: both;
	}
	.about-section2 .about-img {
		width: 100%;
		text-align: center;
		position: relative;
	}
	.counter-section .counter-box span {
		font-size: 45px;
	}
	.single-post article[class*="type-"] .entry-content > .post-date {
		font-size: 26px;
		span {
			font-size: 15px;
		}
	}
	.widget_offer .offer-box .ofr-cnt a {
		padding: 8px 16px;
	}
}
@media only screen and(min-width: 768px) and(max-width: 991px) {
	article[class*="type-"] {
		.entry-footer::before {
			left: 90px;
		}
		.entry-footer {
			padding-left: 110px;
			padding-right: 20px;
			.tags-links {
				display: inline-block;
				width: 100%;
				> a {
					padding-left: 20px;
					padding-right: 20px;
					margin-bottom: 10px;
					&:first-child {
						margin-left: 10px;
					}
				}
			}
			.share-this {
				float: left;
			}
		}
		.about-author {
			padding-left: 90px;
		}
	}
	.services-section .row > [class*="col-sm-"]:nth-child(3n + 1) {
		clear: both;
	}
}
@media(max-width: 767px) {
	.header_s {
		#slideit {
			right: -65px;
		}
		#closeit {
			right: -65px;
		}
		.top-header1 {
			.top-left {
				text-align: center;
			}
			.top-right {
				text-align: center;
				.top-social {
					margin-top: -22px;
					display: inline-block;
					li {
						margin-top: 0;
					}
				}
				.search-block {
					display: inline-block;
				}
			}
		}
	}
	.section-header {
		h3 {
			font-size: 45px;
			line-height: 55px;
		}
		h4 {
			font-size: 23px;
			line-height: 36px;
		}
	}
	.page-banner {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.newsletter-section {
		margin-top: 45px;
	}
	.slider-section {
		margin-bottom: 40px;
	}
	.about-section {
		margin-top: 45px;
	}
	.surprise-section {
		margin-top: 45px;
		margin-bottom: 45px;
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.services-section {
		margin-top: 45px;
		.srv-box {
			max-width: 268px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.row > [class*="col-xs-"]:nth-child(2n + 1) {
			clear: both;
		}
	}
	.counter-section {
		margin-top: 45px;
		margin-bottom: 45px;
		padding-bottom: 110px;
		padding-top: 110px;
		.row > [class*="col-md-"]:nth-child(2n + 1) {
			clear: both;
		}
	}
	.menu-section {
		padding-bottom: 45px;
		padding-top: 45px;
	}
	.book-table-section {
		margin-top: 45px;
		margin-bottom: 45px;
		padding-bottom: 110px;
		padding-top: 110px;
	}
	.latest-events-section {
		margin-top: 45px;
	}
	.testimonial-section {
		margin-bottom: 45px;
		margin-top: 45px;
		padding: 100px 0;
	}
	.gallery-section {
		margin-bottom: 45px;
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.team-section {
		margin-top: 45px;
		margin-bottom: 15px;
	}
	article[class*="type-"] {
		.entry-footer::before {
			left: 0;
		}
		.entry-footer {
			padding-left: 20px;
			padding-right: 20px;
			.tags-links {
				display: inline-block;
				width: 100%;
				> a {
					padding-left: 20px;
					padding-right: 20px;
					margin-bottom: 10px;
					&:first-child {
						margin-left: 10px;
					}
				}
			}
			.share-this {
				float: left;
			}
		}
		.about-author {
			padding-left: 0;
		}
	}
	.comments-area {
		padding-left: 0;
	}
	.latest-post {
		margin-top: 45px;
		article[class*="type-"] {
			width: 555px;
			max-width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
		}
		.row [class*="col-md-"]:last-of-type article[class*="type-"] {
			margin-bottom: 0;
		}
	}
	.contact-details {
		margin-top: 45px;
	}
	.contact-form {
		margin-top: 45px;
	}
	.events-item .event-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media(max-width: 639px) {
	.events-item {
		max-width: 360px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery-box {
		width: 50%;
	}
	.comment-body {
		padding-left: 110px;
		padding-right: 10px;
	}
	.top-footer .row > [class*="col-xs-"] {
		width: 100%;
	}
	.surprise-content h3 {
		font-size: 50px;
	}
	.menu-section .menu-item > span::before {
		width: 35%;
	}
	.book-table-section .form-group {
		width: 100%;
	}
	.latest-events-section .row > [class*="col-xs-"] {
		width: 100%;
	}
	.team-section .row > [class*="col-xs-"] {
		width: 50%;
	}
	.contact-form .form-group {
		width: 100%;
	}
	.error-block h2 {
		font-size: 180px;
	}
	.event-single-content .eventcontent-block {
		[class*="col-xs-"] {
			width: 100%;
		}
		img {
			margin-bottom: 20px;
		}
		> .col-md-4 {
			width: 100%;
			margin: 0 auto;
			max-width: 360px;
			float: none;
		}
	}
}
@media(max-width: 479px) {
	.section-header {
		h3 {
			font-size: 36px;
			line-height: 46px;
		}
		h4 {
			font-size: 18px;
			line-height: 30px;
		}
	}
	.gallery-box {
		width: 100%;
	}
	.team-section {
		.team-box {
			max-width: 260px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.row > [class*="col-xs-"] {
			width: 100%;
		}
	}
	.menupopup_btn {
		display: block;
		margin: 10px auto 7px;
		text-align: center;
	}
	.header_s .top-header1 {
		.top-left {
			margin: 8px 0 3px;
		}
		.top-right .top-social {
			margin-top: -30px;
			margin: 0 auto;
			width: 100%;
			li {
				float: none;
				display: inline-block;
			}
		}
	}
	.about-detail .chef-detail .cnt {
		width: 100%;
		margin-top: 30px;
		margin-left: 0;
	}
	.about-img-block div {
		width: 100%;
	}
	.services-section .row > [class*="col-xs-"] {
		width: 100%;
	}
	.counter-section .row > [class*="col-xs-"] {
		width: 100%;
	}
	.menu-section .menu-item {
		margin-bottom: 30px;
		> h3 {
			width: 100%;
			text-align: center;
			margin-left: 0;
		}
		> span {
			width: 100%;
			text-align: center;
		}
		> .item-thumb {
			width: 100%;
			text-align: center;
		}
	}
	article[class*="type-"] .entry-content {
		padding-left: 75px;
		> .post-date a {
			font-size: 24px;
			width: 60px;
			span {
				font-size: 13px;
			}
		}
	}
	.error-block h2 {
		font-size: 145px;
		line-height: 130px;
	}
	.event-single-content .event-gallery [class*="col-xs-"] {
		width: 100%;
		margin: 0 auto;
		max-width: 360px;
		float: none;
	}
	.menu_popupform .wpcf7-form .form-group {
		width: 100%;
	}
}
@media(max-width: 360px) {
	.header_s .top-header1 .top-left span {
		+ span {
			margin-left: 10px;
		}
		a i {
			margin-right: 5px;
		}
	}
}
.header_s2 .ownavigation .navbar-nav li {
	a {
		color: $color_cod_gray_approx;
	}
	.dropdown-menu > li > a {
		color: $color_cod_gray_approx;
	}
}
body .menu-setting-info {
	margin: 45px auto;
	text-align: right;
	a {
		color: $black;
		text-decoration: none;
		text-transform: capitalize;
	}
}
header .page_search {
	display: none;
}
main .header-search {
	display: none;
}
.header_s1 .page_search {
	display: none;
}
.widget_about p {
	color: $color_alto_approx;
	letter-spacing: 0.7px;
	line-height: 26px;
}
.widget_social ul {
	padding-left: 0;
	li {
		display: inline-block;
		margin-top: 5px;
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}
		a {
			border: 1px solid $color_alto_approx;
			float: left;
			width: 41px;
			height: 41px;
			color: $color_alto_approx;
			text-align: center;
			line-height: 41px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			&:hover {
				border-color: $color_guardsman_red_approx;
				color: $color_guardsman_red_approx;
			}
		}
	}
}
.widget.widget_instagram ul li {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	max-height: 80px;
	max-width: 80px;
	a {
		padding-left: 0;
	}
	a::before {
		display: none;
	}
}
.slider-section2 .tp-bullets.zeus .tp-bullet.selected {
	margin-top: -2px;
}
.menu-cards span.bottom-img {
	bottom: -185px;
}
.event_gallery-carousel.owl-carousel .owl-item img {
	width: auto;
}
.event-map.map {
	display: block;
	margin-top: 30px;
}
.single-post article[class*="type-"] .entry-content > .post-date {
	@extend %extend_2;
	span {
		display: block;
		font-size: 16px;
		letter-spacing: 0.64px;
		line-height: 22px;
		text-transform: capitalize;
	}
}
.widget_recentposts .recent-content {
	border-bottom: 2px solid $color_gallery_approx;
	display: inline-block;
	width: 100%;
	position: relative;
	padding-left: 95px;
	margin-bottom: 17px;
	min-height: 96px;
	padding-bottom: 17px;
	&:last-of-type {
		margin-bottom: 0;
	}
	&.no_post_thumb {
		padding: 0;
	}
	> a {
		> i {
			position: absolute;
			left: 0;
			img {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
				border: 1px solid transparent;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
			}
		}
		&:hover > i img {
			border-color: $color_guardsman_red_approx;
		}
	}
	h5 {
		font-family: $body-font-family, $font_1;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		margin-top: 0;
		margin-bottom: 5px;
		text-transform: uppercase;
		> a {
			color: $black;
			text-decoration: none;
			display: inline-block;
			font-weight: 500;
			&:hover {
				color: $color_guardsman_red_approx;
			}
		}
	}
	span {
		color: $color_tapa_approx;
		display: inline-block;
		letter-spacing: 0.39px;
		text-decoration: none;
		a {
			color: $color_tapa_approx;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			text-decoration: none;
			&:hover {
				color: $color_guardsman_red_approx;
			}
		}
	}
}
.latest-post2 article[class*="type-"] .entry-cover {
	a::before {
		background-color: $white;
		color: $color_guardsman_red_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
	}
	a::after {
		background-color: $black_80;
	}
}
.reservation-form-block .select_box::before {
	width: 0;
}
.error404 .footer-main-2 {
	margin-top: 0;
}
