//colors
@import "global/vars";

//fonts
$font_0: Roboto;
$font_1: sans-serif;

.load-complete {
	position: fixed;
	background: $white;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1031;
	.logo {
		color: $color_gravel_approx;
		text-align: center;
		display: block;
		margin-bottom: 20px;
		font-family: $font_0, $font_1;
		font-size: 50px;
	}
	.load-position {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 999;
		right: 0;
		margin-top: -100px;
		h6 {
			text-align: center;
			color: $black;
			font-size: 12px;
			font-weight: 400;
			font-style: italic;
		}
	}
	.loading {
		position: absolute;
		width: 100%;
		height: 1px;
		margin: 20px auto;
		left: 0;
		right: 0;
	}
	.loading-line {
		position: absolute;
		background: $color_gallery_approx;
		width: 100%;
		height: 2px;
	}
	.loading-break {
		position: absolute;
		background: $color_green_haze_approx;
		width: 15px;
		height: 2px;
	}
	.loading-dot-1 {
		animation: loading 2s infinite;
	}
	.loading-dot-2 {
		animation: loading 2s 0.5s infinite;
	}
	.loading-dot-3 {
		animation: loading 2s 1s infinite;
	}
	.ball-clip-rotate > div {
		border-color: $color_cape_palliser_approx $color_cape_palliser_approx transparent;
		background-color: $color_cape_palliser_approx;
		margin: 0 auto;
		display: block;
		top: 50%;
		position: absolute;
		left: 0;
		right: 0;
	}
}
@keyframes "loading" {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}
@-moz-keyframes loading {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}
@-webkit-keyframes "loading" {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}
@-ms-keyframes "loading" {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}
@-o-keyframes "loading" {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}
.load-position .logo {
	margin: 0 auto;
	width: 150px;
}