//colors
@import "global/vars";
//fonts
$font_0: Lato;
$font_1: sans-serif;
$font_2: FontAwesome;

//@extend-elements
//original selectors
//.woocommerce .wishlist-title h2, .woocommerce-billing-fields h3
%extend_1 {
	color: $color_black_approx;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.64px;
	line-height: 30px;
	margin-top: 0;
	word-wrap: break-word;
	text-transform: uppercase;
}

//original selectors
//.woocommerce-shipping-fields h3, .woocommerce-billing-fields h3
%extend_2 {
	color: $color_mine_shaft_approx;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.45px;
	line-height: 28px;
	margin-bottom: 30px;
	margin-top: 0;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}

//original selectors
//.woocommerce .cross-sells >h2, .woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2
%extend_3 {
	color: $color_black_approx;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.64px;
	line-height: 30px;
	margin-top: 0;
	word-wrap: break-word;
	text-transform: uppercase;
}

//original selectors
//.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span
%extend_4 {
	background-color: transparent;
	border: 1px solid $color_guardsman_red_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $color_log_cabin_approx;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.52px;
	line-height: 38px;
	padding: 0;
	position: relative;
	text-align: center;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
	padding-left: 18px;
	padding-right: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 3px 10px;
	text-decoration: none;
}

//original selectors
//.woocommerce ul.products li.product h3, .woocommerce ul.products li.product >a span.price
%extend_5 {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	z-index: 1;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.56px;
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
	color: $color_log_cabin_approx;
}

//original selectors
//.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button
%extend_6 {
	background-color: $color_guardsman_red_approx;
	border: 1px solid $color_guardsman_red_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $white;
	font-size: 13px;
	font-weight: 400;
	outline: none;
	line-height: 24px;
	padding: 5px 22px;
	text-transform: uppercase;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
}

//original selectors
//#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text
%extend_7 {
	background-color: transparent;
	border: 2px solid $color_guardsman_red_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	color: $color_tapa_approx;
	font-size: 15px;
	min-height: 40px;
	margin-right: 15px;
	outline: none;
	padding-left: 18px;
	padding-right: 18px;
}

//original selectors
//.woocommerce ul.products li.product .onsale, .woocommerce span.onsale
%extend_8 {
	background-color: $color_log_cabin_approx;
	color: $white;
	font-weight: 600;
	position: absolute;
	left: 0;
	padding: 4px 15px;
	line-height: 26px;
	letter-spacing: 1px;
	margin: 0 !important;
	min-height: 1px;
	right: auto !important;
	text-transform: uppercase;
	top: 0 !important;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	z-index: 2;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}

//original selectors
//.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li a
%extend_9 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: $color_log_cabin_approx;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	letter-spacing: 0.64px;
	padding: 12px 18px;
	border-top: 2px solid transparent;
	outline: 0 none;
	font-family: $font_0, $font_1;
}

//original selectors
//.summary .yith-wcwl-add-to-wishlist .add_to_wishlist, .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse, .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse, .single-share .social li a
%extend_10 {
	background-color: $color_gallery_approx;
	border: 1px solid transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $color_tuatara_approx;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.26px;
	line-height: 30px;
	margin: 15px 0 10px;
	padding: 5px 23px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

@import "components/woocommerce/tribe-attendee";


.woocommerce {
	a {
		&.remove {
			display: inline-block;
		}
		&.added_to_cart {
			color: $black;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.5px;
			margin-left: 15px;
			margin-right: 15px;
			word-wrap: break-word;
			position: relative;
			white-space: normal;
			z-index: 1;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
		}
		&.button {
			@extend %extend_6;
			&.disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
				&:hover {
					background-color: transparent;
					color: $color_guardsman_red_approx;
					border-color: $color_guardsman_red_approx;
				}
				&.disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
				&:disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
			}
			&:hover {
				background-color: transparent;
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
			&.loading::after {
				position: relative !important;
				right: auto !important;
				top: auto !important;
				margin-left: 10px;
			}
			&.alt[disabled]:disabled {
				background-color: $color_guardsman_red_approx;
				color: $white;
				&:hover {
					background-color: $color_guardsman_red_approx;
					color: $white;
				}
			}
		}
		&.button[disabled]:disabled {
			opacity: 1;
			color: $white;
			outline: none;
		}
	}
	table {
		&.shop_table {
			text-align: center;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_suva_gray_approx;
			margin-bottom: 0;
			th {
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.56px;
			}
			.product-name a {
				color: $black;
				font-size: 15px;
			}
		}
		&.wishlist_table {
			th {
				font-size: 13px;
			}
			tbody td {
				font-size: 13px;
			}
		}
		&.shop_attributes {
			border-left: 1px solid $color_storm_dust_approx;
			border-style: solid;
			background: $white;
			margin-bottom: 0;
			th {
				border-style: solid;
				background: $white;
				margin-bottom: 0;
				border-left-color: $black_10;
				border-right-color: $black_10;
				padding: 10px;
				padding-left: 20px;
			}
			td {
				border-style: solid;
				background: $white;
				margin-bottom: 0;
				border-left-color: $black_10;
				border-right-color: $black_10;
				padding-left: 20px;
			}
		}
		&.cart td.actions .input-text {
			width: auto;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
		}
		&.my_account_orders .order-actions .button {
			display: block;
			white-space: normal;
			word-wrap: break-word;
			text-align: center;
		}
	}
	#content {
		.quantity {
			.minus {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-top: 0;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				&:hover {
					background: $color_bittersweet_approx;
				}
				&.woocommerce .quantity .minus.woocommerce-page #content .quantity .minus.woocommerce-page .quantity .minus {
					border-top: 0;
				}
			}
			.plus {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				&:hover {
					background: $color_bittersweet_approx;
				}
			}
			input.qty {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
			}
		}
		table.cart td.actions .input-text {
			width: auto;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
		}
		input.button {
			@extend %extend_6;
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
			}
		}
		div.product {
			.woocommerce-tabs {
				display: inline-block;
				width: 100%;
				margin-top: 25px;
				h2 {
					display: none;
				}
				.entry-content {
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 0;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					border: 1px solid $color_alto_approx;
					color: $color_suva_gray_approx;
					margin-bottom: 35px;
					padding: 20px !important;
					position: relative;
				}
				ul.tabs {
					margin: 0;
					padding: 0;
					width: 100%;
					&:before {
						border: 0;
					}
					li {
						//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
						box-shadow: none;
						background: none;
						//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
						border-radius: 0;
						margin: 0;
						border: 1px solid $color_alto_approx;
						border-bottom: none;
						padding: 0;
						&.active {
							background-color: $color_guardsman_red_approx;
							&:before {
								//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
								box-shadow: none;
								display: none;
								//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
								box-shadow: none;
								display: none;
							}
							a {
								color: $white !important;
								background-color: $color_guardsman_red_approx;
							}
						}
						&:before {
							display: none;
							display: none;
						}
						&:after {
							display: none;
						}
						a {
							@extend %extend_9;
							&:hover {
								color: $black;
							}
						}
					}
				}
			}
			div.thumbnails a:last-of-type {
				margin-bottom: 0;
			}
			form.cart {
				.variations {
					border: 0;
					padding: 0;
					td {
						border: 0;
						padding: 0;
					}
					.value {
						position: relative;
						.reset_variations {
							clear: both;
						}
					}
				}
				div.quantity {
					margin-right: 10px;
				}
			}
		}
	}
	.loader::before {
		background: transparent;
	}
	#reviews {
		#comments {
			h2 {
				margin-bottom: 20px;
			}
			ol.commentlist {
				padding: 0;
				li .comment-text p.meta {
					font-size: 14px;
				}
			}
		}
		h3 {
			margin-bottom: 20px;
			color: $color_log_cabin_approx;
			text-transform: capitalize;
			font-size: 16px;
			line-height: 28px;
			font-family: $font_0, $font_1;
		}
	}
	.page-title {
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 15px;
		text-transform: capitalize;
	}
	ul {
		&.cart_list {
			padding-bottom: 15px;
			li {
				margin-bottom: 10px;
				padding-bottom: 15px;
				padding-left: 0 !important;
				&:last-of-type {
					margin-bottom: 0;
					padding-bottom: 0;
					border: none;
				}
			}
		}
		&.product_list_widget {
			padding-bottom: 15px;
			li {
				margin-bottom: 10px;
				padding-bottom: 15px;
				padding-left: 0 !important;
				&:last-of-type {
					margin-bottom: 0;
					padding-bottom: 0;
					border: none;
				}
			}
		}
		&.products li.product {
			border: 1px solid $color_guardsman_red_approx;
			float: left;
			padding-bottom: 40px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.3s ease 0s;
			position: relative;
			text-align: center;
			margin-bottom: 40px;
			.product_hover {
				position: relative;
				&:hover::before {
					opacity: 1;
				}
			}
			.product_hover::before {
				background-color: $black_49;
				content: "";
				display: inline-block;
				opacity: 0;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				position: absolute;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
			}
			h3 {
				color: $black;
				font-size: 13px;
				line-height: 24px;
				font-weight: normal;
				text-transform: uppercase;
				outline: 0 none;
				margin-bottom: 8px;
				padding-bottom: 12px;
				font-size: 14px;
				@extend %extend_5;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			.star-rating {
				margin: 15px auto 7px;
				text-align: center;
			}
			.price {
				color: $black;
				font-size: 22px;
				letter-spacing: 1px;
				del {
					opacity: 1;
				}
			}
			h3::after {
				background-color: $color_guardsman_red_approx;
				content: "";
				height: 2px;
				width: 62px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			.button {
				margin-left: 12px;
				margin-right: 12px;
				margin-top: 5px;
				white-space: normal;
				word-wrap: break-word;
				&.product_type_variable.add_to_cart_button {
					bottom: 0;
					font-size: 13px;
					letter-spacing: 0.56px;
					position: relative;
					right: 0;
					font-weight: 700;
					top: auto;
				}
			}
			.onsale {
				@extend %extend_8;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			a img {
				width: auto;
				margin-bottom: 30px;
			}
			> a span.price {
				@extend %extend_5;
			}
			&.product-type-simple .price {
				min-height: 34px;
			}
			.product_type_simple.add_to_cart_button {
				background-color: $color_guardsman_red_approx;
				border: 1px solid $color_guardsman_red_approx;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				color: $white;
				font-size: 13px;
				font-weight: bold;
				letter-spacing: 0.56px;
				outline: none;
				padding: 5px 20px;
				text-transform: uppercase;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				word-wrap: break-word;
				white-space: normal;
				&:hover {
					background-color: $black;
					border-color: $black;
				}
			}
		}
	}
	.woocommerce-ordering {
		color: $color_suva_gray_approx;
		margin-bottom: 20px;
	}
	.woocommerce-result-count {
		color: $color_suva_gray_approx;
	}
	.widget_price_filter {
		.price_slider_wrapper {
			.ui-widget-content {
				height: 6px;
				background: $color_celeste_approx;
				border: 0;
				position: relative;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
			}
			.ui-slider-range {
				background: $color_cararra_approx;
				z-index: 1;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
			}
			.ui-state-default {
				cursor: move;
				height: 12px;
				width: 12px;
				border: 1px solid $color_guardsman_red_approx;
				color: $color_fuscous_gray_approx;
				position: absolute;
				z-index: 2;
				top: -3px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: none;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
			}
			.price_label {
				display: inline-block;
				text-align: left;
				color: $color_tapa_approx;
				font-size: 12px;
				span {
					color: $color_tuatara_approx;
					font-weight: 700;
				}
			}
			.price_slider_amount {
				margin: 20px 0 0;
				.button {
					border: 0;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					color: $white;
					cursor: pointer;
					font-size: 12px;
					padding: 0 25px;
					//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					text-shadow: none;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 0;
					height: auto;
					line-height: 33px;
					font-weight: 400;
					&:hover {
						background: $color_tuatara_approx;
					}
				}
			}
		}
		.ui-slider .ui-slider-handle {
			background-color: $white;
		}
	}
	.cart-collaterals {
		margin-top: 30px;
		.cart_totals {
			h2 {
				@extend %extend_3;
			}
			table tr th {
				padding: 20px;
			}
		}
	}
	.cross-sells {
		> h2 {
			@extend %extend_3;
		}
		ul.products li.product .product_type_simple.add_to_cart_button {
			position: relative;
			display: block;
		}
	}
	button {
		&.button {
			@extend %extend_6;
			&.disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
				&:hover {
					background-color: transparent;
					color: $color_guardsman_red_approx;
					border-color: $color_guardsman_red_approx;
				}
				&.disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
				&:disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
			}
			&:hover {
				background-color: transparent;
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
			&.loading::after {
				position: relative !important;
				right: auto !important;
				top: auto !important;
				margin-left: 10px;
			}
			&.alt[disabled]:disabled {
				background-color: $color_guardsman_red_approx;
				color: $white;
				&:hover {
					background-color: $color_guardsman_red_approx;
					color: $white;
				}
			}
		}
		&.button[disabled]:disabled {
			opacity: 1;
			color: $white;
			outline: none;
		}
	}
	input {
		&.button {
			@extend %extend_6;
			&.disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
				&:hover {
					background-color: transparent;
					color: $color_guardsman_red_approx;
					border-color: $color_guardsman_red_approx;
				}
				&.disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
				&:disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
			}
			&:hover {
				background-color: transparent;
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
			&.loading::after {
				position: relative !important;
				right: auto !important;
				top: auto !important;
				margin-left: 10px;
			}
			&.alt[disabled]:disabled {
				background-color: $color_guardsman_red_approx;
				color: $white;
				&:hover {
					background-color: $color_guardsman_red_approx;
					color: $white;
				}
			}
		}
		&.button[disabled]:disabled {
			opacity: 1;
			color: $white;
			outline: none;
		}
	}
	.star-rating {
		height: 18px;
		span::before {
			color: $color_guardsman_red_approx;
		}
	}
	.quantity {
		.qty {
			line-height: 30px;
		}
		.minus {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			border-top: 0;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			&:hover {
				background: $color_bittersweet_approx;
			}
		}
		.plus {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			&:hover {
				background: $color_bittersweet_approx;
			}
		}
		input.qty {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	div.product {
		p {
			&.price {
				color: $black;
				font-size: 22px;
				letter-spacing: 1px;
				del {
					opacity: 1;
				}
			}
			&.cart {
				margin-bottom: 0;
			}
		}
		div {
			&.images img {
				width: auto;
			}
			&.thumbnails a:last-of-type {
				margin-bottom: 0;
			}
		}
		.product_title {
			color: $color_log_cabin_approx;
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 0.72px;
			line-height: 28px;
			margin-bottom: 20px;
			margin-top: 0;
			padding-bottom: 20px;
			position: relative;
			text-transform: uppercase;
		}
		.product_title::before {
			background-color: $color_guardsman_red_approx;
			content: "";
			height: 3px;
			width: 62px;
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 0 auto;
		}

		.woocommerce-tabs {
			display: inline-block;
			width: 100%;
			margin-top: 25px;
			h2 {
				display: none;
			}
			.entry-content {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border: 1px solid $color_alto_approx;
				color: $color_suva_gray_approx;
				margin-bottom: 35px;
				padding: 20px !important;
				position: relative;
			}
			ul.tabs {
				margin: 0;
				padding: 0;
				width: 100%;
				&:before {
					border: 0;
				}
				li {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					background: none;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 0;
					margin: 0;
					border: 1px solid $color_alto_approx;
					border-bottom: none;
					padding: 0;
					&.active {
						background-color: $color_guardsman_red_approx;
						&:before {
							//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
							box-shadow: none;
							display: none;
							//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
							box-shadow: none;
							display: none;
						}
						a {
							color: $white !important;
							background-color: $color_guardsman_red_approx;
						}
					}
					&:before {
						display: none;
						display: none;
					}
					&:after {
						display: none;
					}
					a {
						@extend %extend_9;
						&:hover {
							color: $black;
						}
					}
				}
			}
		}
		span.price {
			color: $black;
			font-size: 22px;
			letter-spacing: 1px;
			del {
				opacity: 1;
			}
		}
		form.cart {
			margin-bottom: 0;
			.reset_variations {
				color: $black;
				text-align: left;
				font-size: 14px;
				clear: both;
			}
			.variations {
				border: 0;
				padding: 0;
				margin-bottom: 0;
				td {
					border: 0;
					padding: 0;
				}
				.value {
					position: relative;
					.reset_variations {
						clear: both;
					}
				}
				select {
					width: 100%;
					font-size: 15px;
				}
			}
			div.quantity {
				margin-right: 10px;
			}
		}
	}
	.blockUI.blockOverlay::before {
		background: transparent;
	}
	.wishlist-title h2 {
		@extend %extend_1;
	}
	.woocommerce-LostPassword a {
		color: $black;
		text-decoration: none;
	}
	.order_details li strong {
		font-size: 16px;
		text-transform: capitalize;
		margin-top: 5px;
	}
	.login .woocommerce-Button.button {
		margin-right: 10px;
	}
	.widget-area .widget ul li::before {
		background: none;
	}
	.widget_rating_filter ul li {
		a {
			float: right;
			line-height: 28px;
			text-align: right;
			width: 100%;
		}
		a::before {
			content: "";
		}
		.star-rating {
			float: left;
			height: 18px;
			position: relative;
			top: 4px;
		}
	}
	.widget_layered_nav ul li {
		padding-bottom: 12px;
		&:hover {
			a {
				color: $color_guardsman_red_approx;
			}
			span {
				color: $color_guardsman_red_approx;
			}
		}
		a {
			padding-left: 0;
		}
		a::before {
			content: "";
		}
	}
	.widget_shopping_cart .cart_list li a.remove {
		left: auto;
		right: 0;
		top: auto;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		color: $color_mine_shaft_approx;
		line-height: 13px;
		text-align: center;
	}
	&.widget_shopping_cart .cart_list li a.remove {
		left: auto;
		right: 0;
		top: auto;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		color: $color_mine_shaft_approx;
		line-height: 13px;
		text-align: center;
	}
	#respond input {
		&#submit {
			@extend %extend_6;
			&.disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:disabled {
				opacity: 1;
				color: $white;
				outline: none;
			}
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
				&:hover {
					background-color: transparent;
					color: $color_guardsman_red_approx;
					border-color: $color_guardsman_red_approx;
				}
				&.disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
				&:disabled {
					background-color: $color_guardsman_red_approx;
					color: $white;
					&:hover {
						background-color: $color_guardsman_red_approx;
						color: $white;
					}
				}
			}
			&:hover {
				background-color: transparent;
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
			&.loading::after {
				position: relative !important;
				right: auto !important;
				top: auto !important;
				margin-left: 10px;
			}
			&.alt[disabled]:disabled {
				background-color: $color_guardsman_red_approx;
				color: $white;
				&:hover {
					background-color: $color_guardsman_red_approx;
					color: $white;
				}
			}
		}
		&#submit[disabled]:disabled {
			opacity: 1;
			color: $white;
			outline: none;
		}
	}
	.summary.entry-summary .variations .label {
		color: $color_mountain_mist_approx;
		font-size: 15px;
		line-height: 31px;
		float: left;
		text-transform: capitalize;
	}
	nav.woocommerce-pagination {
		text-align: left;
		ul {
			border: none;
			li {
				border: 0 none;
				margin: 0 5px;
				a {
					@extend %extend_4;
					&:focus {
						color: $white;
						background-color: $color_guardsman_red_approx;
					}
					&:hover {
						color: $white;
						background-color: $color_guardsman_red_approx;
						color: $white;
						background-color: $color_guardsman_red_approx;
					}
				}
				span {
					@extend %extend_4;
					&.current {
						color: $white;
						background-color: $color_guardsman_red_approx;
						color: $white;
						background-color: $color_guardsman_red_approx;
					}
				}
			}
		}
	}
	&.widget ul li::before {
		content: "";
		display: none;
	}
	.single_variation_wrap .single_add_to_cart_button {
		font-weight: 400;
	}
	span.onsale {
		@extend %extend_8;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
	p.stars a {
		color: $color_suva_gray_approx;
	}
	form .form-row {
		padding-left: 0;

		textarea {
			border: 1px solid $color_celeste_approx;
			line-height: 20px;
			padding: 5px 10px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
		input.input-text {
			border: 1px solid $color_celeste_approx;
			line-height: 20px;
			padding: 5px 10px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	.woocommerce-MyAccount-content table.shop_table {
		&.order_details {
			margin-bottom: 20px;
			td {
				font-size: 14px;
			}
			th {
				font-size: 14px;
			}
		}
		&.customer_details {
			td {
				font-size: 14px;
			}
			th {
				font-size: 14px;
			}
		}
	}
}
.woocommerce-cart {
	table {
		&.shop_table .button {
			font-size: 14px;
			font-weight: 400;
			padding: 12px 30px!important;
		}
		&.cart td.actions .coupon .input-text {
			@extend %extend_7;
		}
	}
	#payment {
		background-color: transparent;
		.payment_method_paypal .about_paypal {
			margin-left: 10px;
			float: none;
			line-height: normal;
			font-size: 14px;
		}
	}
	.cart-collaterals .cart_totals table {
		border: none;
		line-height: 0;
		td {
			vertical-align: middle;
			line-height: 0;
		}
		th {
			vertical-align: middle;
			line-height: 0;
		}
	}
	.woocommerce table.shop_table td {
		padding: 20px 12px;
	}
	&.woocommerce-page .cart-collaterals a.button {
		font-size: 14px;
		font-weight: 400;
		padding: 12px 30px!important;
	}
}
.woocommerce-checkout {
	#place_order {
		font-size: 14px;
		font-weight: 400;
		padding: 12px 30px !important;
		margin-top: 20px;
	}

	#payment {
		background-color: transparent;
		ul.payment_methods li img {
			display: none;
		}
		.payment_method_paypal .about_paypal {
			margin-left: 10px;
			float: none;
			line-height: normal;
			font-size: 14px;
		}
	}
	table {
		&.shop_table {
			text-align: left;
		}
		&.cart td.actions .coupon .input-text {
			@extend %extend_7;
		}
	}
	.cart-collaterals .cart_totals table {
		td {
			vertical-align: middle;
			line-height: 0;
		}
		th {
			vertical-align: middle;
			line-height: 0;
		}
	}
	.woocommerce form.login .form-row label.inline {
		display: block;
		margin-top: 10px;
	}
}
#add_payment_method {
	#payment {
		background-color: transparent;
		.payment_method_paypal .about_paypal {
			margin-left: 10px;
			float: none;
			line-height: normal;
			font-size: 14px;
		}
	}
	.cart-collaterals .cart_totals table {
		td {
			vertical-align: middle;
			line-height: 0;
		}
		th {
			vertical-align: middle;
			line-height: 0;
		}
	}
	table.cart td.actions .coupon .input-text {
		@extend %extend_7;
	}
}
.woocommerce-page {
	#content {
		.quantity {
			.minus {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-top: 0;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				&:hover {
					background: $color_bittersweet_approx;
				}
			}
			.plus {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				width: 29px;
				height: 29px;
				font-size: 15px;
				color: $white;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				&:hover {
					background: $color_bittersweet_approx;
				}
			}
			input.qty {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				border: 1px solid $color_delta_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
			}
		}
		table.cart td.actions .input-text {
			width: auto;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
		}
		input.button {
			@extend %extend_6;
			&:active {
				top: 0;
			}
			&.alt {
				@extend %extend_6;
			}
		}
		div.product {
			div.thumbnails a:last-of-type {
				margin-bottom: 0;
			}
			form.cart {
				.variations {
					border: 0;
					padding: 0;
					td {
						border: 0;
						padding: 0;
					}
					.value {
						position: relative;
						.reset_variations {
							clear: both;
						}
					}
				}
				div.quantity {
					margin-right: 10px;
				}
			}
		}
	}
	table {
		&.shop_attributes {
			border-left: 1px solid $color_storm_dust_approx;
			border-style: solid;
			background: $white;
			margin-bottom: 0;
			th {
				border-style: solid;
				background: $white;
				margin-bottom: 0;
				padding: 10px;
				padding-left: 20px;
			}
			td {
				border-style: solid;
				background: $white;
				margin-bottom: 0;
				padding-left: 20px;
			}
		}
		&.cart td.actions .input-text {
			width: auto;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
		}
	}
	.cart-collaterals {
		margin-top: 30px;
		.cart_totals {
			h2 {
				@extend %extend_3;
			}
			table tr th {
				padding: 20px;
			}
		}
	}
	#reviews {
		h3 {
			margin-bottom: 20px;
			color: $color_log_cabin_approx;
			text-transform: capitalize;
			font-size: 16px;
			line-height: 28px;
			font-family: $font_0, $font_1;
		}
		#comments h2 {
			margin-bottom: 20px;
		}
	}
	.quantity {
		.minus {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			border-top: 0;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			&:hover {
				background: $color_bittersweet_approx;
			}
		}
		.plus {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			width: 29px;
			height: 29px;
			font-size: 15px;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			&:hover {
				background: $color_bittersweet_approx;
			}
		}
		input.qty {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border: 1px solid $color_delta_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	ul.products li.product {
		border: 1px solid $color_guardsman_red_approx;
		float: left;
		padding-bottom: 40px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease 0s;
		position: relative;
		text-align: center;
		margin-bottom: 40px;
	}
	#respond input#submit {
		@extend %extend_6;
		&:active {
			top: 0;
		}
		&.alt {
			@extend %extend_6;
		}
	}
	a.button {
		@extend %extend_6;
		&:active {
			top: 0;
		}
		&.alt {
			@extend %extend_6;
		}
	}
	button.button {
		@extend %extend_6;
		&:active {
			top: 0;
		}
		&.alt {
			@extend %extend_6;
		}
	}
	input.button {
		@extend %extend_6;
		&:active {
			top: 0;
		}
		&.alt {
			@extend %extend_6;
		}
	}
	div.product {
		div.thumbnails a:last-of-type {
			margin-bottom: 0;
		}
		form.cart {
			.variations {
				border: 0;
				padding: 0;
				td {
					border: 0;
					padding: 0;
				}
				.value {
					position: relative;
					.reset_variations {
						clear: both;
					}
				}
			}
			div.quantity {
				margin-right: 10px;
			}
		}
	}
}
.woocommerce-billing-fields {
	h3 {
		@extend %extend_1;
		@extend %extend_2;
	}
	h3::before {
		background-color: $color_guardsman_red_approx;
		bottom: 0;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		width: 81px;
	}
}
.woocommerce-shipping-fields {
	h3 {
		@extend %extend_2;
	}
	h3::before {
		background-color: $color_guardsman_red_approx;
		bottom: 0;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		width: 81px;
	}
}
.woocommerce-LostPassword {
	color: $black;
	text-decoration: none;
}
.woocommerce-order-received {
	.woocommerce-thankyou-order-received {
		margin-bottom: 15px;
	}
	.woocommerce {
		.title h3 {
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 600;
		}
		.woocommerce-thankyou-order-details.order_details {
			border: 1px solid $black;
			padding: 15px;
			margin-bottom: 15px;
		}
		.order_details li {
			border-right: 1px solid $black;
			float: left;
			font-size: 14px;
			line-height: 1;
			list-style-type: none;
			margin-left: 0;
			margin-right: 20px;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 20px;
			text-transform: uppercase;
			&:last-of-type {
				border: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
	p {
		line-height: 24px;
	}
	h2 {
		color: $color_mine_shaft_approx;
		font-size: 17px;
		font-weight: 600;
		letter-spacing: 0.45px;
		line-height: 28px;
		margin-top: 0;
		position: relative;
		text-transform: uppercase;
	}
	.shop_table.order_details .product-name a {
		color: $black;
		text-decoration: none;
	}
}
.widget {
	&.widget_recent_products_carousel {
		ul {
			padding: 0;
			list-style: none;
		}
		.carousel-inner > .item {
			margin-bottom: 5px;
		}
	}
	&.widget_products {
		> ul {
			padding-left: 0;
		}
		.product_list_widget li > a {
			display: block;
		}
	}
	&.woocommerce {
		ul {
			&.children {
				margin-top: 0;
				padding-left: 10px;
			}
			&.product_list_widget li {
				a {
					font-weight: 400;
					line-height: 28px;
					margin-bottom: 5px;
					padding-left: 0;
					&:hover span {
						color: $color_guardsman_red_approx;
					}
				}
				a::before {
					content: "";
				}
				&:before {
					display: none;
				}
				img {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					margin: 0 10px 0 0;
					width: 80px;
					height: auto;
					float: left;
					border: 1px solid transparent;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 1s ease 0s;
					&:hover {
						border-color: $color_guardsman_red_approx;
					}
				}
			}
		}
		ins {
			background: none;
		}
		.total {
			margin-bottom: 12px;
			text-align: center;
		}
		.buttons {
			margin: 0;
			padding: 0;
			text-align: center;
			a {
				font-size: 13px;
				font-weight: 400;
				height: 33px;
				line-height: 33px;
				margin: 0 10px 5px;
				padding: 0 10px;
			}
		}
		&.widget_product_categories {
			ul li {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
				a {
					width: 100%;
					display: inline-block;
					position: relative;
					margin-bottom: 15px;
					padding-bottom: 15px;
					border-bottom: 2px solid $color_gallery_approx;
				}
			}
			> ul > li:last-child a {
				margin-bottom: 0;
			}
		}
		del .amount {
			color: $color_mountain_mist_approx;
		}
	}
	&.widget_top_rated_products ul li a {
		display: block;
	}
}
.widget_recent_products_carousel {
	img {
		margin-bottom: 10px;
	}
	li.item {
		h4 {
			margin-bottom: 5px;
			a {
				color: $color_mine_shaft_approx;
				text-transform: capitalize;
			}
		}
		.amount {
			margin-bottom: 5px;
		}
	}
	> ul > li > a {
		margin-top: 5px;
		span {
			margin-left: 5px;
		}
	}
}
.widget_product_categories {
	> ul:first-of-type {
		padding-left: 0;
	}
	.children > li:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}
}
.about_paypal {
	display: none;
}
.woocommerce-product-search {
	input[type="search"] {
		border: 1px solid $color_celeste_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 5px 10px;
		width: 73%;
		outline: none;
	}
	input[type="submit"] {
		border: 1px solid transparent;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 5px 7px;
		background-color: $color_guardsman_red_approx;
		color: $white;
		width: 25%;
		height: 35px;
		outline: none;
		&:hover {
			background-color: transparent;
			color: $color_guardsman_red_approx;
			border-color: $color_guardsman_red_approx;
		}
	}
}
.search-field {
	height: 35px;
	padding: 5px;
}
.single-product {
	.product_meta {
		display: none;
	}
	.summary.entry-summary {
		> div[itemprop="description"] {
			margin-top: 25px;
			margin-bottom: 25px;
			padding-top: 25px;
			padding-bottom: 25px;
			border-top: 1px solid $color_alto_approx;
			border-bottom: 1px solid $color_alto_approx;
		}
		div[itemprop="description"] .wc-tabs-wrapper {
			padding: 0;
		}
	}
	.woocommerce div.product {
		p.price del {
			font-size: 26px;
		}
		span.price del {
			font-size: 26px;
		}
	}
	.woocommerce-page .product .images {
		border: 1px solid $color_guardsman_red_approx;
	}
}
.woocommerce-review-link {
	color: $color_guardsman_red_approx;
	font-size: 15px;
	letter-spacing: 0.56px;
	text-decoration: none;
	&:hover {
		color: $black;
	}
}
.woocommerce-variation-price {
	margin-bottom: 15px;
}
.woocommerce-ordering {
	position: relative;
	&:before {
		right: 0;
	}
	&:after {
		right: 12px;
	}
}
.woocommerce-info {
	border-top-color: $color_guardsman_red_approx;
	font-size: 14px;
	> a {
		&.showlogin {
			color: $color_guardsman_red_approx;
			text-decoration: none;
			margin-left: 5px;
		}
		&.showcoupon {
			color: $color_guardsman_red_approx;
			text-decoration: none;
			margin-left: 5px;
		}
	}
}
.woocommerce-message {
	border-top-color: $color_guardsman_red_approx;
	font-size: 14px;
}
.woocommerce-message::before {
	color: $color_guardsman_red_approx;
}
.woocommerce-info::before {
	color: $color_guardsman_red_approx;
}
.woocommerce-account {
	.woocommerce {
		> h2 {
			margin-top: 0;
			color: $color_log_cabin_approx;
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.462px;
			line-height: 36px;
		}
		table.my_account_orders .order-actions {
			text-align: center;
		}
	}
	.woocommerce-MyAccount-content {
		color: $color_fuscous_gray_approx;
		font-size: 18px;
		line-height: 30px;
		p {
			strong {
				color: $black;
				text-transform: capitalize;
			}
			a {
				color: $black;
				font-weight: 500;
			}
		}
	}
	.woocommerce-MyAccount-navigation ul {
		padding-left: 0;
		li {
			display: inline-block;
			width: 100%;
			background-color: $color_guardsman_red_approx;
			border-bottom: 1px solid $white;
			padding: 10px 15px;
			&.is-active {
				position: relative;
				a {
					color: $black;
				}
			}
			&.is-active::after {
				position: absolute;
				top: 50%;
				left: auto;
				right: 10px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translate(0, -50%);
				content: "\f105";
				font-family: $font_2;
				color: $white;
				font-size: 18px;
				font-weight: 700;
			}
			a {
				text-transform: capitalize;
				color: $white;
				line-height: 26px;
				word-wrap: break-word;
				text-decoration: none;
				font-size: 15px;
				letter-spacing: 0.56px;
				&:hover {
					color: $black;
				}
			}
		}
	}
}
.woocommerce-MyAccount-content {
	width: 100%;
	padding: 15px;
	border: 1px solid $color_guardsman_red_approx;
	p {
		font-size: 15px;
		color: $color_log_cabin_approx;
	}
	legend {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 500;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 10px;
		margin-top: 0;
		color: $black;
	}
}
.woocommerce-Address-title {
	h3 {
		color: $black;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
		margin-top: 0;
		line-height: 27px;
	}
	.edit {
		background-color: $color_guardsman_red_approx;
		color: $white;
		display: inline-block;
		float: none;
		font-size: 14px;
		padding: 0 15px;
		text-decoration: none;
		text-transform: capitalize;
		width: auto;
		border: 1px solid transparent;
		&:hover {
			color: $color_guardsman_red_approx;
			border-color: $color_guardsman_red_approx;
			background-color: transparent;
		}
	}
}
@media(max-width:1200px) {
	.woocommerce ul.products li.product {
		.button.product_type_variable.add_to_cart_button {
			bottom: auto;
			left: 0;
			position: relative;
		}
		.product_type_simple.add_to_cart_button {
			bottom: auto;
			float: none;
			position: relative;
			right: auto;
		}
	}
}
@media(min-width: 992px) {
	.content-area .products .owclearfix-cnt2:after {
		clear: none;
	}
}
@media only screen and(min-width: 992px) and(max-width: 1199px) {
	.woocommerce-product-search {
		input[type="search"] {
			width: 55%;
		}
		input[type="submit"] {
			width: 35%;
		}
	}
	.widget-title {
		font-size: 16px;
		line-height: 31px;
	}
	.woocommerce-order-received .woocommerce .order_details li {
		padding-right: 15px;
		margin-right: 15px;
	}
	.woocommerce .widget_price_filter {
		.price_slider_wrapper .price_label {
			display: block;
			float: none;
		}
		.price_slider_amount .button {
			display: block;
			float: none;
		}
	}
	.widget.woocommerce ul.product_list_widget li img {
		width: 60px;
	}
}
@media(max-width: 991px) {
	.woocommerce {
		.widget_shopping_cart .cart_list li {
			padding-left: 0 !important;
			a.remove {
				position: relative;
				float: right;
			}
		}
		&.widget_shopping_cart .cart_list li {
			padding-left: 0 !important;
			a.remove {
				position: relative;
				float: right;
			}
		}
		.related.products > .products > li {
			float: left !important;
		}
		table.shop_table {
			td {
				padding: 12px;
			}
			thead tr th {
				padding: 12px;
			}
		}
	}
	.woocommerce-product-search {
		input[type="search"] {
			width: 60%;
		}
		input[type="submit"] {
			width: 37%;
		}
	}
	.woocommerce-order-received .woocommerce .order_details li {
		margin-right: 0;
		padding-right: 0;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-right: none;
		border-bottom: 1px solid $black;
		width: 100%;
		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.content-area .products .owclearfix-cnt3:after {
		clear: none;
	}
	.woocommerce-cart .woocommerce table.shop_table td .coupon .button {
		margin-bottom: 10px;
	}
}
@media only screen and(min-width: 768px) and(max-width: 991px) {
	.woocommerce {
		.cart-collaterals {
			.cross-sells {
				width: 100%;
			}
			.cart_totals {
				width: 100%;
			}
		}
		table {
			&.shop_table {
				td {
					padding: 8px;
				}
				thead tr th {
					padding: 8px;
				}
			}
			&.my_account_orders .order-actions .button {
				margin: 0;
				padding: 5px;
			}
		}
		&.columns-4 ul.products li.product {
			width: 46%;
			&:nth-child(2n + 1) {
				clear: both;
			}
		}
	}
	.woocommerce-page {
		.cart-collaterals {
			.cross-sells {
				width: 100%;
			}
			.cart_totals {
				width: 100%;
			}
		}
		&.columns-4 ul.products li.product {
			width: 46%;
			&:nth-child(2n + 1) {
				clear: both;
			}
		}
	}
	.woocommerce-account {
		.addresses .title {
			h3 {
				float: none;
			}
			.edit {
				float: none;
			}
		}
		ul.digital-downloads li .count {
			float: none;
		}
	}
}
@media(max-width: 767px) {
	.woocommerce-order-received {
		.woocommerce .order_details li {
			border-right: none;
			border-bottom: 1px solid $black;
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 10px;
			&:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: none;
			}
		}
		.shop_table.order_details .product-name {
			strong {
				font-size: 13px;
			}
			a {
				font-size: 13px;
			}
		}
	}
	.woocommerce {
		.wishlist_table {
			thead th {
				font-size: 14px !important;
			}
			tbody td {
				font-size: 14px !important;
			}
		}
		div.product {
			.product_title {
				font-size: 22px;
			}
			p.price {
				font-size: 24px;
			}
			span.price {
				font-size: 24px;
			}
		}
		ul.products li.product .price {
			font-size: 24px;
		}
		table.wishlist_table {
			thead {
				display: none;
			}
			tr {
				display: block;
				margin-bottom: 30px;
				td {
					position: relative;
					display: inline-block;
					width: 100%;
					text-align: right !important;
					&:nth-of-type(2)::before {
						content: "Product Img";
					}
					&:nth-of-type(3)::before {
						content: "Product Name";
					}
					&:nth-of-type(4)::before {
						content: "Product Price";
					}
					&:nth-of-type(5)::before {
						content: "Product Status";
					}
				}
				td::before {
					float: left;
					font-weight: 700;
					top: 50%;
					left: 15px;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translate(0, -50%);
					position: absolute;
				}
			}
			tbody th {
				display: none;
			}
			tfoot tr {
				margin: 0;
				td {
					border: none;
					padding: 0;
				}
			}
		}
	}
	.woocommerce-product-search {
		input[type="search"] {
			padding: 5px 77px 5px 10px;
			width: 72%;
		}
		input[type="submit"] {
			width: 26%;
		}
	}
	.yith-wcwl-share {
		float: left;
		margin-bottom: 35px;
		margin-left: 10px;
		text-align: left;
	}
	.woocommerce-checkout.woocommerce-page.woocommerce-order-received .woocommerce {
		padding: 0;
	}
	.woocommerce-page table.wishlist_table {
		.product-thumbnail {
			display: inline-block;
			width: 100%;
			float: right;
			border: none;
			a {
				float: right;
			}
		}
		tr {
			display: block;
			margin-bottom: 30px;
			td {
				display: inline-block;
				width: 100%;
				text-align: right !important;
				&.actions::before {
					display: block;
				}
				&.product-remove::before {
					display: block;
				}
			}
		}
		thead {
			display: none;
		}
		tbody th {
			display: none;
		}
		tfoot tr td {
			border: none;
			padding: 0;
		}
	}
	.page-banner .banner-content h3 {
		font-size: 25px;
		line-height: 46px;
	}
	.woocommerce-Addresses address {
		font-size: 15px;
	}
}
@media(max-width: 479px) {
	.orderby {
		width: 100%;
		float: none;
	}
	.woocommerce {
		.woocommerce-ordering {
			width: 100%;
			float: none;
		}
		#reviews #comments {
			padding: 10px;
			padding: 3px;
		}
		#content div.product .woocommerce-tabs {
			.entry-content {
				padding: 15px !important;
			}
			ul.tabs li a {
				font-size: 14px;
				padding: 12px 10px;
			}
		}
		div.product .woocommerce-tabs {
			.entry-content {
				padding: 15px !important;
			}
			ul.tabs li a {
				font-size: 14px;
				padding: 12px 10px;
			}
		}
		ul.products li.product {
			margin: 0 auto 30px;
			padding-right: 0;
			width: 100%;
			float: none !important;
			max-width: 300px;
		}
		.order_details li {
			width: 100%;
			border-bottom: 1px dashed $color_quill_gray_approx;
			border-right: 0;
			margin-right: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
	}
	.woocommerce-page {
		.woocommerce-result-count {
			width: 100%;
			float: none;
		}
		#reviews {
			padding: 10px;
			padding: 3px;
		}
		.woocommerce-ordering .woocommerce .woocommerce-result-count {
			width: 100%;
			float: none;
		}
		ul.products li.product {
			margin: 0 auto 30px;
			padding-right: 0;
			width: 100%;
			float: none !important;
			max-width: 300px;
		}
	}
	.description {
		padding: 0 5px;
	}
	.woocommerce-cart .woocommerce table.shop_table td .coupon .button {
		width: 100%;
		margin-top: 15px;
	}
	.woocommerce-page[class*="columns-"] ul.products li.product {
		margin: 0 auto 30px;
		padding-right: 0;
		width: 100%;
		float: none !important;
		max-width: 300px;
		margin: 0 auto 30px;
		padding-right: 0;
		width: 100%;
		float: none !important;
		max-width: 300px;
	}
	.woocommerce[class*="columns-"] ul.products li.product {
		margin: 0 auto 30px;
		padding-right: 0;
		width: 100%;
		float: none !important;
		max-width: 300px;
		margin: 0 auto 30px;
		padding-right: 0;
		width: 100%;
		float: none !important;
		max-width: 300px;
	}
	.upsells.products > h2 {
		font-size: 22px;
		letter-spacing: 1px;
	}
	.related.products > h2 {
		font-size: 22px;
		letter-spacing: 1px;
	}
}
@media(max-width: 400px) {
	.woocommerce {
		.cart-collaterals .cross-sells ul.products li {
			width: 100%;
		}
		form.checkout_coupon {
			.form-row-first {
				width: 100%;
				float: none;
			}
			.form-row-last {
				width: 100%;
				float: none;
			}
		}
	}
	.woocommerce-page {
		.cart-collaterals .cross-sells ul.products li {
			width: 100%;
		}
		form.checkout_coupon {
			.form-row-first {
				width: 100%;
				float: none;
			}
			.form-row-last {
				width: 100%;
				float: none;
			}
		}
	}
}
#customer_details .form-row label {
	color: $color_mine_shaft_approx;
	font-size: 13px;
	letter-spacing: 0.52px;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.sidebar .widget {
	&.widget_recent_products_carousel {
		ul {
			list-style: outside none none;
			margin: 0;
			padding: 0;
		}
		li {
			list-style: outside none none;
			margin: 0;
			padding: 0;
		}
	}
	&.widget_top_rated_products > ul {
		padding-left: 0;
	}
}
.widget_product_search input {
	&#s {
		width: 100%;
		outline: none;
	}
	&#searchsubmit {
		display: none;
		outline: none;
	}
}
.widget_top_rated_products .star-rating {
	margin-bottom: 5px;
	height: 18px;
}
.entry-summary p {
	font-size: 15px;
	color: $color_tapa_approx;
	line-height: 24px;
}
.ow-woocommerce > .page-title {
	display: none;
}
.yith-wcwl-add-button.yith-wcwl-add-button .add_to_wishlist:hover {
	text-decoration: none;
	background-color: transparent;
	color: $color_guardsman_red_approx;
	border-color: $color_guardsman_red_approx;
}
.posted_in a {
	color: $color_guardsman_red_approx;
	font-size: 15px;
	letter-spacing: 0.56px;
	text-decoration: none;
	&:hover {
		color: $black;
	}
}
table.variations {
	table-layout: inherit;
}
.woocommerce-Tabs-panel--description p {
	color: $color_tapa_approx;
	font-size: 15px;
	line-height: 24px;
}
.summary .yith-wcwl-add-to-wishlist {
	.add_to_wishlist {
		@extend %extend_10;
		&:hover {
			border-color: $color_guardsman_red_approx;
		}
	}
	.yith-wcwl-wishlistexistsbrowse {
		@extend %extend_10;
	}
	.yith-wcwl-wishlistaddedbrowse {
		@extend %extend_10;
	}
}
.single-share .social li a {
	@extend %extend_10;
}
.yith-wcwl-wishlistaddedbrowse.show > a {
	text-decoration: none;
	color: $color_guardsman_red_approx;
	margin-left: 5px;
	display: block;
}
.yith-wcwl-wishlistexistsbrowse.show > a {
	text-decoration: none;
	color: $color_guardsman_red_approx;
	margin-left: 5px;
	display: block;
}
.woocommerce-checkout-payment .payment_methods label {
	color: $color_mine_shaft_approx;
	font-size: 14px;
	letter-spacing: 0.52px;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.upsells.products > h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	margin: 0 0 15px;
	text-transform: capitalize;
}
.related.products > h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	margin: 0 0 15px;
	text-transform: capitalize;
}
.woocommerce-Addresses address {
	font-size: 14px !important;
	color: $black;
	line-height: 24px;
}
#customer_login h2 {
	margin-top: 0;
	font-size: 22px;
	letter-spacing: 0.58px;
	font-weight: 700;
}
.woocommerce-MyAccount-orders .order-number a {
	color: $black;
}

