//colors
$white: #fff;
$color_bunker_approx: #131313;
$color_dove_gray_approx: #707070;
$color_mine_shaft_70_approx: rgba(51, 51, 51, 0.7);
$color_mine_shaft_10_approx: hsla(0, 0%, 20%, 0.1);
$color_tapa_approx: #777777;
$color_ship_gray_approx: #3a3e40;
$color_alto_approx: #ddd;
$color_guardsman_red_approx: #c00;
$color_log_cabin_approx: #222;
$black: #000;
$color_flush_mahogany_approx: #c0392b;
$color_celeste_approx: #d1d1d1;
$color_fuscous_gray_approx: #555;
$color_gravel_approx: #4c4c4c;
$color_pumice_approx: #c7c7c7;
$color_mongoose_approx: #bfa682;
$color_gray_nurse_approx: #e8e8e8;
$color_delta_approx: #a3a2a2;
$color_bon_jour_approx: #e2e2e2;
$color_mine_shaft_approx: #333;
$color_storm_dust_approx: #666;
$black_60: rgba(0,0,0,0.6);
$color_suva_gray_approx: #888;
$color_gallery_approx: #f0f0f0;
$color_pink_swan_approx: #bbb;
$color_quill_gray_approx: #d4d4d4;
$white_80: rgba(255, 255, 255, 0.8);
$color_shark_approx: #292929;
$color_black_approx: #030303;
$gallery: #efefef;
$color_pumice_50_approx: rgba(200,200,200,0.5);

//fonts
$font_0: Raleway;
$font_1: sans-serif;
$font_2: FontAwesome;
$font_3: Great Vibes;
$font_4: cursive;
$font_5: Lato;

//@extend-elements
//original selectors
//.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form textarea
%extend_1 {
	border-color: $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	font-size: 14px;
	min-height: 42px;
	letter-spacing: 0.52px;
	padding: 6px 25px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	border: 1px solid $color_alto_approx;
	width: 100%;
	color: $color_fuscous_gray_approx;
}

//original selectors
//.breadcrumb a, .breadcrumb span
%extend_2 {
	color: $white;
	text-transform: uppercase;
	line-height: 22px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 0.28px;
	word-wrap: break-word;
	margin-right: 1px;
	margin-left: 3px;
}

//original selectors
//.entry-content .page-links >a, .entry-content .page-links >span:not(.screen-reader-text):not(.page-links-title)
%extend_3 {
	color: $white;
	background-color: $color_guardsman_red_approx;
	border: 1px solid $color_guardsman_red_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.52px;
	line-height: 38px;
	padding: 0;
	position: relative;
	text-align: center;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
	padding-left: 18px;
	padding-right: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 3px;
	text-decoration: none;
}

//original selectors
//.navbar-brand.custom-txt, .navbar-brand.site-title
%extend_4 {
	color: $color_guardsman_red_approx;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	line-height: 45px;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
}

//original selectors
//.woocommerce select, .widget select
%extend_5 {
	width: 100%;
	padding: 0 10px;
	height: 40px;
	max-width: 100%;
	border: 1px solid $color_alto_approx;
	background-color: transparent;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	color: $color_tapa_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	outline: none;
}

//original selectors
//.widget_calendar #next a, .widget_calendar #prev a
%extend_6 {
	border: 1px solid $black;
	color: $color_log_cabin_approx;
	font-size: 14px;
	letter-spacing: 0.5px;
	padding: 5px 15px;
	text-decoration: none;
	margin-left: 0;
	margin-right: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
}

//original selectors
//.post-categories >span, .entry-meta >span
%extend_7 {
	text-transform: uppercase;
	color: $color_black_approx;
	margin-top: 0;
	word-wrap: break-word;
	position: relative;
	margin-right: 10px;
	font-family: $font_0, $font_1;
	font-size: 14px;
	font-weight: 500;
}


body {
	.vc_row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.vc_row-has-fill {
		+ .vc_row > .vc_column_container > .vc_column-inner {
			padding-top: 0;
		}
		> .vc_column_container > .vc_column-inner {
			padding-top: 0;
		}
	}
	.vc_column_container > .vc_column-inner {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	&.admin-bar .navbar-fixed-top {
		margin-top: 32px;
	}
}
.beforepage-shortcode {
	padding-bottom: 35px;
	&.inside-slider {
		padding-bottom: 0;
	}
}
.afterpage-shortcode {
	padding-bottom: 35px;
}
.page_spacing {
	margin-top: 80px;
	margin-bottom: 80px;
}
.container {
	max-width: 100%;
}
.owpull-left {
	float: left;
}
.owpull-right {
	float: right;
}
.owclearfix::before {
	content: " ";
	display: table;
}
.owclearfix::after {
	content: " ";
	display: table;
	clear: both;
}
.owclearfix-cnt2::before {
	content: " ";
	display: table;
}
.owclearfix-cnt2::after {
	content: " ";
	display: table;
	clear: both;
}
.owclearfix-cnt3::before {
	content: " ";
	display: table;
}
.owclearfix-cnt3::after {
	content: " ";
	display: table;
	clear: both;
}
.menu-setting {
	display: inline-block;
	float: right;
	margin-top: 50px;
	padding-right: 25px;
}
.navbar-fixed-top {
	.menu-setting {
		margin-top: 32px;
	}
	.navbar-brand {
		&.custom-txt {
			margin-top: 10px;
		}
		&.site-title {
			margin-top: 10px;
		}
	}
}
.screen-reader-text {
	visibility: hidden;
	display: none;
}
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
blockquote {
	border-left: none;
	margin: 0;
	&.alignleft {
		margin: 0.4em 1.6em 1.6em 0;
	}
	&.alignright {
		margin: 0.4em 0 1.6em 1.6em;
	}
	&.aligncenter {
		clear: both;
		margin-top: 0.4em;
		margin-bottom: 1.6em;
	}
	p {
		color: $color_shark_approx;
		font-size: 14px;
		line-height: 24px;
		font-style: italic;
		letter-spacing: 0.52px;
		font-family: $font_5, $font_1;
	}
	cite a {
		color: $color_tapa_approx;
	}
}
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
	&.alignleft {
		margin: 0.4em 1.6em 1.6em 0;
		margin-bottom: 1.2em;
	}
	&.alignright {
		margin: 0.4em 0 1.6em 1.6em;
		margin-bottom: 1.2em;
	}
	&.aligncenter {
		clear: both;
		margin-top: 0.4em;
		margin-bottom: 1.6em;
		margin-bottom: 1.2em;
	}
	img[class*="wp-image-"] {
		display: block;
		margin: 0;
	}
}
img {
	&.alignleft {
		margin: 0.4em 1.6em 1.6em 0;
	}
	&.alignright {
		margin: 0.4em 0 1.6em 1.6em;
	}
	&.aligncenter {
		clear: both;
		margin-top: 0.4em;
		margin-bottom: 1.6em;
	}
}
.entry-content {
	.page-links {
		margin-bottom: 20px;
		> a {
			@extend %extend_3;
			background-color: transparent;
			border-color: $color_tapa_approx;
		}
		> span:not(.screen-reader-text):not(.page-links-title) {
			color: $white;
			background-color: $color_guardsman_red_approx;
			@extend %extend_3;
			&:hover {
				color: $white;
				background-color: $color_guardsman_red_approx;
			}
		}
		a:hover {
			color: $white;
			background-color: $color_guardsman_red_approx;
			color: $white;
		}
	}
	.page-links-title {
		padding-left: 8px;
		padding-right: 8px;
	}
	p {
		color: $color_tapa_approx;
		font-size: 15px;
		line-height: 26px;
		> a {
			color: $color_tapa_approx;
		}
	}
	blockquote {
		border-left: none;
		margin: 0;
		p {
			color: $color_shark_approx;
			font-size: 14px;
			line-height: 24px;
			font-style: italic;
			letter-spacing: 0.52px;
			font-family: $font_5, $font_1;
		}
	}
	img.wp-smiley {
		border: none;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	ul li {
		line-height: 22px;
		color: $color_tapa_approx;
	}
	ol li {
		line-height: 22px;
		color: $color_tapa_approx;
	}
}
.comment-content {
	a {
		text-decoration: none;
		color: $black;
	}
	li {
		> ul {
			margin-bottom: 0;
		}
		> ol {
			margin-bottom: 0;
		}
	}
	h2 {
		line-height: 40px;
	}
	img.wp-smiley {
		border: none;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
embed {
	max-width: 100%;
	vertical-align: middle;
	border: 0 none;
	width: 100%;
}
iframe {
	max-width: 100%;
	vertical-align: middle;
	border: 0 none;
	width: 100%;
}
object {
	max-width: 100%;
	vertical-align: middle;
	border: 0 none;
	width: 100%;
}
video {
	max-width: 100%;
	vertical-align: middle;
	border: 0 none;
	width: 100%;
}
p {
	> embed {
		margin-bottom: 0;
	}
	> iframe {
		margin-bottom: 0;
	}
	> object {
		margin-bottom: 0;
	}
	> video {
		margin-bottom: 0;
	}
}
.wp-audio-shortcode {
	font-size: 15px;
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1.6em;
}
.wp-video {
	font-size: 15px;
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1.6em;
}
.wp-playlist {
	&.wp-audio-playlist {
		font-size: 15px;
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1.6em;
	}
	&.wp-playlist {
		padding-bottom: 0;
	}
	.wp-playlist-tracks {
		margin-top: 0;
	}
}
.wp-playlist-item {
	.wp-playlist-caption {
		border-bottom: 0;
		padding: 10px 0;
	}
	.wp-playlist-item-length {
		top: 10px;
	}
}
.wp-caption-text {
	color: $color_dove_gray_approx;
	color: $color_mine_shaft_70_approx;
	font-size: 14px;
	line-height: 1.6;
	padding: 0.5em 0;
}
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-6 {
	.gallery-item {
		max-width: 16.66%;
	}
	.gallery-caption {
		display: none;
	}
}
.gallery-columns-7 {
	.gallery-item {
		max-width: 14.28%;
	}
	.gallery-caption {
		display: none;
	}
}
.gallery-columns-8 {
	.gallery-item {
		max-width: 12.5%;
	}
	.gallery-caption {
		display: none;
	}
}
.gallery-columns-9 {
	.gallery-item {
		max-width: 11.11%;
	}
	.gallery-caption {
		display: none;
	}
}
.gallery-caption {
	color: $color_dove_gray_approx;
	color: $color_mine_shaft_70_approx;
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
	font-size: 14px;
}
table {
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid $color_mine_shaft_10_approx;
}
th {
	border: 1px solid $color_mine_shaft_10_approx;
	padding: 0.4em;
	text-align: center;
	word-wrap: break-word;
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td {
	border: 1px solid $color_mine_shaft_10_approx;
	padding: 0.4em;
	text-align: center;
	word-wrap: break-word;
}
.comments-area {
	display: inline-block;
	margin-top: 0;
	padding: 0;
	width: 100%;
	margin-top: 10px;
	.comment-content {
		p {
			color: $color_tapa_approx;
			font-size: 14px;
			//Instead of the line below you could use @include hyphens($value)
			hyphens: auto;
			letter-spacing: -0.13px;
			line-height: 24px;
		}
		blockquote p {
			color: $color_shark_approx;
			font-size: 13px;
			font-style: italic;
			letter-spacing: 0.52px;
			line-height: 24px;
		}
	}
	.comment {
		.comment-awaiting-moderation {
			color: $color_log_cabin_approx;
			font-size: 13px;
			font-style: italic;
			margin-bottom: 5px;
		}
		.comment-image {
			float: left;
			margin-left: -100px;
			img {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 150px;
				width: 80px;
				height: 80px;
				border: 3px solid $color_gray_nurse_approx;
			}
		}
		.comment-info {
			display: block;
			margin-bottom: 10px;
			font-size: 16px;
			span {
				float: right;
				font-size: 13px;
				color: $color_delta_approx;
			}
		}
	}
	.comment-form-author {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		float: left;
		width: 50%;
	}
	.comment-form-email {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		float: left;
		width: 50%;
	}
	.comment-form-url {
		margin-right: 0;
	}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		color: $color_gravel_approx;
	}
	.comments-line {
		width: 100%;
		border: 1px solid $color_pumice_approx;
		padding: 15px;
		font-size: 14px;
		font-style: italic;
		outline: none;
		margin-bottom: 20px;
	}
	.comments-area {
		width: 100%;
		border: 1px solid $color_pumice_approx;
		padding: 15px;
		font-size: 14px;
		outline: none;
		margin-bottom: 20px;
		font-style: italic;
		resize: none;
		height: 202px;
	}
	.commentlist {
		margin-bottom: 60px;
		padding: 0;
		ul {
			margin-left: 70px;
		}
		li {
			list-style: none;
		}
	}
	p.form-submit .button-1 {
		background-color: $color_mongoose_approx;
		border-color: $color_mongoose_approx;
		color: $white;
		line-height: normal;
		margin-left: 19px;
		padding: 0.618em 1em;
		font-size: 13px;
		border: 0 none;
		text-transform: uppercase;
	}
	.comment-list .children .depth-4 {
		.comment-form-author {
			width: 100%;
			padding: 5px 0;
		}
		.comment-form-email {
			width: 100%;
			padding: 5px 0;
		}
		.comment-form-url {
			width: 100%;
			padding: 5px 0;
		}
	}
}
.comments-title {
	font-family: $font_0, $font_1;
	color: $color_ship_gray_approx;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
}
.comment-list {
	display: inline-block;
	width: 100%;
	list-style: none;
	margin-bottom: 10px;
	padding-left: 0;
	.children {
		list-style: none;
		margin: 0 0 0 5px;
		padding-left: 5px;
		> li {
			padding-left: 0.5em;
		}
	}
	.trackback {
		border-bottom: 1px solid $color_bon_jour_approx;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	> li.depth-1 {
		padding-left: 0;
	}
	.reply a {
		background-color: transparent;
		font-size: 14px;
		color: $color_log_cabin_approx;
		text-transform: capitalize;
		text-decoration: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		display: inline-block;
		margin-top: 10px;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
}
.comment-body {
	margin-bottom: 30px;
	padding: 22px 25px 22px 135px;
	position: relative;
	z-index: 1;
	a.url {
		color: $color_tapa_approx;
		text-decoration: none;
	}
}
.comment-body::before {
	border: 1px solid $color_alto_approx;
	content: "";
	position: absolute;
	left: 105px;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.bypostauthor {
}
.comment-author {
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	.avatar {
		position: absolute;
		left: 0;
		border: 1px solid $color_alto_approx;
	}
	.fn {
		text-transform: capitalize;
		a.url {
			color: $color_ship_gray_approx;
			text-transform: capitalize;
			font-weight: 500;
			line-height: 22px;
			margin-bottom: 7px;
			display: inline-block;
		}
	}
	.says {
		color: $color_ship_gray_approx;
		text-transform: capitalize;
		font-weight: 500;
		line-height: 22px;
		margin-bottom: 7px;
		display: inline-block;
	}
}
.comment-author::before {
	content: "";
	position: absolute;
	top: 40px;
	width: 10px;
	height: 20px;
	left: 95px;
	border-top: 10px solid transparent;
	border-right: 10px solid $color_alto_approx;
	border-bottom: 10px solid transparent;
}
.comment-author::after {
	content: "";
	position: absolute;
	top: 40px;
	width: 10px;
	height: 20px;
	left: 96px;
	border-top: 10px solid transparent;
	border-right: 10px solid $white;
	border-bottom: 10px solid transparent;
}
.comment-metadata {
	margin-top: 0;
	margin-bottom: 0;
	a {
		color: $color_guardsman_red_approx;
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: $color_mine_shaft_approx;
		}
		&:focus {
			color: $color_mine_shaft_approx;
		}
	}
}
.comment-form {
	margin-top: 10px;
	label {
		color: $color_tapa_approx;
		font-size: 13px;
		font-weight: 600;
		display: block;
		line-height: 24px;
		text-transform: uppercase;
		min-width: 100px;
	}
	input[type="text"] {
		@extend %extend_1;
	}
	input[type="email"] {
		@extend %extend_1;
	}
	input[type="url"] {
		@extend %extend_1;
	}
	textarea {
		@extend %extend_1;
		padding: 20px;
		&:-moz-placeholder {
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			color: $color_tapa_approx;
		}
	}
	input::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	textarea::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	input {
		&:-moz-placeholder {
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			color: $color_tapa_approx;
		}
	}
	input::-moz-placeholder {
		color: $color_tapa_approx;
	}
	textarea::-moz-placeholder {
		color: $color_tapa_approx;
	}
	input[type="submit"] {
		background-color: $color_guardsman_red_approx;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $white;
		font-family: $font_0, $font_1;
		font-size: 14px;
		line-height: 36px;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 5px 48px;
		text-decoration: none;
		text-transform: uppercase;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		letter-spacing: 0.7px;
		margin-top: 15px;
		&:hover {
			background-color: $black;
		}
	}
}
.woocommerce {
	select {
		@extend %extend_5;
	}
	select::-ms-expand {
		display: none;
	}
	#review_form #respond {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
	}
}
.comment-respond {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	.logged-in-as a {
		color: $color_tapa_approx;
		font-size: 14px;
		letter-spacing: 0.28px;
		line-height: 24px;
		text-decoration: none;
	}
}
.comment-reply-title {
	font-family: $font_0, $font_1;
	color: $color_ship_gray_approx;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.16px;
	line-height: 24px;
	margin-top: 0;
	text-transform: uppercase;
	small a {
		border: none;
		float: right;
		height: 17px;
		overflow: hidden;
		width: 15px;
		text-decoration: none;
		display: none;
		&:before {
			content: "\f112";
			font-size: 14px;
			position: relative;
			top: 0;
			font-family: $font_2;
			color: $black;
		}
	}
}
.required {
	color: $color_flush_mahogany_approx;
}
.comment-notes {
	color: $color_dove_gray_approx;
	font-size: 13px;
	line-height: 20px;
}
.comment-awaiting-moderation {
	color: $color_dove_gray_approx;
	font-size: 13px;
	line-height: 20px;
}
.logged-in-as {
	color: $color_dove_gray_approx;
	font-size: 13px;
	line-height: 20px;
}
.form-allowed-tags {
	color: $color_dove_gray_approx;
	font-size: 13px;
	line-height: 20px;
	code {
		white-space: normal;
	}
}
.form-submit {
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
}
.no-comments {
	color: $color_dove_gray_approx;
	font-weight: 700;
	padding-top: 0;
}
article[class*="type-"] {
	position: relative;
	.entry-content {
		.post-password-form p {
			margin-top: 0;
		}
		blockquote p {
			color: $color_shark_approx;
			font-size: 14px;
			line-height: 24px;
			font-style: italic;
			letter-spacing: 0.52px;
			font-family: $font_5, $font_1;
		}
	}
	&.format-gallery {
		.carousel-control {
			width: 30px;
			height: 30px;
			line-height: 30px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			background: none;
			position: absolute;
			top: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(0, -50%);
			font-size: 14px;
			font-weight: 400;
			opacity: 1;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			text-align: center;
			color: $black;
			border: 1px solid $black;
			span {
				position: relative;
				z-index: 2;
			}
		}
		.carousel-control::before {
			background-color: $white_80;
			bottom: 0;
			content: "";
			display: inline-block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&.sticky {
		text-align: left;
	}
	&.tag-edge-case .entry-content p {
		margin-top: 0;
		margin-bottom: 8px;
	}
	&.format-chat .entry-content p {
		margin-top: 0;
		margin-bottom: 8px;
	}
	&.tag-sticky-2 a {
		color: $black;
	}
	&:last-of-type .or-spacer {
		display: none;
	}
}
.post-password-form {
	position: relative;
	label {
		color: $black;
		display: block;
		font-size: 12px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
	}
	input[type="submit"] {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		background-color: $color_guardsman_red_approx;
		border: none;
		bottom: 0;
		color: $white;
		padding: 5px 30px;
		position: relative;
		outline: none;
		height: 40px;
		margin-top: 10px;
		&:hover {
			background-color: $color_log_cabin_approx;
			background-color: $color_log_cabin_approx;
			color: $white;
		}
	}
	input[type="password"] {
		border: 1px solid $black;
		font-size: 14px;
		padding: 10px 60px 10px 10px;
		width: 100%;
		outline: none;
		height: 40px;
	}
}
.post-navigation {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 50px;
	margin-top: 50px;
	position: relative;
	width: 100%;
	a {
		display: block;
		&:before {
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}
	}
	span {
		display: block;
	}
	.meta-nav {
		color: $color_dove_gray_approx;
		color: $color_mine_shaft_70_approx;
		letter-spacing: 0.04em;
		line-height: 1.5;
		position: relative;
		z-index: 2;
	}
	.nav-previous {
		float: left;
		text-align: left;
		width: 50%;
		.post-title {
			float: left;
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		.post-title {
			float: right;
		}
	}
	.post-title {
		font-size: 12px;
		line-height: 1.3333;
		color: $color_mine_shaft_approx;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		max-width: 80%;
		margin-top: 5px;
	}
}
.wpcf7-form {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	.form-group {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
		label {
			font-size: 18px;
			color: $color_tapa_approx;
			font-weight: 400;
			letter-spacing: 0.72px;
			line-height: 24px;
		}
	}
	.wpcf7-form-control {
		border: 1px solid $color_bon_jour_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $color_tapa_approx;
		font-size: 13px;
		font-weight: 600;
		min-height: 41px;
		outline: none;
		padding: 6px 18px;
		letter-spacing: 0.26px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		display: inline-block;
		width: 100%;
		&:-moz-placeholder {
			text-transform: capitalize;
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			text-transform: capitalize;
			color: $color_tapa_approx;
		}
		&.wpcf7-textarea {
			padding: 20px;
		}
		&.wpcf7-submit {
			background-color: $color_guardsman_red_approx;
			border: medium none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			color: $white;
			font-family: $font_0, $font_1;
			font-weight: bold;
			letter-spacing: 0.56px;
			padding: 13px 30px;
			text-transform: uppercase;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.7s ease 0s;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			font-size: 14px;
			width: auto;
			&:hover {
				background-color: $black;
			}
		}
	}
	.wpcf7-form-control::-webkit-input-placeholder {
		text-transform: capitalize;
		color: $color_tapa_approx;
	}
	.wpcf7-form-control::-moz-placeholder {
		text-transform: capitalize;
		color: $color_tapa_approx;
	}
	div {
		&.wpcf7-mail-sent-ng {
			float: left;
			border: 2px solid $color_log_cabin_approx;
			line-height: 24px;
			margin-top: 15px;
			margin-left: 15px;
			margin-top: 0;
			padding: 5px 15px;
		}
		&.wpcf7-validation-errors {
			float: left;
			border: 2px solid $color_log_cabin_approx;
			line-height: 24px;
			margin-top: 15px;
			margin-left: 15px;
		}
	}
	span.wpcf7-not-valid-tip {
		margin-top: 0;
		line-height: 24px;
		margin-top: 5px;
	}
}
.wpcf7-form-control-wrap {
	display: inline-block;
	width: 100%;
}
.search {
	.page-content p {
		color: $color_storm_dust_approx;
		font-size: 14px;
		line-height: 24px;
	}
	.page-header .page-title {
		color: $black;
		font-size: 24px;
		line-height: 36px;
		margin: 0 0 5px;
		text-transform: capitalize;
	}
	.content-area .searchform .input-group-btn {
		background-color: transparent;
	}
	.page_search .searchform {
		border: 1px solid $color_celeste_approx;
	}
}
.searchform {
	.input-group {
		padding: 0;
	}
	.form-control::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	.form-control {
		&:-moz-placeholder {
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			color: $color_tapa_approx;
		}
	}
	.form-control::-moz-placeholder {
		color: $color_tapa_approx;
	}
}
.pagination {
	display: inline-block;
	width: 100%;
	text-align: left;
	position: relative !important;
	margin-top: 60px;
	.nav-links .page-numbers {
		background-color: transparent;
		border: 1px solid $color_guardsman_red_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $color_log_cabin_approx;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.52px;
		line-height: 38px;
		padding: 0;
		position: relative;
		text-align: center;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		padding-left: 18px;
		padding-right: 18px;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 3px 10px;
		text-decoration: none;
		&.current {
			color: $white;
			background-color: $color_guardsman_red_approx;
			&:hover {
				color: $white;
			}
		}
		&:hover {
			background-color: $color_guardsman_red_approx;
			color: $white;
		}
		&:focus {
			background-color: $color_guardsman_red_approx;
			color: $white;
		}
	}
}
.page-header {
	margin: 0;
	border: 0 none;
}
.post-header {
	margin: 0;
	border: 0 none;
}
.full-page-header {
	margin-bottom: 80px;
}
.page-heading {
	left: 50%;
	position: absolute;
	top: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
}
.page-banner {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	min-height: 250px;
	width: 100%;
	text-align: center;
	.container {
		left: 0;
		margin: 0 auto;
		max-width: 1170px;
		padding: 0 !important;
		position: absolute;
		right: 0;
		top: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-50%);
		width: 100%;
	}
	h3 {
		color: $white;
		text-transform: capitalize;
		font-family: $font_3, $font_4;
		font-size: 75px;
		letter-spacing: 1.3px;
		line-height: 85px;
		margin-top: 0;
		margin-bottom: 40px;
		position: relative;
		padding-bottom: 40px;
	}
}
.page-banner::before {
	background-color: $black_60;
	content: "";
	display: inline-block !important;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.page-subtitle {
	display: block;
	font-size: 14px;
	line-height: 22px;
	margin-top: 0;
	font-weight: 500;
	word-wrap: break-word;
	text-transform: capitalize;
	color: $white;
}
.breadcrumb {
	background-color: transparent;
	color: $white;
	margin: 0;
	word-wrap: break-word;
	padding: 0;
	z-index: 1;
	display: inline-block;
	a {
		@extend %extend_2;
		&:hover span {
			color: $color_guardsman_red_approx;
		}
	}
	span {
		@extend %extend_2;
		color: $color_guardsman_red_approx;
		a > span {
			color: $white;
		}
	}
	.home span {
		color: $white;
	}
}
.widget_breadcrumb_navxt {
	font-size: 0;
	.breadcrumbs > span {
		&:after {
			color: $color_tapa_approx;
			content: "/";
			padding: 0 5px;
		}
		&:last-of-type:after {
			content: "";
		}
	}
}
.widget-area {
	.widget {
		margin-bottom: 35px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&.widget_tag_cloud {
			margin-bottom: 30px;
		}
	}
	a {
		color: $color_tapa_approx;
		text-decoration: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
	.widget_contact p {
		color: $color_tapa_approx;
	}
	.widget_nav_menu.widget ul li {
		margin: 0;
		padding: 0;
		border: none;
		a {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 2px solid $color_alto_approx;
			width: 100%;
			display: inline-block;
		}
	}
}
.navbar-brand {
	&.image-logo {
		margin-bottom: 3px;
		margin-top: 2px;
		max-height: 60px;
		max-width: 160px;
		overflow: hidden;
	}
	&.custom-txt {
		@extend %extend_4;
		&:focus {
			color: $white;
		}
		&:hover {
			color: $white;
		}
	}
	&.site-title {
		@extend %extend_4;
		&:focus {
			color: $white;
		}
		&:hover {
			color: $white;
		}
	}
}
.select_box {
	position: relative;
}
.widget {
	select {
		@extend %extend_5;
		option {
			outline: none !important;
		}
		&:active {
			outline: none !important;
		}
		&:focus {
			outline: none !important;
		}
	}
	select::-ms-expand {
		display: none;
	}
	ul {
		list-style: none;
		color: $color_suva_gray_approx;
		font-size: 14px;
		margin: 0;
		padding-left: 0;
		&.sub-menu {
			padding-left: 5px;
		}
		li {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			border-bottom: 2px solid $color_gallery_approx;
			margin-bottom: 15px;
			padding-bottom: 15px;
			a {
				color: $color_tapa_approx;
				text-decoration: none;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			> a {
				color: $color_tapa_approx;
				font-size: 14px;
				padding-left: 15px;
				position: relative;
				text-decoration: none;
				text-transform: capitalize;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				&:hover {
					text-decoration: none;
					color: $color_guardsman_red_approx;
				}
			}
			a::before {
				content: "\f105";
				color: $color_guardsman_red_approx;
				font-family: $font_2;
				position: absolute;
				left: 0;
				top: -2px;
			}
		}
		> li:last-of-type > a {
			margin-bottom: 0;
		}
	}
	> ul {
		&:first-of-type {
			padding-left: 0;
		}
		> li:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $color_tapa_approx;
		text-decoration: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
	div > ul > li:last-child {
		> a {
			margin-bottom: 0;
		}
		> ul.sub-menu:last-child > li:last-child > a {
			margin-bottom: 0;
		}
	}
	.tagcloud a {
		padding: 10px 20px;
		background-color: $color_guardsman_red_approx;
		color: $white;
		margin-bottom: 10px;
		margin-right: 7px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font_0, $font_1;
		font-weight: 700;
		font-size: 13px !important;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		display: inline-block;
		position: relative;
	}
	&.widget_pages > ul {
		li {
			position: relative;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
			a {
				border-bottom: 2px solid $color_gallery_approx;
				margin-bottom: 15px;
				padding-bottom: 15px;
				display: inline-block;
				width: 100%;
			}
		}
		> li:last-child > a {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	&.widget_recent_comments ul li a::before {
		content: "";
		display: none;
	}
	&.widget_rss ul li {
		a {
			padding-left: 0;
		}
		a::before {
			display: none;
		}
	}
}
.widget-title {
	color: $color_log_cabin_approx;
	font-family: $font_0, $font_1;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 22px;
	margin-top: 0;
	word-wrap: break-word;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	position: relative;
}
.widget_archive {
	> ul li {
		color: $color_tapa_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
	}
	li:hover {
		color: $color_guardsman_red_approx;
		a {
			color: $color_guardsman_red_approx;
		}
	}
}
.widget_categories {
	> ul li {
		color: $color_tapa_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		> ul {
			border-top: 2px solid $color_gallery_approx;
			padding-top: 15px;
			margin-top: 15px;
		}
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	li:hover {
		color: $color_guardsman_red_approx;
		a {
			color: $color_guardsman_red_approx;
		}
	}
}
.tagcloud {
	display: inline-block;
	width: 100%;
	a {
		&:hover {
			background-color: $black;
			color: $white;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.widget_calendar {
	#wp-calendar {
		width: 100%;
		border: none;
	}
	table {
		margin: 0;
		width: 100%;
		font-family: $font_0, $font_1;
		margin-bottom: 0;
	}
	td {
		line-height: 2.3333;
		text-align: center;
		padding: 3px;
		border: none;
		color: $color_log_cabin_approx;
		font-family: $font_0, $font_1;
	}
	th {
		line-height: 2.3333;
		text-align: center;
		padding: 3px;
		border: none;
		color: $color_log_cabin_approx;
		font-family: $font_0, $font_1;
	}
	caption {
		font-weight: 500;
		margin: 0;
		text-transform: capitalize;
		text-align: center;
		font-size: 15px;
		color: $black;
		border-top: 1px solid $color_pink_swan_approx;
		border-bottom: 1px solid $color_pink_swan_approx;
	}
	tbody {
		a {
			background-color: transparent;
			display: block;
			text-decoration: none;
			&:hover {
				color: $white;
			}
			&:focus {
				color: $white;
			}
		}
		#today {
			background-color: $color_guardsman_red_approx;
			color: $white;
		}
	}
	#next {
		color: $color_guardsman_red_approx;
		text-align: left;
		padding: 5px 0;
		text-align: right;
		a {
			@extend %extend_6;
			&:hover {
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
		}
	}
	#prev {
		color: $color_guardsman_red_approx;
		text-align: left;
		padding: 5px 0;
		a {
			@extend %extend_6;
			&:hover {
				color: $color_guardsman_red_approx;
				border-color: $color_guardsman_red_approx;
			}
		}
	}
}
.widget_pages {
	> ul li {
		&.current_page_item a {
			color: $color_guardsman_red_approx;
		}
		a:hover {
			color: $color_guardsman_red_approx;
		}
	}
	.page_item_has_children > a {
		margin-bottom: 8px;
		display: inline-block;
		width: 100%;
	}
	.menu-item-has-children > a {
		margin-bottom: 8px;
		display: inline-block;
		width: 100%;
	}
}
.widget_rss {
	ul {
		li {
			position: relative;
			border-bottom: 2px solid $color_gallery_approx;
			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}
			&:hover::before {
				background: none;
			}
			> a {
				color: $black;
				font-weight: 500;
				padding-left: 0;
				line-height: 24px;
				font-size: 15px;
			}
			> a::before {
				content: "";
			}
			cite {
				color: $black;
				font-style: italic;
				display: block;
				font-weight: 500;
				line-height: 26px;
			}
			.rss-date {
				color: $black;
				font-style: italic;
				display: block;
				font-weight: 500;
				line-height: 26px;
			}
		}
		li::before {
			background: none;
		}
	}
	.rsswidget {
		color: $color_mine_shaft_approx;
		margin-bottom: 0;
		img {
			display: none;
		}
	}
	p {
		color: $color_tapa_approx;
		float: left;
		font-size: 14px;
		letter-spacing: 0.98px;
		line-height: 26px;
		margin-right: 5px;
		word-wrap: break-word;
		text-transform: capitalize;
	}
}
.rssSummary {
	line-height: 25px;
	font-size: 14px;
	color: $color_tapa_approx;
}
.mc4wp-response {
	letter-spacing: 0.5px;
	color: $white;
}
.widget_mc4wp_form_widget {
	label {
		display: none;
	}
	.mc4wp-form-fields {
		p {
			color: $color_fuscous_gray_approx;
			font-size: 13px;
			letter-spacing: 0.39px;
			line-height: 24px;
			margin-bottom: 15px;
		}
		.form-control {
			background-color: transparent;
			border: 1px solid $color_quill_gray_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			height: 40px;
			padding-left: 10px;
			padding-right: 10px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			outline: none;
			position: relative;
			z-index: 3;
		}
		input[type="submit"] {
			background-color: $color_guardsman_red_approx;
			border: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			color: $white;
			font-family: $font_0, $font_1;
			font-weight: 600;
			height: 40px;
			letter-spacing: 0.7px;
			outline: none;
			padding-left: 12px;
			font-size: 13px;
			padding-right: 12px;
			text-transform: capitalize;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.5s ease 0s;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			&:hover {
				background-color: $color_guardsman_red_approx;
				border-color: transparent;
				color: $white;
			}
		}
	}
	.mc4wp-alert {
		&.mc4wp-success p {
			color: $white;
			font-size: 13px;
			line-height: 20px;
		}
		&.mc4wp-error p {
			color: $color_mine_shaft_approx;
			font-size: 13px;
			font-weight: 500;
			line-height: 20px;
			margin-top: 5px;
		}
	}
	.form-group i {
		color: $white;
		position: absolute;
		right: 30px;
		top: 12px;
		font-size: 12px;
	}
}
.entry-cover {
	position: relative;
}
.post-detail {
	position: absolute;
	bottom: 26px;
	left: 30px;
}
article {
	&.no-post-thumbnail {
		.entry-header {
			padding-top: 0;
		}
		&.format-gallery .entry-header {
			padding-top: 15px;
		}
		&.format-video .entry-header {
			padding-top: 15px;
		}
		&.format-audio .entry-header {
			padding-top: 15px;
		}
	}
	&.format-audio .entry-title {
		margin-top: 20px;
	}
	&.format-video .entry-title {
		margin-top: 20px;
	}
	&.format-gallery .entry-title {
		margin-top: 20px;
	}
	&.has-post-thumbnail .entry-title {
		margin-top: 20px;
	}
}
.format-video {
	iframe {
		min-height: 400px;
		width: 100%;
	}
	video {
		min-height: 400px;
		width: 100%;
	}
}
.single-post {
	.tags {
		display: inline-block;
		> span {
			color: $black;
			display: inline-block;
			font-size: 15px;
			font-weight: 600;
			letter-spacing: 1px;
			margin-right: 10px;
			text-transform: capitalize;
		}
	}
	.social-share-block {
		padding-left: 115px;
		span {
			display: inline-block;
			float: left;
			margin-right: 15px;
			margin-top: 28px;
			margin-bottom: 5px;
			font-family: $font_0, $font_1;
			font-size: 14px;
			font-weight: 500;
		}
	}
	.post-categories {
		padding-left: 115px;
		color: $color_log_cabin_approx;
		display: inline-block;
		font-family: $font_0, $font_1;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		width: 100%;
		position: relative;
		padding: 13px 24px 3px 127px;
		margin-top: 10px;
		> a {
			color: $color_tapa_approx;
			font-size: 13px;
			text-transform: capitalize;
			display: inline-block;
			letter-spacing: 0.546px;
			text-decoration: none;
			position: relative;
		}
		a {
			border: 1px solid $color_pumice_50_approx;
			color: $color_tapa_approx;
			padding: 10px 22px;
			font-size: 13px;
			text-transform: uppercase;
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 10px;
			letter-spacing: 0.546px;
			text-decoration: none;
			&:first-child {
				margin-left: 25px;
			}
			&:hover {
				background-color: $color_guardsman_red_approx;
				border-color: transparent;
				color: $white;
			}
		}
	}
	.post-social {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid $color_celeste_approx;
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.post-categories::before {
		border: 1px solid $gallery;
		bottom: 0;
		content: "";
		display: inline-block;
		left: 110px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
	.social-share {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 15px;
		padding-left: 0;
		li {
			display: inline-block;
			margin-right: 5px;
			a {
				border: 1px solid $color_dove_gray_approx;
				color: $color_dove_gray_approx;
				float: left;
				height: 35px;
				line-height: 35px;
				text-align: center;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				width: 35px;
				&:hover {
					border-color: $color_guardsman_red_approx;
					color: $color_guardsman_red_approx;
				}
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
		span i {
			margin-right: 5px;
		}
	}
	article[class*="type-"]:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.post-category > span {
		color: $black;
		display: inline-block;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-right: 10px;
		text-transform: capitalize;
	}
}
.no-post-thumbnail {
	.post-detail {
		bottom: auto;
		left: auto;
		margin-bottom: 15px;
		position: relative;
	}
	.post-excerpt {
		padding: 20px 0 0;
	}
	.entry-cover .sticky-post {
		right: 0;
	}
}
.sticky-post {
	background-color: $color_mine_shaft_approx;
	color: $white;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.04em;
	padding: 2px 10px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	z-index: 3;
}
.entry-meta {
	a {
		color: $color_tapa_approx;
		line-height: 26px;
		text-transform: lowercase;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		text-decoration: none;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
	> span {
		@extend %extend_7;
	}
}
@media(min-width: 992px) {
	.ownavigation .navbar-nav .menu-item-language {
		> .submenu-languages {
			display: none;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			min-width: 150px;
			position: absolute;
			background-color: $white;
			padding: 0;
		}
		&:hover > .submenu-languages {
			display: block;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			li {
				padding: 0 20px;
				list-style: none;
				a {
					padding: 10px 0;
					white-space: normal;
					word-wrap: break-word;
					display: inline-block;
					text-decoration: none;
					outline: none;
					color: $color_bunker_approx;
				}
			}
		}
	}
}
@media(max-width: 782px) {
	body.admin-bar .navbar-fixed-top {
		margin-top: 46px;
	}
}
@media(max-width: 991px) {
	.comments-title {
		font-size: 16px;
		line-height: 30px;
		margin-top: 5px;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.comments-area {
		margin-top: 30px;
		.comment-form-author {
			width: 100%;
		}
		.comment-form-email {
			width: 100%;
		}
		.comment-form-url {
			width: 100%;
		}
	}
	.menu-setting {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.comment-list {
		.reply {
			position: relative;
			top: 5px;
		}
		.children {
			margin: 0;
			padding-left: 5px;
			> li {
				padding-left: 0.2em;
			}
		}
	}
	.comment-body {
		padding: 22px 25px 22px 105px;
	}
	.comment-body::before {
		left: 90px;
	}
	.comment-author::before {
		left: 81px;
	}
	.comment-author::after {
		left: 83px;
	}
	.single-post {
		.post-categories::before {
			left: 90px;
		}
		.post-categories {
			padding: 18px 10px 8px 112px;
			a {
				padding: 10px 12px;
			}
		}
		.social-share-block {
			padding-left: 93px;
		}
		.article[class*="type-"] .entry-title {
			font-size: 22px;
			line-height: 31px;
		}
	}
	.breadcrumb {
		width: 100%;
		float: none;
		text-align: left;
		padding: 5px 15px;
		text-align: center;
		width: 100%;
		margin: 0;
		float: left;
	}
	.widget_calendar {
		#next a {
			margin-left: 6px;
			margin-right: 6px;
			padding: 5px 10px;
		}
		#prev a {
			margin-left: 6px;
			margin-right: 6px;
			padding: 5px 10px;
		}
	}
	.widget-title {
		line-height: 26px;
	}
	.widget {
		ul li > a {
			padding-left: 25px;
		}
		&.widget_rss .rsswidget {
			padding-left: 0;
		}
		&.widget_recent_entries ul li a {
			padding-left: 0;
		}
	}
	.ownavigation .navbar-nav {
		.menu-item-language {
			> .submenu-languages {
				display: none;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				width: 100%;
				background-color: transparent;
				padding: 0;
				padding: 0 10px 10px;
			}
			&:hover > .submenu-languages {
				display: block;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
			}
		}
		.submenu-languages {
			position: relative;
			padding: 0;
			li {
				list-style: none;
				a {
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 1s ease 0s;
					padding: 8px 0;
					display: inline-block;
					text-decoration: none;
				}
			}
		}
		.sub-menu {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
		}
	}
	.comment-author .avatar {
		max-width: 70px;
	}
	.post-categories > span {
		display: inline-block;
		margin-bottom: 8px;
	}
	.pagebanner .pagebanner-content h3 {
		width: 100%;
		float: none;
		text-align: left;
	}
	.page-banner .banner-content h3 {
		width: 100%;
		text-align: center;
	}
	.header_s .ownavigation.navbar {
		.navbar-brand {
			&.custom-txt {
				font-size: 28px;
				margin-bottom: 20px;
				margin-top: 17px;
			}
			&.site-title {
				font-size: 28px;
				margin-bottom: 20px;
				margin-top: 17px;
			}
		}
		&.navbar-fixed-top .navbar-brand {
			&.custom-txt {
				margin-top: 15px;
			}
			&.site-title {
				margin-top: 15px;
			}
		}
	}
}
@media(min-width: 768px) {
	.site-main {
		.content-left {
			float: left;
		}
		.sidebar-left {
			float: left;
		}
		.content-right {
			float: right;
		}
		.sidebar-right {
			float: right;
		}
	}
}
@media only screen and(min-width: 992px) and(max-width: 1199px) {
	.widget_calendar {
		#next a {
			padding: 5px 10px;
		}
		#prev a {
			padding: 5px 10px;
		}
	}
	.navbar-brand {
		&.custom-txt {
			font-size: 29px;
		}
		&.site-title {
			font-size: 29px;
		}
	}
	.comment-list .children {
		padding-left: 0;
	}
	.page-banner .container {
		max-width: 970px;
	}
}
@media only screen and(min-width: 768px) and(max-width: 991px) {
	.site-main {
		.content-left {
			padding-right: 15px;
		}
		.content-right {
			padding-left: 15px;
		}
	}
	.page-banner .container {
		max-width: 750px;
	}
}
@media only screen and(min-width: 320px) and(max-width: 600px) {
	body.admin-bar .navbar-fixed-top {
		margin-top: 0;
	}
}
@media(max-width: 767px) {
	.format-video {
		iframe {
			min-height: auto;
			height: auto;
		}
		video {
			min-height: auto;
			height: auto;
		}
	}
	.widget-area {
		margin-top: 30px;
	}
	.comments-area {
		padding-left: 0;
	}
	.comment-metadata {
		margin-top: 5px;
	}
	.comment-author {
		.says {
			font-size: 13px;
		}
		.avatar {
			max-width: 68px;
		}
		.fn a.url {
			font-size: 15px;
		}
	}
	.single-post {
		.social-share-block {
			padding-left: 0;
		}
		.post-categories {
			padding-left: 0;
			padding: 18px 10px 8px 21px;
		}
		.post-categories::before {
			left: 0;
		}
	}
	.banner-content {
		padding: 0 15px;
	}
	.author-intro {
		padding-left: 0;
	}
	.pagination {
		text-align: center;
		margin-top: 35px;
	}
	.comment-list .reply {
		margin-left: 0;
	}
	body .corner {
		display: none;
	}
	.no-post-thumbnail .entry-cover .sticky-post {
		top: -10px;
	}
	.pagebanner .pagebanner-content h3 {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 45px;
	}
	article[class*="type-"] .entry-content > .btn-block .about-author a {
		margin-top: 15px;
	}
	.single .entry-content h2 {
		font-size: 22px;
		line-height: 32px;
	}
	.header_s .ownavigation.navbar {
		.navbar-brand {
			&.custom-txt {
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 19px;
				margin-top: 25px;
			}
			&.site-title {
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 19px;
				margin-top: 25px;
			}
		}
		&.navbar-fixed-top .navbar-brand {
			&.custom-txt {
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 19px;
				margin-top: 25px;
			}
			&.site-title {
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 19px;
				margin-top: 25px;
			}
		}
	}
}
@media(max-width: 479px) {
	.comment-body {
		padding: 15px 15px 15px 90px;
	}
	.comment-body::before {
		left: 78px;
	}
	.comment-author::before {
		left: 69px;
		top: 35px;
	}
	.comment-author::after {
		top: 35px;
		left: 71px;
	}
	article[class*="type-"] {
		.entry-content {
			padding-left: 85px;
			blockquote {
				padding-left: 0;
			}
			> .post-date a {
				width: 70px;
				font-size: 22px;
				span {
					font-size: 14px;
				}
			}
			.entry-meta span i {
				margin-right: 8px;
			}
		}
		.entry-footer .tags-links > a {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	.navbar-brand {
		&.custom-txt {
			font-size: 24px;
			margin-bottom: 14px;
			margin-top: 15px;
		}
		&.site-title {
			font-size: 24px;
			margin-bottom: 14px;
			margin-top: 15px;
		}
	}
	.comment-list .children {
		margin: 0;
		padding: 0;
		padding-left: 0;
		> li {
			padding-left: 0.2em;
		}
	}
	.comment-author .avatar {
		max-width: 60px;
	}
	.single-post article[class*="type-"] .entry-content > .post-date {
		width: 70px;
		font-size: 22px;
		span {
			font-size: 14px;
		}
	}
	.navbar-fixed-top .navbar-brand {
		&.custom-txt {
			font-size: 24px;
			margin-bottom: 14px;
			margin-top: 15px;
		}
		&.site-title {
			font-size: 24px;
			margin-bottom: 14px;
			margin-top: 15px;
		}
	}
	.no-post-thumbnail .entry-cover .sticky-post {
		top: -18px;
	}
}
@media(max-width: 400px) {
	.owclearfix-cnt2:after {
		clear: none;
	}
	.owclearfix-cnt3:after {
		clear: none;
	}
}
.fixedlayout.container {
	margin: 0 auto;
}
.wpb_revslider_element.wpb_content_element {
	margin-bottom: 0 !important;
}
.site .avatar {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
}
.page-content img.wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.breadcrumbs > span {
	line-height: 24px;
	font-size: 14px;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-icon img {
	margin: 0 auto;
}
.about-author p {
	color: $color_tapa_approx;
	font-size: 13px;
	font-style: italic;
	line-height: 24px;
	margin-bottom: 0;
}
.mejs-container span {
	color: $white;
}
.comment-navigation + .no-comments {
	border-top: 0;
}
.pingback .edit-link {
	display: inline-block;
	font-size: 13px;
	line-height: 1.5;
	padding-left: 0;
	text-align: left;
	width: 100%;
	a {
		border: 1px solid $color_guardsman_red_approx;
		color: $color_guardsman_red_approx;
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		margin-left: 0;
		margin-top: 15px;
		padding: 5px 19px;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: $color_mine_shaft_approx;
		}
		&:focus {
			color: $color_mine_shaft_approx;
		}
	}
	&:before {
		top: 5px;
	}
}
.page_search .searchform {
	border: 1px solid $color_celeste_approx;
	.form-control {
		min-height: 46px;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $color_tapa_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		outline: none;
		font-size: 13px;
		padding-left: 20px;
		z-index: 4;
		padding-right: 20px;
		&:-moz-placeholder {
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			color: $color_tapa_approx;
		}
	}
	.form-control::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	.form-control::-moz-placeholder {
		color: $color_tapa_approx;
	}
	.btn.btn-default {
		font-family: $font_0, $font_1;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		min-height: 46px;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: transparent;
		color: $color_tapa_approx;
		padding-left: 10px;
		padding-right: 10px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		&:hover {
			border: none;
		}
		&:focus {
			border: none;
		}
		&:active {
			border: none;
		}
	}
}
.header-menuabsolute .page-heading {
	top: 60%;
}
.widget_search .input-group {
	border: none;
	background-color: transparent;
	.form-control {
		background-color: transparent;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		border-color: $color_alto_approx;
		color: $color_tapa_approx;
		font-size: 14px;
		font-weight: 500;
		padding: 12px 22px;
		letter-spacing: 0.65px;
		height: 46px;
		outline: none;
		border: none;
		&:-moz-placeholder {
			color: $color_tapa_approx;
		}
		&:-ms-input-placeholder {
			color: $color_tapa_approx;
		}
	}
	.btn {
		padding: 6px 17px;
		background-color: transparent;
		color: $color_tapa_approx;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		> i {
			width: auto;
			height: auto;
			vertical-align: baseline;
			margin-left: 0;
			line-height: normal;
		}
	}
	.form-control::-webkit-input-placeholder {
		color: $color_tapa_approx;
	}
	.form-control::-moz-placeholder {
		color: $color_tapa_approx;
	}
}
.widget_latestposts .latest-content.no_post_thumb {
	padding-left: 0;
}
.widget_meta ul li {
	a {
		color: $color_tapa_approx;
		word-wrap: break-word;
		text-decoration: none;
		text-transform: capitalize;
	}
	&:last-of-type a {
		margin-bottom: 0;
	}
	&:hover a {
		color: $color_guardsman_red_approx;
	}
}
.widget_recent_comments ul li {
	line-height: 26px;
	margin-bottom: 14px;
	color: $color_tapa_approx;
	span {
		text-transform: capitalize;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	a {
		padding-left: 0;
		margin-bottom: 0;
		font-size: 14px;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
}
.widget_recent_entries ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	&:last-of-type {
		margin-bottom: 0;
		a {
			margin-bottom: 0;
		}
	}
	a {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		color: $color_tapa_approx;
		font-size: 14px;
		line-height: 22px;
		word-wrap: break-word;
		padding-left: 0;
		text-decoration: none;
		text-transform: capitalize;
		margin-bottom: 5px;
		&:hover {
			color: $color_guardsman_red_approx;
		}
	}
	a::before {
		content: "";
	}
}
.widget_text .textwidget {
	color: $color_tapa_approx;
	display: inline-block;
	font-size: 14px;
	word-wrap: break-word;
	max-width: 100%;
	line-height: 26px;
	p {
		padding: 0;
		line-height: 24px;
		font-size: 14px;
		word-wrap: break-word;
		color: $color_tapa_approx;
		strong {
			&:first-of-type {
				margin-bottom: 10px;
				display: inline-block;
				color: $color_tapa_approx;
			}
			&:last-of-type {
				margin-bottom: 0;
				color: $color_tapa_approx;
			}
		}
	}
	img {
		margin-bottom: 7px;
		margin-top: 7px;
	}
	.wp-caption {
		margin-bottom: 0;
		color: $color_tapa_approx;
	}
}
.mc4wp-alert.mc4wp-error p {
	color: $white;
}
.textwidget option {
	max-width: 175px;
}
.widget_recent_post .recent-box.no_post_thumb {
	padding-left: 0;
}
.format-audio audio {
	width: 100%;
}
.category a {
	color: $color_tapa_approx;
	line-height: 26px;
	text-transform: lowercase;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
	text-decoration: none;
	&:hover {
		color: $color_guardsman_red_approx;
	}
}
.post-categories > span {
	@extend %extend_7;
}