article[class*="type-"] {
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
	&:last-of-type {
		margin-bottom: 0;
	}
	.entry-cover {
		display: inline-block;
		width: 100%;
		a {
			display: inline-block;
			position: relative;
		}
		a::before {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
		}
		a::after {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
		}
		> a::before {
			color: $white;
			content: "\e67b";
			font-family: $font_10;
			font-size: 25px;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(-50%, -50%);
			z-index: 1;
			opacity: 0;
		}
		> a::after {
			background-color: $black_60;
			bottom: 0;
			content: "";
			display: inline-block;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(0);
		}
		> a {
			&:hover::before {
				opacity: 1;
			}
			&:hover::after {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: scale(1);
			}
		}
	}
	.entry-content {
		display: inline-block;
		width: 100%;
		position: relative;
		padding-left: 110px;
		margin-top: 30px;
		min-height: 85px;
		margin-bottom: 10px;
		.entry-meta {
			display: inline-block;
			width: 100%;
			margin-bottom: 5px;
			span {
				color: $color_storm_dust_approx;
				display: inline-block;
				font-size: 13px;
				letter-spacing: 0.52px;
				margin-bottom: 5px;
				font-weight: 400;
				i {
					margin-right: 13px;
				}
				a {
					color: $color_storm_dust_approx;
					&:hover {
						color: $color_guardsman_red_approx;
					}
				}
			}
		}
		.entry-title {
			color: $color_log_cabin_approx;
			font-family: $body-font-family, $font_1;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0.72px;
			text-transform: uppercase;
			margin-bottom: 10px;
			margin-top: 0;
			line-height: 26px;
			a {
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				color: $color_log_cabin_approx;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
		}
		> a {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1s ease 0s;
			color: $color_log_cabin_approx;
			font-family: $body-font-family, $font_1;
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 0.72px;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: $color_guardsman_red_approx;
			}
		}
		p {
			color: $color_tapa_approx;
			font-size: 13px;
			line-height: 26px;
			letter-spacing: 0.52px;
			margin-bottom: 16px;
			margin-bottom: 10px;
		}
		> .post-date {
			position: absolute;
			left: 0;
			top: 0;
			a {
				@extend %extend_2;
				&:hover {
					background-color: $color_grain_brown_approx;
					color: $white;
				}
				span {
					display: block;
					font-size: 16px;
					letter-spacing: 0.64px;
					line-height: 22px;
					text-transform: capitalize;
				}
			}
		}
	}
	.entry-footer {
		display: inline-block;
		width: 100%;
		margin-bottom: 12px;
		position: relative;
		padding: 13px 24px 3px 127px;
		z-index: 1;
		.tags-links {
			color: $color_log_cabin_approx;
			font-family: $body-font-family, $font_1;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;
			width: 100%;
			> a {
				border: 1px solid $color_pumice_50_approx;
				color: $color_tapa_approx;
				padding: 10px 22px;
				font-size: 13px;
				display: inline-block;
				margin-left: 10px;
				margin-bottom: 10px;
				letter-spacing: 0.546px;
				text-decoration: none;
				&:first-child {
					margin-left: 25px;
				}
				&:hover {
					background-color: $color_guardsman_red_approx;
					border-color: transparent;
					color: $white;
				}
			}
		}
		.share-this {
			float: right;
			> a {
				color: $color_log_cabin_approx;
				text-transform: capitalize;
				letter-spacing: 0.588px;
				margin: 10px 0;
				display: inline-block;
				text-decoration: none;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
		}
	}
	.entry-footer::before {
		border: 1px solid $gallery;
		content: "";
		display: inline-block;
		position: absolute;
		left: 110px;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	.about-author {
		padding-left: 110px;
		display: inline-block;
		width: 100%;
		.author-details {
			display: inline-block;
			width: 100%;
			padding: 30px 30px 30px 130px;
			border: 1px solid $color_cararra_approx;
			position: relative;
			min-height: 134px;
			i {
				position: absolute;
				left: 30px;
				top: 22px;
				img {
					border: 1px solid $color_guardsman_red_approx;
				}
			}
			p {
				color: $color_tapa_approx;
				font-size: 14px;
				font-style: italic;
				line-height: 24px;
				margin-bottom: 0;
			}
		}
	}
	&.no-post-thumbnail .entry-content {
		margin-top: 0;
	}
	&.format-gallery .entry-content {
		margin-top: 25px;
	}
}