footer {
	.header-search {
		display: none;
	}
	.widget {
		margin-bottom: 30px;
		font-family: $body-font-family, $font_1;
		font-weight: 700;
		font-size: 13px;
		letter-spacing: 0.65px;

		&.widget_recent_comments {
			a {
				text-transform: capitalize;
			}
			ul li a::before {
				content: "";
				display: none;
			}
		}
		.footer-social {
			padding-left: 0;
			li {
				display: inline-block;
				margin-top: 5px;
				margin-right: 10px;
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
				width: auto;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					border: 1px solid $color_dove_gray_approx;
					float: left;
					width: 41px;
					height: 41px;
					color: $color_dove_gray_approx;
					padding: 0;
					text-align: center;
					line-height: 41px;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 1s ease 0s;
					font-size: 15px;
					&:hover {
						border-color: $color_guardsman_red_approx;
						color: $color_guardsman_red_approx;
					}
				}
			}
		}
		&.widget_recent_entries {
			a {
				text-transform: capitalize;
			}
			ul li a::before {
				top: 6px;
			}
		}
		&.woocommerce {
			&.widget_product_categories ul li a {
				border-bottom: none;
				padding-bottom: 0;
			}
			ul.product_list_widget li {
				a::before {
					background-image: none;
					height: 0;
					width: 0;
				}
				a {
					font-weight: 700;
				}
			}
		}

		&.tribe-events-list-widget {
			ol {
				padding-left: 0;
			}

			.tribe-events-list-widget-events {
				padding: 0;
			}

			.tribe-event-date-start,
			.tribe-event-time {
				color: inherit;
			}

			.tribe-events-widget-link {
				display: none;
			}
		}


		ul li,
		ol li {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 15px;
			color: $boulder;
			&:last-child {
				margin-bottom: 0;
			}
			a::before {
				background-image: url(../images/ftr-link-ic.png);
				content: "";
				display: inline-block;
				width: 19px;
				height: 9px;
				margin-right: 15px;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 6px;
			}
			a {
				border-bottom: none;
				font-family: $body-font-family, $font_1;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.65px;
				color: $color_dove_gray_approx;
				text-decoration: none;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.5s ease 0s;
				position: relative;
				padding-left: 30px;
				display: block;
				word-wrap: break-word;
				white-space: normal;
			}
		}



		&.widget_about ul li a::before {
			content: "";
			display: none;
		}
		&.widget_archive ul li {
			a {
				display: inline;
			}
			a::before {
				background-image: url(../images/ftr-cat-ic.png);
				height: 19px;
				width: 11px;
			}
		}
		&.widget_categories ul li {
			a {
				display: inline;
			}
			a::before {
				background-image: url(../images/ftr-cat-ic.png);
				height: 19px;
				width: 11px;
			}
		}
		&.widget_nav_menu ul li {
			margin-bottom: 0;
			a {
				margin-bottom: 15px;
			}
		}
	}
	.widget-title {
		padding-bottom: 12px;
		text-align: left;
	}
	.widget-title::before {
		background-color: $color_guardsman_red_approx;
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 2px;
		width: 37px;
	}
	&.footer-main-2 {
		.widget_mc4wp_form_widget {
			.mc4wp-form-fields {
				.form-control {
					color: $color_silver_chalice_approx;
					min-height: 45px;
					background-color: $white;
					min-height: 45px;
					border: none;
					color: $color_fuscous_gray_approx;
					font-weight: 500;
				}
				input[type="submit"] {
					min-height: 45px;
				}
			}
			.mc4wp-alert.mc4wp-error p {
				color: $white;
			}
		}
		.woocommerce {
			&.widget_shopping_cart {
				.amount {
					color: $color_silver_chalice_approx;
				}
				.total {
					color: $color_silver_chalice_approx;
				}
			}
			select {
				color: $color_silver_chalice_approx;
				color: $color_silver_chalice_approx !important;
			}
		}
		.breadcrumbs {
			color: $color_silver_chalice_approx;
		}
		.widget_calendar {
			td {
				color: $color_silver_chalice_approx;
			}
			th {
				color: $color_silver_chalice_approx;
			}
			caption {
				color: $color_silver_chalice_approx;
			}
			#next a {
				color: $color_silver_chalice_approx;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			#prev a {
				color: $color_silver_chalice_approx;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
		}
		.widget {
			a {
				color: $color_silver_chalice_approx;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			select {
				color: $color_silver_chalice_approx !important;
			}
			.select_box select {
				color: $color_silver_chalice_approx;
			}
			ul li a {
				color: $color_silver_chalice_approx;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
			&.woocommerce .buttons a {
				color: $white;
				font-weight: 700;
			}
		}
		.widget_instagram {
			color: $color_silver_chalice_approx;
		}
		.widget_rss ul li {
			cite {
				color: $color_silver_chalice_approx;
			}
			.rss-date {
				color: $color_silver_chalice_approx;
			}
		}
		.widget_text .textwidget {
			color: $color_silver_chalice_approx;
			p {
				color: $color_silver_chalice_approx;
				strong {
					color: $color_silver_chalice_approx;
				}
			}
		}
		.widget_recentposts .recent-content {
			span {
				color: $color_silver_chalice_approx;
				a {
					color: $color_silver_chalice_approx;
					&:hover {
						color: $color_guardsman_red_approx;
					}
				}
			}
			h5 > a {
				color: $color_silver_chalice_approx;
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
		}
		.page_search .searchform .btn.btn-default {
			color: $color_silver_chalice_approx;
		}
		.widget_about p {
			color: $color_silver_chalice_approx;
		}
		.widget-area a {
			color: $color_silver_chalice_approx;
		}
		.widget_workingtime td {
			color: $color_silver_chalice_approx;
		}
		.widget_search .input-group {
			.form-control {
				color: $color_silver_chalice_approx;
				&:-moz-placeholder {
					color: $color_silver_chalice_approx;
				}
				&:-ms-input-placeholder {
					color: $color_silver_chalice_approx;
				}
			}
			.form-control::-webkit-input-placeholder {
				color: $color_silver_chalice_approx;
			}
			.form-control::-moz-placeholder {
				color: $color_silver_chalice_approx;
			}
		}
		.tagcloud a {
			color: $white;
			&:hover {
				background-color: $white;
				color: $black;
			}
		}
	}
	.widget_text .textwidget {
		font-weight: 700;
		font-size: 13px;
		p {
			font-weight: 700;
			font-size: 13px;
			strong {
				font-weight: 700;
				font-size: 13px;
			}
		}
	}
	.widget_mc4wp_form_widget .mc4wp-form-fields .form-control {
		font-weight: 700;
		font-size: 13px;
	}
	.widget_search .input-group .form-control {
		font-weight: 700;
		font-size: 13px;
	}
	.widget_recentposts .recent-content h5 > a {
		font-weight: 700;
		color: $color_dove_gray_approx;
	}
	.widget_breadcrumb_navxt .breadcrumbs > span::after {
		content: "";
	}
}

.top-footer {
	background-color: $white;
	padding-top: 80px;
	padding-bottom: 40px;
}

.bottom-footer {
	background-color: $color_log_cabin_approx;
	padding: 15px 0;
	text-align: center;
	p {
		color: $color_nobel_approx;
		font-size: 13px;
		margin-bottom: 0;
		text-transform: capitalize;
	}
}
.footer-main-1 {
	.widget_instagram {
		color: $color_dove_gray_approx;
	}
	.widget_calendar {
		caption {
			color: $color_dove_gray_approx;
			font-weight: 700;
			letter-spacing: 0;
			font-size: 14px;
		}
		td {
			color: $color_dove_gray_approx;
			font-weight: 700;
		}
		th {
			color: $color_dove_gray_approx;
			font-weight: 700;
		}
		#next a {
			color: $color_dove_gray_approx;
			font-weight: 700;
			border-color: $color_dove_gray_approx;
		}
		#prev a {
			color: $color_dove_gray_approx;
			font-weight: 700;
			border-color: $color_dove_gray_approx;
		}
	}
	.widget_about p {
		color: $color_dove_gray_approx;
		letter-spacing: 0.65px;
		line-height: 26px;
		font-family: $font_2, $font_1;
		font-weight: 500;
	}
}
.footer-main-2 {
	.widget_calendar {
		#next a {
			border-color: $color_silver_chalice_approx;
		}
		#prev a {
			border-color: $color_silver_chalice_approx;
		}
	}
	.top-footer {
		background-color: $color_log_cabin_approx;
		.widget-title {
			color: $white;
		}
		.widget_about {
			padding-right: 0;
		}
		.widget_subscribe {
			padding-right: 20px;
			margin-top: 20px;
			.form-control {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				outline: none;
				height: 45px;
				padding-left: 20px;
				padding-right: 20px;
			}
			.btn {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: $color_guardsman_red_approx;
				color: $white;
				height: 45px;
				border: none;
				font-family: $body-font-family, $font_1;
				font-weight: bold;
				letter-spacing: 0.7px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				outline: none;
				text-transform: uppercase;
				padding-left: 23px;
				padding-right: 23px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.5s ease 0s;
				&:hover {
					background-color: $black;
					color: $color_guardsman_red_approx;
				}
			}
		}
		.widget_instagram .instafeed a {
			display: inline-block;
			margin-bottom: 5px;
			margin-right: 3px;
		}
	}
	.bottom-footer {
		background-color: $color_cod_gray_approx;
	}
}
