@import "../global/vars";

.header_s {
	.top-header1 {
		background-color: $color_cod_gray_approx;
		.top-left {
			margin: 8px 0;
			span {
				font-family: $body-font-family;
				font-size: 13px;
				letter-spacing: 0.24px;
				font-weight: 500;
				color: $color_alto_approx;
				+ span {
					margin-left: 25px;
				}
				a {
					color: $color_alto_approx;
					text-decoration: none;
					i {
						margin-right: 10px;
					}
					&:hover {
						color: $color_cape_palliser_approx;
					}
				}
			}
		}
		.top-right {
			text-align: right;
			vertical-align: middle;
			.top-social {
				padding-left: 0;
				margin-bottom: 0;
				margin-right: 31px;
				vertical-align: middle;
				display: inline-block;
				li {
					float: left;
					list-style: none;
					margin: 8px 13px;
					&:first-child {
						margin-left: 0;
					}
					a {
						color: $color_alto_approx;
						font-size: 13px;
						&:hover {
							color: $color_cape_palliser_approx;
						}
					}
				}
			}
			.search-block {
				background-color: $color_heavy_metal_approx;
				width: 172px;
				height: 39.5px;
				padding-left: 10px;
				padding-right: 10px;
				.form-control {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					background-color: transparent;
					height: 36px;
					border: none;
					color: $color_alto_approx;
					letter-spacing: 0.24px;
					font-weight: 500;
					outline: none;
					&:-moz-placeholder {
						color: $color_delta_approx;
					}
					&:-ms-input-placeholder {
						color: $color_delta_approx;
					}
				}
				.btn {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					background-color: transparent;
					border: none;
					color: $white;
					outline: none;
					padding: 1px;
				}
				.form-control::-webkit-input-placeholder {
					color: $color_delta_approx;
				}
				.form-control::-moz-placeholder {
					color: $color_delta_approx;
				}
			}
			&.searchform-full {
				float: right;
			}
		}
	}
	.ownavigation {
		background-color: $black_80;
		.navbar-nav {
			li {
				a {
					color: $white;
					font-family: $body-font-family, $font_1;
					font-size: 12px;
					font-weight: bold;
					letter-spacing: 0.24px;
					text-transform: uppercase;
					&:hover {
						color: $color_guardsman_red_approx;
					}
				}
				&:hover > a {
					color: $color_guardsman_red_approx;
				}
				.dropdown-menu > li > a:hover {
					color: $color_guardsman_red_approx;
				}
			}
			> li:last-child {
				margin-right: 0;
			}
			> .active > a {
				color: $color_guardsman_red_approx;
				&:focus {
					color: $color_guardsman_red_approx;
				}
				&:hover {
					color: $color_guardsman_red_approx;
				}
			}
		}
	}
	&.header_s2 .ownavigation {
		background-color: $white;
		&.navbar-fixed-top {
			border-bottom: 1px solid $color_gallery_approx;
		}
	}
}