#rev_slider1 {
	margin-bottom: 75px;
	.tp-bullets.zeus .tp-bullet {
		background-color: $white;
		border: 2px solid transparent;
		width: 10px;
		height: 10px;
		&:hover::after {
			background-color: $color_guardsman_red_approx;
		}
		&.selected::after {
			background-color: $color_guardsman_red_approx;
		}
		&.selected {
			background-color: transparent;
			border: 2px solid $color_manhattan_approx;
			width: 12px;
			height: 12px;
			position: relative;
			margin-left: -2px;
		}
	}
}
#rev_slider2 {
	.tp-bullets.zeus .tp-bullet {
		background-color: $white;
		height: 10px;
		width: 10px;
		&:hover::after {
			background-color: $color_guardsman_red_approx;
		}
		&.selected::after {
			background-color: $color_guardsman_red_approx;
		}
	}
	.slotholder:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: $black_60;
	}
}