.book-table-section {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	overflow: hidden;
	max-width: 1920px;
	.section-header {
		padding-bottom: 0;
		h4 {
			color: $white;
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
	.section-header::before {
		display: none;
	}
	.form-group {
		margin-bottom: 30px;
	}
	.input-group {
		background-color: $white;
		padding-left: 10px;
		padding-right: 0;
		width: 100%;
		.input-group-addon {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			background-color: transparent;
			border: none;
			color: $color_mountain_mist_approx;
			outline: none;
		}
		.form-control {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	.wpcf7-form {
		.wpcf7-form-control {
			background-color: $white;
			border: none;
			letter-spacing: 2.1px;
			outline: none;
			min-height: 46px;
			width: 100%;
			color: $color_tapa_approx;
			padding: 6px 10px;
			font-family: $font_2, $font_1;
			font-size: 14px;
			option {
				margin-bottom: 5px;
				letter-spacing: 0;
				line-height: 30px;
			}
			&:-moz-placeholder {
				color: $color_tapa_approx;
			}
			&:-ms-input-placeholder {
				color: $color_tapa_approx;
			}
			&.wpcf7-submit:hover {
				background-color: $white;
				color: $color_guardsman_red_approx;
			}
		}
		.select_box::-ms-expand {
			display: none;
		}
		.select_box {
			option {
				outline: none !important;
			}
			&:active {
				outline: none !important;
			}
			&:focus {
				outline: none !important;
			}
		}
		.wpcf7-form-control::-webkit-input-placeholder {
			color: $color_tapa_approx;
		}
		.wpcf7-form-control::-moz-placeholder {
			color: $color_tapa_approx;
		}
		div {
			&.wpcf7-mail-sent-ng {
				position: relative;
				z-index: 1;
				color: $white;
				border-color: $white;
			}
			&.wpcf7-validation-errors {
				position: relative;
				z-index: 1;
				color: $white;
				border-color: $white;
			}
		}
		.wpcf7-select.wpcf7-form-control {
			line-height: 35px;
			padding-bottom: 6px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			cursor: pointer;
			position: relative;
			z-index: 2;
			outline: none;
			color: $color_tapa_approx;
			height: 40px;
		}
	}
	form .send-btn {
		text-align: center;
	}
	.wpcf7-form-control.wpcf7-submit {
		background-color: $color_guardsman_red_approx;
		font-family: $body-font-family, $font_1;
		font-weight: bold;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		width: auto;
		border: none;
		padding: 13px 30px;
		text-transform: uppercase;
		color: $white;
		letter-spacing: 0.56px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.7s ease 0s;
		&:hover {
			background-color: $white;
			color: $color_guardsman_red_approx;
		}
	}
}
.book-table-section::before {
	background-color: $color_log_cabin_60_approx;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}