.surprise-section {
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding-top: 180px;
	padding-bottom: 180px;
	background-size: cover;
}
.surprise-section::before {
	background-color: $color_log_cabin_60_approx;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.surprise-content {
	position: relative;
	h3 {
		color: $white;
		text-transform: capitalize;
		font-family: $font_3, $font_4;
		font-size: 65px;
		letter-spacing: 1.3px;
		line-height: 85px;
		margin-top: 0;
		margin-bottom: 40px;
		position: relative;
		padding-bottom: 40px;
	}
	h3::before {
		background-image: url(../images/section-header-sep2.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		display: inline-block;
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		height: 24px;
	}
}