.about-section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.about-detail {
	> p {
		color: $color_tapa_approx;
		letter-spacing: 0.35px;
		line-height: 26px;
		margin-bottom: 27px;
	}
	.chef-detail {
		i {
			display: inline-block;
			img {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
			}
		}
		span {
			display: inline-block;
			margin-left: 30px;
		}
		.cnt {
			display: inline-block;
			margin-left: 30px;
			h4 {
				color: $color_log_cabin_approx;
				font-family: $body-font-family, $font_1;
				font-size: 16px;
				font-weight: 600;
				letter-spacing: 0.64px;
				margin-top: 6px;
			}
			ul {
				padding-left: 0;
				margin-bottom: 0;
				li {
					display: inline-block;
					+ li {
						margin-left: 20px;
					}
					a {
						color: $color_log_cabin_approx;
						&:hover {
							color: $color_guardsman_red_approx;
						}
					}
				}
			}
		}
	}
}
.about-img-block {
	text-align: right;
	div {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.about-section2 {
	position: relative;
	padding-bottom: 50px;
	.about-detail {
		margin-bottom: 80px;
		> a {
			background-color: $color_guardsman_red_approx;
			display: inline-block;
			color: $white;
			font-size: 13px;
			padding: 13px 20px;
			letter-spacing: 0.52px;
			text-transform: uppercase;
			text-decoration: none;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.5s ease 0s;
			&:hover {
				background-color: $color_log_cabin_approx;
			}
		}
	}
	.about-img {
		position: absolute;
		right: 0;
		width: 33.125%;
		top: 0;
	}
}