.testimonial-section {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	.item {
		> p {
			color: $color_alto_approx;
			font-size: 14px;
			line-height: 26px;
			letter-spacing: 0.52px;
		}
		> i {
			display: block;
			margin-top: 26px;
			color: $color_guardsman_red_approx;
			font-size: 35px;
		}
		> h5 {
			color: $white;
			font-family: $font_3, $font_4;
			font-size: 30px;
			letter-spacing: 1.2px;
			line-height: 42px;
			margin-bottom: 0;
			margin-top: 30px;
		}
	}
	.carousel-indicators {
		position: relative;
		margin: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		margin-top: 50px;
		li {
			background-color: $color_shadow_approx;
			border: none;
			margin: 0 9px;
			width: 12px;
			height: 12px;
			&.active {
				background-color: $color_guardsman_red_approx;
			}
		}
	}
	.section-header h4 {
		color: $white;
	}
}
.testimonial-section::before {
	background-color: $black_80;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}