
.menu-section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	.top-img {
		position: absolute;
		left: 10px;
		top: 0;
		width: 22.9687%;
	}
	.bottom-img {
		position: absolute;
		right: 10px;
		bottom: 0;
		width: 22.9687%;
		text-align: right;
	}
	.menu-item {
		display: inline-block;
		width: 100%;
		min-height: 89px;
		.item-thumb {
			float: left;
			width: 15%;
			i img {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
				border: 1px solid $color_guardsman_red_approx;
			}
		}
		h3 {
			font-family: $body-font-family, $font_1;
			font-size: 16px;
			font-weight: bold;
			width: 53%;
			float: left;
			color: $color_guardsman_red_approx;
			margin-left: 15px;
			margin-bottom: 0;
			margin-top: 17px;
			letter-spacing: 0.64px;
			line-height: 26px;
			text-transform: uppercase;
			> span {
				color: $color_tapa_approx;
				font-family: $font_2, $font_1;
				font-size: 12px;
				font-weight: 700;
				letter-spacing: 0.48px;
				text-transform: none;
				display: block;
			}
		}
		> span {
			color: $color_guardsman_red_approx;
			float: right;
			width: 28%;
			font-size: 25px;
			font-weight: bold;
			letter-spacing: 1px;
			position: relative;
			margin-top: 10px;
			sup {
				font-family: $font_5, $font_6, $font_7, $font_8;
				font-size: 20px;
				font-weight: bold;
				margin-right: 5px;
			}
		}
		> span::before {
			border-top: 1px dashed $color_log_cabin_approx;
			content: "";
			display: inline-block;
			height: 1px;
			width: 58%;
			margin-right: 15px;
			vertical-align: middle;
		}
	}
}

.menu_popupform {
	&.modal {
		padding-right: 0 !important;
		text-align: center;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: 0;
		}
		.modal-content {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			border: none;
		}
	}
	.modal-body {
		padding: 30px 15px;
		ul {
			padding-left: 0;
			list-style: none;
			margin-bottom: 0;
		}
	}
	.wpcf7-form {
		margin-bottom: 0;
		.input-group {
			.wpcf7-form-control {
				display: inline-block;
				padding-left: 60px;
				padding-right: 10px;
				width: 100%;
				color: $black;
				background-color: $white;
				letter-spacing: 0;
				&.wpcf7-select {
					color: $color_tapa_approx;
					padding-top: 10px;
					position: relative;
					z-index: 2;
					height: 41px;
				}
				&:-ms-input-placeholder {
					color: $black;
				}
			}
			.wpcf7-form-control::-webkit-input-placeholder {
				color: $black;
			}
			.wpcf7-form-control::-moz-placeholder {
				color: $black;
			}
		}
		&.input-group .wpcf7-form-control:-moz-placeholder {
			color: $black;
		}
		.wpcf7-form-control.wpcf7-submit {
			width: auto;
		}
	}
	.modal-title {
		line-height: 24px;
	}
	.modal-dialog {
		display: inline-block;
		margin: 45px auto;
		max-width: 600px;
		text-align: left;
		vertical-align: middle;
		width: 100%;
	}
	.input-group {
		min-height: 40px;
		display: inline-block;
		width: 100%;
	}
	.input-group-addon {
		height: 40px;
		width: 40px;
		line-height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		z-index: 3;
		i.icon {
			margin-left: 0;
			height: auto;
			width: auto;
			vertical-align: middle;
			line-height: normal;
		}
	}
}
.menupopup_btn {
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	color: $color_alto_approx;
	font-size: 13px;
	padding: 0;
	margin-left: 15px;
	display: inline-block;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	&:focus {
		color: $color_guardsman_red_approx;
	}
	&:hover {
		color: $color_guardsman_red_approx;
	}
	i {
		margin-right: 15px;
	}
}