.gallery-section {
	background-color: $color_log_cabin_approx;
	margin-bottom: 25px;
	padding-bottom: 80px;
	padding-top: 100px;
	position: relative;
	.section-header {
		margin-bottom: 40px;
		h4 {
			color: $white;
		}
	}
	.row {
		margin: 0;
	}
}
.gallery-section::before {
	background-repeat: repeat-y;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.gallery-category {
	text-align: center;
	position: relative;
	ul {
		padding-left: 0;
		margin-bottom: 48px;
		display: inline-block;
		li {
			display: inline-block;
			margin: 0 12px 6px;
			a {
				color: $white;
				font-family: $body-font-family, $font_1;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.56px;
				text-decoration: none;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s ease 0s;
				&:hover {
					color: $color_guardsman_red_approx;
				}
				&.active {
					color: $color_guardsman_red_approx;
				}
			}
		}
	}
}
.gallery-box {
	margin-bottom: 30px;
	text-align: center;
	a {
		display: inline-block;
		position: relative;
		&:hover::before {
			opacity: 1;
		}
		&:hover::after {
			top: 50%;
			opacity: 1;
		}
	}
	a::before {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.5s ease 0s;
		background-color: $black_70;
		bottom: 0;
		content: "";
		display: inline-block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0;
	}
	a::after {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.5s ease 0s;
		background-color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		content: "\e681";
		font-family: $font_10;
		font-size: 24px;
		height: 59px;
		width: 59px;
		color: $color_guardsman_red_approx;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0%, -50%);
		opacity: 0;
		text-align: center;
		vertical-align: middle;
		line-height: 59px;
	}
}
.gallery-page {
	background-color: transparent;
	margin-top: 75px;
	margin-bottom: 45px;
	.section-header h4 {
		color: $color_log_cabin_approx;
	}
	.gallery-category ul li a {
		color: $color_log_cabin_approx;
		&:hover {
			color: $color_guardsman_red_approx;
		}
		&.active {
			color: $color_guardsman_red_approx;
		}
	}
}
.gallery-page::before {
	display: none;
}