.services-section {
	padding-top: 100px;
	padding-bottom: 70px;
	.srv-box {
		text-align: center;
		margin-bottom: 30px;
		.img-box {
			display: inline-block;
			width: 100%;
			border: 1px solid $color_guardsman_red_approx;
			position: relative;
			overflow: hidden;
			margin-bottom: 4px;
			.srv-content {
				background-color: $black_80;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -100%;
				text-align: center;
				color: $white;
				padding: 38px 70px;
				opacity: 0;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.5s ease 0s;
				span {
					text-transform: uppercase;
					font-family: $body-font-family, $font_1;
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 0.64px;
					line-height: 26px;
					color: $white;
					> a {
						color: $color_guardsman_red_approx;
						display: block;
						text-decoration: none;
						&:hover {
							color: $white;
							text-decoration: none;
						}
					}
				}
			}
		}
		> h4 {
			font-family: $body-font-family, $font_1;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0.45px;
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 26px;
			margin-top: 6px;
		}
		&:hover .img-box .srv-content {
			bottom: 0;
			opacity: 1;
		}
	}
}