.newsletter-section {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 28px;
	padding-top: 28px;
	margin-bottom: 75px;
	max-width: 1920px;
	overflow: hidden !important;
	.container {
		position: relative;
		> h3 {
			display: inline-block;
			vertical-align: middle;
			color: $white;
			font-family: $body-font-family, $font_1;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.12px;
			margin-bottom: 7px;
			margin-top: 7px;
			text-transform: uppercase;
			margin-right: 80px;
			line-height: 37px;
		}
		> p {
			display: inline-block;
			vertical-align: middle;
			color: $color_iron_approx;
			margin-bottom: 0;
		}
	}
	.newsletter-form {
		float: right;
		.input-group {
			background-color: $white;
			max-width: 360px;
			width: 100%;
			padding: 4px 8px;
			.form-control {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				height: 37px;
				border: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				outline: none;
				z-index: 4;
			}
			.btn {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				padding: 0 25px;
				height: 37px;
				background-color: $color_guardsman_red_approx;
				color: $white;
				text-transform: uppercase;
				font-family: $body-font-family, $font_1;
				font-size: 13px;
				font-weight: bold;
				border: none;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				outline: none;
				&:hover {
					background-color: $color_log_cabin_approx;
				}
			}
		}
	}
	form.mc4wp-form {
		float: right;
	}
	.mc4wp-alert.mc4wp-error p {
		display: inline-block;
		margin-bottom: 0;
		margin-top: 5px;
	}
}

.newsletter-section::before {
	background-color: $black_80;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
