.team-section {
	padding-top: 100px;
	padding-bottom: 60px;
}
.team-box {
	position: relative;
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
	&:hover::before {
		opacity: 1;
	}
	&:hover .team-content {
		background-color: transparent;
		left: 0;
		right: 0;
		top: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0%, -50%);
		bottom: auto;
		h4 {
			color: $color_guardsman_red_approx;
		}
		h6 {
			color: $white;
		}
	}
}
.team-box::before {
	background-color: $black_85;
	border: 3px solid $color_zombie_approx;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
}
.team-content {
	background-color: $white;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	text-align: center;
	padding-top: 18px;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(0, 0);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s ease 0s;
	max-height: 150px;
	overflow: hidden;
	> h4 {
		color: $color_log_cabin_approx;
		font-family: $body-font-family, $font_1;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.56px;
		text-transform: uppercase;
		line-height: 21px;
	}
	> h6 {
		color: $color_tapa_approx;
		font-size: 13px;
		letter-spacing: 0.52px;
		line-height: 18px;
		text-transform: capitalize;
		padding-bottom: 14px;
		position: relative;
	}
	> h6::before {
		background-color: $color_guardsman_red_approx;
		content: "";
		width: 41px;
		height: 1px;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
	}
	> ul {
		padding-left: 0;
		margin-bottom: 0;
		margin-top: 15px;
		li {
			display: inline-block;
			margin: 0 4px;
			a {
				background-color: $color_cape_cod_approx;
				font-size: 12px;
				width: 25px;
				height: 25px;
				float: left;
				line-height: 25px;
				color: $white;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.5s ease 0s;
				&:hover {
					background-color: $color_guardsman_red_approx;
				}
			}
		}
	}
}