.counter-section {
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 70px;
	padding-top: 100px;
	position: relative;
	.section-header {
		h3 {
			color: $white;
		}
		h4 {
			color: $color_guardsman_red_approx;
		}
	}
	.counter-box {
		text-align: center;
		margin-bottom: 30px;
		display: inline-block;
		width: 100%;
		> i {
			width: 63px;
			height: 62px;
			display: inline-block;
			line-height: 62px;
			margin-bottom: 14px;
		}
		span {
			color: $white;
			font-size: 65px;
			display: block;
		}
		h6 {
			color: $white;
			font-size: 16px;
			font-weight: bold;
			font-style: italic;
			letter-spacing: 1.6px;
			line-height: 24px;
			margin-top: 14px;
			margin-bottom: 0;
		}
	}
}
.counter-section::before {
	background-color: $color_log_cabin_70_approx;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}