
.latest-events-section {
	margin-top: 80px;
	margin-bottom: 45px;
	.row {
		margin: 0;
	}
}
.events-item {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 30px;

	.event-content {
		background-color: $black_80;
		color: $white;
		padding: 60px 50px 19px;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.5s ease 0s;
		h4 {
			font-weight: bold;
			font-size: 18px;
			font-style: italic;
			letter-spacing: 0.72px;
			margin-top: 0;
			margin-bottom: 20px;
			position: relative;
			padding-bottom: 19px;
			line-height: 26px;
			color: $white;
		}
		h4::before {
			background-color: $color_guardsman_red_approx;
			bottom: 0;
			content: "";
			height: 3px;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			width: 63px;
		}
		p {
			font-size: 14px;
			color: $color_alto_approx;
			letter-spacing: 0.52px;
			line-height: 21px;
		}
		> a {
			background-color: $color_guardsman_red_approx;
			color: $white;
			display: inline-block;
			padding: 0;
			font-size: 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.52px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.5s ease 0s;
			opacity: 0;
			height: 0;
		}
	}
	.event-date {
		color: $color_guardsman_red_approx;
		display: inline-block;
		width: 100%;
		font-size: 13px;
		letter-spacing: 0.52px;
		margin-top: 12px;
		margin-bottom: 17px;
		font-weight: bold;
	}
	.event-price {
		font-weight: bold;
		color: $color_guardsman_red_approx;
		margin-bottom: 10px;
	}
	&:hover .event-content {
		background-color: $black_95;
		padding-bottom: 49px;
		> a {
			opacity: 1;
			padding: 12px 20px;
			font-size: 13px;
			height: auto;
			&:hover {
				background-color: $white;
				color: $color_guardsman_red_approx;
			}
		}
	}
}
