.section-header {
	margin-bottom: 60px;
	padding-bottom: 27px;
	position: relative;

	h3 {
		color: $color_guardsman_red_approx;
		font-family: $font_3, $font_4;
		font-size: 65px;
		line-height: 84px;
		letter-spacing: 2.6px;
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		text-transform: capitalize;
	}

	h4 {
		color: $color_log_cabin_approx;
		font-family: $body-font-family, $font_1;
		font-size: 25px;
		font-weight: 700;
		margin-top: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 40px;
	}

	&.text-center::before {
		margin: 0 auto;
		right: 0;
	}
}

.section-header2 {
	padding-bottom: 10px;
	margin-bottom: 32px;
}

.section-header2::before {
	background-color: #C00;
	bottom: 0;
	width: 70px;
	height: 2px;
	left: 0;
}

.section-header2 h3 {
	/*color: #f5b654;*/
}


.vc_row-has-fill {
	.wpb_text_column p {
		color: #fff;
	}
}
