.event-single-content {
	.event-details {
		display: block;
		color: $color_tapa_approx;
		font-size: 14px;
		letter-spacing: 0.52px;
		line-height: 26px;
		position: relative;

		span {
			color: $color_tapa_approx;
		}

		.tribe-event-date-start {
			margin-left: 10px;
		}
	}

	p {
		color: $color_tapa_approx;
		font-size: 14px;
		letter-spacing: 0.52px;
		line-height: 21px;
	}
	li {
		color: $color_tapa_approx;
	}
	blockquote {
		border-left: none;
		padding-left: 63px;
		padding-right: 0;
		color: $color_shark_approx;
		position: relative;
		z-index: 0;
		margin-bottom: 25px;
		p {
			margin-bottom: 0;
			color: $color_shark_approx;
			font-style: italic;
			letter-spacing: 0.52px;
		}
	}
	blockquote::before {
		content: "\f10d";
		font-family: $font_9;
		position: absolute;
		left: 15px;
		top: 15px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: 0.5;
		color: $color_guardsman_red_approx;
		font-size: 26px;
	}

	.ticket-button {
		background-color: $color_guardsman_red_approx;
		border: 1px solid $color_guardsman_red_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		color: $white;
		font-size: 13px;
		font-weight: 400;
		outline: none;
		line-height: 24px;
		text-transform: uppercase;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1s ease 0s;
		padding: 12px 30px;
	}

	.tribe-events-meta-group {

		dt {
			float: left;
			margin-right: 8px;
		}
	}

	.tribe-events-gmap {
		margin-top: 8px;
		display: block;
		color: $color_guardsman_red_approx;
	}
}

.tribe-events-tickets tr:first-child td {
	border-bottom: 1px solid #dfdfdf !important;
}

.tribe-events-tickets {
	border: 1px solid #eee !important;
}

.event-address {
	margin-top: 1em;
	font-style: italic;
}
.event-quantity {
	display: flex;
}

